<section class="page__share">
    {% if site.data.ui-text[site.locale].share_on_label %}
    <h4 class="page__share-title">
            {{ site.data.ui-text[site.locale].share_on_label | default: "SHARE THE LOVE" }}
        </h4> {% endif %}
    <div class="social-share-links">
        <a href="https://twitter.com/intent/tweet?{% if site.twitter.username %}via={{ site.twitter.username }}&{% endif %}text={{ page.title }} {{ page.url | absolute_url }}" target="_blank" class="btn btn--twitter" title="Share on Twitter">
            <i class="fa fa-fw fa-twitter fa-lg" aria-hidden="true"></i><span> Twitter</span>
        </a>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url }}" target="_blank" class="btn btn--facebook" title="Share on Facebook">
            <i class="fa fa-fw fa-facebook fa-lg" aria-hidden="true"></i><span> Facebook</span>
        </a>
        <a href="https://plus.google.com/share?url={{ page.url | absolute_url }}" target="_blank" class="btn btn--google-plus" title="Share on Google Plus">
            <i class="fa fa-fw fa-google-plus fa-lg" aria-hidden="true"></i><span> Google+</span>
        </a>
        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url }}" target="_blank" class="btn btn--linkedin" title="Share on LinkedIn">
            <i class="fa fa-fw fa-linkedin fa-lg" aria-hidden="true"></i><span> LinkedIn</span>
        </a>
        <a href="https://www.reddit.com/submit?url={{ page.url | absolute_url }}&title={{ page.title }}" target="_blank" class="btn btn--reddit" title="Share on Reddit">
            <i class="fa fa-fw fa-reddit" aria-hidden="true"></i><span> Reddit</span>
        </a>
        <a href="mailto:?subject=Link - {{ page.title }}&amp;body=Check out this link by FVCproductions: {{ page.url | absolute_url }}" class="btn btn--email" title="{{ site.data.ui-text[site.locale].share_on_label }} Email">
            <i class="fa fa-fw fa-envelope-o" aria-hidden="true"></i><span> Email</span>
        </a>
    </div>
</section>
