<div class="row page-section">
  <div class="12u$">
    <div id="filters" class="button-group">
      <button class="button is-checked" data-filter="*">All</button>
      <button class="button" data-filter=".conference">Conferences 👥</button>
      <button class="button" data-filter=".education">Education 🎓</button>
      <button class="button" data-filter=".experience">Experiences 💼</button>
      <button class="button" data-filter=".hackathon">Hackathons 🛠️</button>
      <button class="button" data-filter=".program">Programs 🎒️</button>
      <button class="button" data-filter=".speaking">Speaking 💬️</button>
      <button class="button" data-filter=".volunteering">Volunteering 💛️</button>
    </div>
  </div>
</div>
<!-- No Isotope Results -->
<div class="row page-section">
  <div class="12u$">
    <p id="loading">Loading these precious tiles ⏳</p>
  </div>
</div>
