<div class="row page-section">
  <div class="12u$">
    <!-- No Isotope Results -->
    <h2 id="loading">It's loading - give it a sec! ⏳</h2>
    <div class="isotope-results">
      <blockquote>You can filter adventures by their type!</blockquote>
      <!-- Filters -->
      <div class="row page-section">
        <div class="12u$">
          <div id="filters" class="filter-button-group">
            <button class="button big is-checked" data-filter="*">All</button>
            <button class="button big" data-filter=".conference">Conferences 👥</button>
            <button class="button big" data-filter=".education">Education 🎓</button>
            <button class="button big" data-filter=".experience">Experiences 💼</button>
            <button class="button big" data-filter=".hackathon">Hackathons 🛠️</button>
            <button class="button big" data-filter=".program">Programs 🎒️</button>
            <button class="button big" data-filter=".speaking">Speaking 💬️</button>
            <button class="button big" data-filter=".volunteering">Volunteering 💛️</button>
          </div>
        </div>
      </div>
      <!-- Speaking Tiles -->
      <div class="row page-section">
        <div class="12u$">
          <section class="section tiles isotope-grid">
            {{ $pages := .Pages | union (.Sections) }}
            <!-- Alphabetical Order -->
            {{ if .Params.alphabetical }} {{ range $pages.ByTitle }} {{ partial "tile.html" . }} {{ end }}
            <!-- Date Order -->
            {{ else }} {{ range $pages.ByDate.Reverse }} {{ partial "tile.html" . }} {{ end }} {{ end }}
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
