<div class="row page-section">
  <div class="12u$">
    <h3>
      💸️ {{ .Site.Data.i18n.en.sectiondonate }}
    </h3>
    <p>If you have found any of my contributions valuable, kindly consider supporting me through a small donation or by becoming
      an ongoing patron. </p>
    <a href="//patreon.com/fvcproductions" target="_blank" rel="noopener">
      <img src="{{.Site.BaseURL}}assets/img/donate/patreon.svg" height="50" alt="Become a Patron!">
    </a>
    &nbsp;
    <a href="//paypal.me/fvcproductions/5" target="_blank" rel="noopener">
      <img src="{{.Site.BaseURL}}assets/img/donate/paypal.svg" height="50" alt="Donate via PayPal!">
    </a>
    &nbsp;
    <a href="//venmo.com/fvcproductions" target="_blank" rel="noopener">
      <img src="{{.Site.BaseURL}}assets/img/donate/venmo.svg" height="50" alt="Venmo me!">
    </a>
  </div>
</div>
