<!-- Footer -->
<footer id="footer">
  <div class="inner">
    {{ partial "social-footer.html" . }}
    <ul class="copyright">
      <!-- Copyright -->
      {{ with .Site.Params.copyright }}
      <li>
        <i title="Copyright FVCproductions" class="fas fa-copyright"></i> Copyright
        <!-- FVCproductions -->
        <a href="/">{{ . }}</a>
        {{ end }}
        <!-- Year -->
        {{ with .Site.Params.year }} {{ . }} {{ end }} to {{ now.Year }}
        <!-- Colophon -->
        &nbsp;|&nbsp;
        <i title="Colophon" class="fas fa-cog"></i>
        <a href="/about/colophon/">Colophon</a>
      </li>
    </ul>
  </div>
</footer>
