<div class="page-header">
  <h1>{{ .Title }}</h1>
  <div class="page-info">
    <!-- Description -->
    {{ with .Description }}
    <div class="row">
      <div class="12u">
        <p>
          <i title="Description" class="fas fa-info-circle fa-lg"></i>{{ . }}
        </p>
      </div>
    </div>
    {{ end }}
    <!-- External Link -->
    {{ with .Params.link }}
    <div class="row">
      <div class="12u">
        <p>
          <i title="External Link" class="fas fa-external-link-square-alt fa-lg"></i>
          <a href="https:{{ . }}" target="_blank" rel="nofollow">https:{{ . }}</a>
        </p>
      </div>
    </div>
    {{ end }}
    <!-- Publish Date -->
    {{ if not .PublishDate.IsZero }}
    <div class="row">
      <div class="12u">
        <p>
          <i title="Calendly" class="fas fa-calendar-check fa-lg"></i>Created {{ .Date.Format "Monday - January 2, 2006" }}
        </p>
      </div>
    </div>
    {{ end }}
  </div>
  <!-- Header Image -->
  <div class="row">
    <div class="12u$">
      {{ if .Params.header.image }}
      <span class="image main">
        <img src="{{ .Params.header.image }}" alt="{{ .Params.header.caption }}">
      </span> {{ end }}
    </div>
  </div>
</div>
