<!DOCTYPE html>
<html lang="{{ $.Site.Language.Lang }}">

<head>
  <base href="{{ $.Site.BaseURL }}">
  <meta charset="utf-8">
  <meta http-equiv="cleartype" content="on">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="HandheldFriendly" content="True">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0">
  <title>{{ $.Site.Title }}</title>
  {{ partial "seo" . }}
  <link rel="stylesheet" href="css/main.css">
</head>

<body>