<div class="row page-section">
  <div class="12u$">
    <h3>Events</h3>
    <blockquote>You can filter the events by the talk I gave.</blockquote>
    <br>
    <!-- No Isotope Results -->
    <div class="row page-section">
      <div class="12u$">
        <p id="loading">Loading these precious tiles ⏳</p>
      </div>
    </div>
    <!-- Filters -->
    <div class="row page-section">
      <div class="12u$">
        <div id="filters" class="button-group">
          <button class="button is-checked" data-filter="*">All Talks</button>
          <button class="button" data-filter=".burnprevention">Burn Prevention</button>
          <button class="button" data-filter=".bootcamps">Coding Bootcamps</button>
          <button class="button" data-filter=".hourofcode">Hour of Code</button>
          <button class="button" data-filter=".imovie101">iMovie 101</button>
          <button class="button" data-filter=".wizard">So You Want To Be A Wizard</button>
          <button class="button" data-filter=".typescript101">TypeScript 101</button>
          <button class="button" data-filter=".vaacm">VA ACM</button>
          <button class="button" data-filter=".webdesign">Web Design</button>
        </div>
      </div>
    </div>
    <!-- Speaking Tiles -->
    <div class="row page-section">
      <div class="12u$">
        <section class="section tiles isotope-grid">
          {{ range ($.Site.Taxonomies.tags.speaking).Pages.ByDate.Reverse }} {{ partial "tile.html" . }} {{ end }}
        </section>
      </div>
    </div>
  </div>
</div>
