---
title: "Speaking 💬"
excerpt: "What I've spoken about."
date: 2012-01-01
header:
  image: https://fvcproductions.files.wordpress.com/2015/11/12219321_941445252602315_1897049180671471124_n.jpg
  teaser: https://fvcproductions.files.wordpress.com/2015/11/12219321_941445252602315_1897049180671471124_n.jpg
---

<div style="width: 40%; padding: 0 10pt 0 0; float: left;">

<a href="http://speakerdeck.com/fvcproductions" target="_blank"><img class="wp-image-4358 size-venture-square-image aligncenter" src="https://fvcproductions.files.wordpress.com/2015/11/speakerdeck-512.png?w=200&h=200&crop=1" alt="Speaker Deck iOS Logo" width="200" height="200" /></a>
<h4 style="text-align: center;">Presentations can be found at <a href="http://speakerdeck.com/fvcproductions" target="_blank"><code>speakerdeck.com/fvcproductions</code></a>.</h4>
</div>
<div style="width: 40%; padding: 0 10pt 0 0; float: right; text-align: center;">

<a href="http://lanyrd.com/profile/fvcproductions/" target="_blank"><img class="wp-image-4357 size-venture-square-image" src="https://fvcproductions.files.wordpress.com/2015/11/lanyrd-512.png?w=200&h=200&crop=1" alt="Lanyrd iOS Logo" width="200" height="200" /></a>
<h4>Conference activity can be found at <a href="http://lanyrd.com/profile/fvcproductions/" target="_blank"><code>lanyrd.com/profile/fvcproductions</code></a>.</h4>
</div>

<div class="grid__wrapper">
  {% for post in site.talks %}
    {% include archive-single.html type="grid" %}
  {% endfor %}
</div>