{% if site.twitter.username %}
    <li>
        <a title="Twitter - FVCproductions" target="_blank" href="https://twitter.com/{{ site.twitter.username }}"><i class="fa fa-fw fa-twitter fa-3x" aria-hidden="true"></i></a>
    </li>
{% endif %}

{% if site.author.linkedin %}
    <li>
        <a title="LinkedIn - FVCproductions" target="_blank" href="https://linkedin.com/in/{{ site.author.linkedin }}"><i class="fa fa-fw fa-linkedin fa-3x" aria-hidden="true"></i></a>
    </li>
{% endif %}

{% if site.author.github %}
<li>
    <a title="GitHub - FVCproductions" target="_blank" href="https://github.com/{{ site.author.github }}"><i class="fa fa-fw fa-github-alt fa-3x" aria-hidden="true"></i></a>
</li>
{% endif %}

{% if site.author.behance %}
<li>
    <a title="Behance - FVCproductions" target="_blank" href="https://behance.net/{{ site.author.behance }}"><i class="fa fa-fw fa-behance fa-3x" aria-hidden="true"></i></a>
</li>
{% endif %}

{% if site.author.youtube %}
<li>
    <a title="YouTube - FVCproductions" target="_blank" href="https://youtube.com/c/{{ site.author.youtube }}"><i class="fa fa-fw fa-youtube-play fa-3x" aria-hidden="true"></i></a>
</li>
{% endif %}

{% if site.author.spotify %}
<li>
    <a title="Spotify - FVCproductions" target="_blank" href="https://open.spotify.com/user/{{ site.author.spotify }}"><i class="fa fa-fw fa-spotify fa-3x" aria-hidden="true"></i></a>
</li>
{% endif %}

<li>
    <a title="RSS Feed - FVCproductions" target="_blank" href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | absolute_url }}{% endif %}"><i class="fa fa-fw fa-rss fa-3x" aria-hidden="true"></i></a>
</li>
