<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ .Title }}</title>
  <base href="{{ .Site.BaseURL }}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="DC.title" content="{{ .Title }}">
  <meta name="DC.description" content="{{ .Description }}">
  <meta name="DC.creator" content="Frances Coronel">
  <meta name="DC.language" content="en">
  <meta name="DC.publisher" content="Frances Coronel">
  <meta name="DC.subject" content="{{ range .Params.tags }}{{ . }},{{ end }}">
  <!-- SEO -->
  {{ partial "seo.html" . }}
  <!-- Twitter Cards -->
  {{ template "_internal/twitter_cards.html" . }}
  <!-- Open Graph -->
  {{ template "_internal/opengraph.html" . }}
  <!-- Schema -->
  {{ template "_internal/schema.html" . }}
  <!-- Google News -->
  {{ template "_internal/google_news.html" . }}
  <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/">
  <link rel="schema.DCTERMS" href="http://purl.org/dc/terms/">
  <link rel="stylesheet" href="{{.Site.BaseURL}}assets/css/main.css">
  <!--[if lte IE 9]><link rel="stylesheet" href="{{.Site.BaseURL}}assets/css/ie9.css"><![endif]-->
  <!--[if lte IE 8]><link rel="stylesheet" href="{{.Site.BaseURL}}assets/css/ie8.css"><![endif]-->
</head>

<body>
  <!-- Wrapper -->
  <div id="wrapper">
    {{ partial "logo.html" . }} {{ partial "navbar.html" . }}
    <div class="inner">
      {{ block "main" . }} {{ end }}
    </div>
    {{ partial "footer" . }}
  </div>
  <!-- Scripts -->
  <script src="//code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="//unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
  <script src="//npmcdn.com/imagesloaded@4/imagesloaded.pkgd.js"></script>
  <!--[if lte IE 8]><script src="{{.Site.BaseURL}}assets/js/ie.js"></script><![endif]-->
  <script src="{{.Site.BaseURL}}assets/js/app.js"></script>
</body>

</html>
