<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">

<head>
  <title>
    {{ .Title }}
  </title>
  <!-- SEO -->
  {{ partial "base/header/seo.html" . }}
  <!-- Favicons -->
  {{ partial "base/header/favicons.html" . }}
  <!-- Prefetch Third Party Resources -->
  <link rel="dns-prefetch" href="https://twemoji.maxcdn.com">
  <link rel="dns-prefetch" href="https://hovastate.s3.amazonaws.com">
  <link rel="dns-prefetch" href="https://google-analytics.com">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>
  <!-- Wrapper -->
  <div id="wrapper">
    <!-- Logo -->
    {{ partial "base/header/logo.html" . }}
    <!-- Right Menu Bar -->
    {{ partial "base/header/navbar.html" . }}
    <!-- Main Block -->
    <div class="inner">
      {{ block "main" . }} {{ end }}
    </div>
    <!-- Footer -->
    {{ partial "base/footer/index.html" . }}
  </div>
  <!-- Scripts -->
  <!-- Custom JS -->
  <script src="/assets/js/app.js"></script>
  <!-- One Signal -->
  <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
  <script>
    // One Signal Integration
    var OneSignal = window.OneSignal || [];
    OneSignal.push(function () {
      OneSignal.init({
        appId: "7bc782bf-6ee1-4373-8d1d-1346aba3b9ff",
      });
    });

    // Service Worker Registration
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/OneSignalSDKWorker.js').then(registration => {
          console.log('The service worker was registered! 🎉', registration);
        }).catch(registrationError => {
          console.log('The service worker registration failed. 😭️', registrationError);
        });
      });
    }
    // Image Alt
    $(".popover-body-icon img").attr("alt", "FVCproductions - Logo");

  </script>
  <style>
    #onesignal-popover-container #onesignal-popover-dialog .popover-button.primary {
      background: #253137 !important;
    }

    #onesignal-popover-container #onesignal-popover-dialog .popover-button.secondary {
      color: #253137 !important;
    }

  </style>
</body>

</html>
