<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">

<head>
  <title>
    {{ .Title }}
  </title>
  <!-- SEO -->
  {{ partial "base/header/seo.html" . }}
  <!-- Favicons -->
  {{ partial "base/header/favicons.html" . }}
  <!-- IE Styling -->
  <!--[if lte IE 9]><link rel="stylesheet" href="/assets/css/ie9.css"><![endif]-->
  <!--[if lte IE 8]><link rel="stylesheet" href="/assets/css/ie8.css"><![endif]-->
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>
  <!-- Wrapper -->
  <div id="wrapper">
    <!-- Logo -->
    {{ partial "base/header/logo.html" . }}
    <!-- Right Menu Bar -->
    {{ partial "base/header/navbar.html" . }}
    <!-- Main Block -->
    <div class="inner">
      {{ block "main" . }} {{ end }}
    </div>
    <!-- Footer -->
    {{ partial "base/footer/index.html" . }}
  </div>
  <!-- Scripts -->
  <!-- IE -->
  <!--[if lte IE 8]><script src="/assets/js/ie.js"></script><![endif]-->
  <!-- Custom JS -->
  <script src="/assets/js/app.js"></script>
  <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
  <script>
    // One Signal Integration
    var OneSignal = window.OneSignal || [];
    OneSignal.push(function () {
      OneSignal.init({
        appId: "7bc782bf-6ee1-4373-8d1d-1346aba3b9ff",
      });
    });

    // Service Worker Registration
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/OneSignalSDKWorker.js').then(registration => {
          console.log('The service worker was registered! 🎉', registration);
        }).catch(registrationError => {
          console.log('The service worker registration failed. 😭️', registrationError);
        });
      });
    }

  </script>
</body>

</html>
