{{ define "main" }}
<!-- Pages -->
{{ $listPages := .Data.Pages }}
<!-- Banner -->
{{ partial "body/hero/title.html" . }}
<!-- Page -->
<section class="section">
  <div class="container">
    <!-- Content -->
    <div class="content table-border-none">
      <blockquote>
        <strong>📄️ {{ len $listPages }} Pages</strong>
      </blockquote>
      <!-- Range -->
      {{ range $listPages.GroupByDate "2006" }}{{ partial "body/content/list/_index.html" . }}{{ end }}
      <!-- End Message -->
      {{ partial "body/content/list/end-message.html" . }}
    </div>
  </div>
</section>
{{ end }}
