{{ define "main" }}
<!-- Main -->
{{ range .Data.Pages.GroupByDate "2006" }}
<h1>{{ .Key }}</h1>
{{ range .Pages }}
<hr />
<h2>
  <a href="{{ .Permalink }}">{{ .Title }}</a>
</h2>
<p>
  {{ .Date.Format "Mon - January 2, 2006" }}
</p>
<div>
  {{ .Description }}
</div>
<div>
  {{ .Summary }}
  <p class="align-right">
    <a href="{{ .Permalink }}">
      <nobr>{{ .Site.Data.i18n.morelink }} →</nobr>
    </a>
  </p>
</div>
{{ end }} {{ end }}
<!-- Donate -->
{{ partial "donate.html" . }} {{ end }}
