{{ define "main" }}
<!-- Begin Main -->
<div class="page">
  <!-- Return to Top -->
  {{ partial "page/body/return-to-top.html" . }}
  <!-- Header -->
  {{ partial "page/header/index.html" . }}
  <!-- Body -->
  {{ partial "page/body/index.html" . }}
  <!-- Start - Not Primary Adventures Page -->
  {{ if not .Params.adventures }}
  <!-- Start - Check for child pages and child section pages -->
  {{ if .Pages | union (.Sections) }}
  <!-- Define Variable -->
  {{ $pages := .Pages | union (.Sections) }}
  <!-- Start Tiles -->
  <div class="page-section">
    <section class="section tiles">
      <!-- Alphabetical Order -->
      {{ if .Params.alphabetical }}
      <!-- By Title -->
      {{ range $pages.ByTitle }} {{ partial "page/body/tiles/tile-plain.html" . }} {{ end }}
      <!-- Date Order -->
      {{ else }}
      <!-- Reverse Order -->
      {{ range $pages.ByDate.Reverse }} {{ partial "page/body/tiles/tile-plain.html" . }} {{ end }} {{ end }}
    </section>
  </div>
  <!-- End Tiles -->
  {{ end }}
  <!-- End - Check for child pages and child section pages -->
  {{ end }}
  <!-- End - Not Primary Adventures Page -->
  <!-- Filtering -->
  {{ partial "filter/index.html" . }}
  <!-- Page Footer -->
  {{ partial "page/footer/index.html" . }}
</div>
<!-- End Main -->
{{ end }}
