{{ define "main" }}
<!-- Begin Main -->
<div class="page">
  <!-- Header -->
  {{ partial "header.html" . }}
  <div class="page-content">
    <!-- Content -->
    {{ if .Content }} {{ partial "content.html" . }} {{ end }}
    <!-- Filter by Tag -->
    {{ if .Params.speaking }}
    <section class="section tiles">
      {{ range ($.Site.Taxonomies.tags.speaking).Pages.ByDate.Reverse }} {{ partial "tile.html" . }} {{ end }}
    </section>
    {{ end }}
    <!-- Donate -->
    {{ partial "donate.html" . }}
    <!-- Pagination -->
    {{ if or (or (.PrevInSection) (.NextInSection)) }} {{ partial "pagination.html" . }} {{ end }}
    <!-- Disqus Comments -->
    {{ if not .Params.noComments }} {{ partial "comments.html" . }} {{ end }}
  </div>
</div>
<!-- End Main -->
{{ end }}
