{{ define "main" }}
<!-- Begin Main -->
<div class="page">
  <!-- Header -->
  {{ partial "header.html" . }}
  <!-- Content -->
  {{ if .Content }} {{ partial "content.html" . }} {{ end }}
  <!-- Sharing -->
  {{ partial "sharing.html" . }}
  <!-- Subscribe -->
  {{ partial "subscribe.html" . }}
  <!-- Contact -->
  {{ partial "contact.html" . }}
  <!-- Donate -->
  {{ partial "donate.html" . }}
  <!-- Disqus Comments -->
  {{ if not .Params.noComments }} {{ partial "comments.html" . }} {{ end }}
  <!-- Pagination -->
  {{ if or (or (.PrevInSection) (.NextInSection)) }} {{ partial "pagination.html" . }} {{ end }}
</div>
<!-- End Main -->
{{ end }}
