{{ define "main" }}
<!-- Banner -->
{{ partial "body/hero/title.html" . }}
<!-- Content -->
<div class="section pt-0">
  <div class="container">
    <div class="content">
      <div class="columns is-multiline">
        <!-- Looping -->
        {{ $data := .Data }} {{ range $key, $value := .Data.Terms.ByCount }}
        <div class="column is-one-quarter">
          <a class="reset" aria-label="{{ $value.Name }}" href="{{ $value.Name | urlize }}">
            <div class="card card-equal-height">
              <div class="media-content">
                <h2>{{ $value.Count }}</h2>
                <p class="has-text-weight-light is-capitalized">{{ $value.Name }}</p>
              </div>
            </div>
          </a>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>
<!-- End Main -->
{{ end }}
