{{ define "main" }}
<!-- Banner -->
{{ partial "body/hero/title.html" . }}
<!-- Content -->
<section class="section">
  <div class="container">
    <div class="content">
      <ol>
        {{ $data := .Data }} {{ range $key, $value := .Data.Terms.ByCount }}
        <li>
          <p>
            <a href="{{ $value.Name | urlize }}">{{ $value.Name }}</a> -
            <b>{{ $value.Count }}</b>
          </p>
        </li>
        {{ end }}
      </ol>
      <!-- End Message -->
      {{ partial "body/content/list/end-message.html" . }}
      <!-- Categories -->
      {{ partial "body/content/list/categories-link.html" . }}
    </div>
  </div>
</section>
<!-- End Main -->
{{ end }}
