<script async src="https://cdn.onesignal.com/sdks/OneSignalSDK.js"></script>
<script>
  var OneSignal = window.OneSignal || [];
  OneSignal.push(function () {
    OneSignal.init({
      appId: "{{ .Site.Params.one_signal_id }}",
    });
  });

</script>
<style>
  button.onesignal-customlink-subscribe.onesignal-reset.state-unsubscribed.button.large {
    background-color: #1e55ae !important;
    border-color: transparent !important;
    color: #fff !important;
    border: none;
    box-shadow: none;
    display: inline-block;
    font-family: inherit;
    font-size: initial;
    font-weight: initial;
    height: initial;
    line-height: initial;
    padding: .5em 1em;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    text-transform: none;
  }

  button.onesignal-customlink-subscribe.onesignal-reset.state-unsubscribed.button.large:hover {
    background-color: #1c50a3 !important;
    border-color: transparent !important;
    color: #fff !important;
  }

</style>
