<button class="button big is-checked" data-filter="*">
  All Adventures
</button>
<button class="button big" data-filter=".award">
  Awards ️️🏆 ({{ len (($.Site.Taxonomies.categories.award).Pages) }})
</button>
<button class="button big" data-filter=".blog">
  Blog ️📝️ ({{ len (($.Site.Taxonomies.categories.blog).Pages) }})
</button>
<button class="button big" data-filter=".conference">
  Conferences 👥 ({{ len (($.Site.Taxonomies.categories.conference).Pages) }})
</button>
<button class="button big" data-filter=".education">
  Education 🎓 ({{ len (($.Site.Taxonomies.categories.education).Pages) }})
</button>
<button class="button big" data-filter=".experience">
  Experiences 👓️ ({{ len (($.Site.Taxonomies.categories.experience).Pages) }})
</button>
<button class="button big" data-filter=".hackathon">
  Hackathons 🛠️ ({{ len (($.Site.Taxonomies.categories.hackathon).Pages) }})
</button>
<button class="button big" data-filter=".program">
  Programs 🎒️ ({{ len (($.Site.Taxonomies.categories.program).Pages) }})
</button>
<button class="button big" data-filter=".portfolio">
  Projects 💼️ ({{ len (($.Site.Taxonomies.categories.portfolio).Pages) }})
</button>
<button class="button big" data-filter=".review">
  Reviews ️✅ ({{ len (($.Site.Taxonomies.categories.review).Pages) }})
</button>
<button class="button big" data-filter=".speaking">
  Speaking 💬️ ({{ len (($.Site.Taxonomies.categories.speaking).Pages) }})
</button>
<button class="button big" data-filter=".volunteering">
  Volunteering 💛️ ({{ len (($.Site.Taxonomies.categories.volunteering).Pages) }})
</button>
