body,
input,
select,
textarea {
  color: _palette(fg);
  font-family: _font(family);
  font-size: 12pt;
  font-weight: _font(weight);
  line-height: 1.75;
  @include breakpoint(tablet) {
    font-size: 14pt;
  }
  @include breakpoint(laptop) {
    font-size: 16pt;
  }
  @include breakpoint(xlaptop) {
    font-size: 18pt;
  }
  @include breakpoint(fourk) {
    font-size: 20pt;
  }
}

a {
  @include vendor(
    "transition",
    (
      "border-bottom-color #{_duration(transition)} ease",
      "color #{_duration(transition)} ease"
    )
  );
  text-decoration: none;
  color: _palette(fg);
  &:hover {
    color: _palette(accent1);
    img {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
      &.emoji {
        box-shadow: none;
      }
    }
  }
  &.no-underline {
    border-bottom: none !important;
  }
  &.plain-link {
    border-bottom: dotted 1px transparentize(_palette(fg), 0.5);
    &:hover {
      border-style: solid;
      font-weight: 400;
    }
  }
}

strong,
b {
  color: _palette(fg-bold);
  font-weight: _font(weight-bold-x);
}

em,
i {
  font-style: italic;
}

u,
ins {
  text-decoration: none;
  border-bottom: 1px solid _palette(fg);
}

u a,
ins a {
  color: inherit;
}

del a {
  color: inherit;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: none;
  cursor: help;
  border-bottom: 1px dotted _palette(fg);
}

p,
pre,
blockquote,
ul,
ol,
dl,
figure,
table,
fieldset {
  orphans: 3;
  widows: 3;
}

p {
  margin: 0 0 _size(element-margin) 0;
}

h1 {
  color: _palette(fg-bold);
  font-weight: _font(weight-bold-xx);
  line-height: 1.3;
  margin: 0 0 (_size(element-margin) * 0.5) 0;
  letter-spacing: _font(letter-spacing-alt);
  a {
    color: inherit;
  }
}

h2,
h3,
h4,
h5,
h6 {
  color: _palette(fg-bold);
  font-weight: _font(weight-bold);
  line-height: 1.5;
  margin: 0 0 (_size(element-margin) * 1) 0;
  a {
    color: inherit;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0 0.5em;
}

h3,
h4,
h5,
h6 {
  margin-top: 1em;
}

h1 {
  font-size: 3em;
  font-weight: 600;
}

h2 {
  font-size: 2em;
  font-weight: 500;
}

h3 {
  font-size: 1.8em;
  font-weight: 400;
}

h4 {
  font-size: 1.4em;
  font-weight: 300;
}

h5 {
  font-size: 1.3em;
  font-weight: 200;
  text-transform: uppercase;
}

sub {
  font-size: 0.8em;
  position: relative;
  top: 0.5em;
}

sup {
  font-size: 0.8em;
  position: relative;
  top: -0.5em;
}

blockquote {
  @include blockquote();
  margin: 1em;
  padding-left: 1em;
  border-left: 0.25em solid _palette(border);
  color: _palette(border);
}

hr {
  border: 0;
  border-bottom: solid _size(border-width) _palette(border);
  margin: 2em 0;
  &.major {
    margin: (_size(element-margin) * 1.5) 0;
  }
}
