// Type
body,
input,
select,
textarea {
  color: _palette(fg);
  font-family: _font(family);
  font-size: 16pt;
  font-weight: _font(weight);
  line-height: 1.75;
}

a {
  @include vendor("transition", ( "border-bottom-color #{_duration(transition)} ease", "color #{_duration(transition)} ease"));
  text-decoration: none;
  color: _palette(fg);
  &:hover {
    color: _palette(accent1);
    cursor: -webkit-image-set( url(https://hovastate.s3.amazonaws.com/hova.png) 1x, url(https://hovastate.s3.amazonaws.com/hova.2x.png) 2x) 24 1, default;
  }
}

.page {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li,
  ol,
  ul {
    a {
      border-bottom: dotted 1px transparentize(_palette(fg), 0.5);
      &:hover {
        border-style: solid;
        font-weight: 400;
      }
    }
  }
}

strong,
b {
  color: _palette(fg-bold);
  font-weight: _font(weight-bold-x);
}

em,
i {
  font-style: italic;
}

p {
  margin: 0 0 _size(element-margin) 0;
}

h1 {
  font-size: 3.5em;
  color: _palette(fg-bold);
  font-weight: _font(weight-bold-xx);
  line-height: 1.3;
  margin: 0 0 (_size(element-margin) * 0.5) 0;
  letter-spacing: _font(letter-spacing-alt);
  a {
    color: inherit;
  }
  @include breakpoint(small) {
    font-size: 3em;
    margin: 0 0 (_size(element-margin) * 0.5) 0;
  }
  @include breakpoint(xxsmall) {
    font-size: 2em;
  }
}

h2,
h3,
h4,
h5,
h6 {
  color: _palette(fg-bold);
  font-weight: _font(weight-bold);
  line-height: 1.5;
  margin: 0 0 (_size(element-margin) * 1) 0;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.6em;
}

h5 {
  font-size: 1.4em;
}

h6 {
  font-size: 1.2em;
}

.home.tiles {
  h2 {
    font-size: 3em;
  }
}

@include breakpoint(small) {
  .home.tiles {
    h2 {
      font-size: 2em;
    }
  }
}

@include breakpoint(medium) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    br {
      display: none;
    }
  }
}

sub {
  font-size: 0.8em;
  position: relative;
  top: 0.5em;
}

sup {
  font-size: 0.8em;
  position: relative;
  top: -0.5em;
}

@mixin blockquote {
  border-left: solid (_size(border-width) * 4) _palette(border);
  font-style: italic;
  margin: 0 0 _size(element-margin) 0;
  padding-left: 1em;
}

blockquote {
  @include blockquote();
}

code {
  background: _palette(border-bg);
  border-radius: _size(border-radius);
  border: solid _size(border-width) _palette(border);
  font-family: _font(family-fixed);
  font-size: 0.9em;
  margin: 0;
  padding: 0.1em 0.5em;
}

.highlight {
  font-size: 1em;
  code {
    background: inherit;
    border-radius: 0;
    border: none;
    padding: 2em;
  }
  pre {
    margin-bottom: 0;
    font-size: 1em;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    padding: 2em;
  }
}

pre {
  -webkit-overflow-scrolling: touch;
  font-family: _font(family-fixed);
  font-size: 0.9em;
  margin: 0 0 _size(element-margin) 0;
  code {
    display: block;
    line-height: 1.75;
    padding: 1em 1.5em;
    overflow-x: auto;
  }
}

hr {
  border: 0;
  border-bottom: solid _size(border-width) _palette(border);
  margin: _size(element-margin) 0;
  &.major {
    margin: (_size(element-margin) * 1.5) 0;
  }
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}
