// Misc
$misc: (z-index-base: 10000);
// Duration
$duration: (
  menu: 0.45s,
  transition: 0.2s
);
// Size
$size: (
  border-radius: 0,
  border-width: 1px,
  element-height: 3em,
  element-margin: 1em,
  gutter: 2.5em,
  field-gutter: 2em,
  inner: 54em,
  menu: 22em
);
// Font
$font: (
  family : ("Roboto", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif),
  family-fixed : ("Roboto Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace),
  weight: 300,
  weight-bold: 400,
  weight-bold-x: 500,
  weight-bold-xx: 600,
  weight-bold-xxx: 800,
  letter-spacing: 0.1em,
  letter-spacing-alt: -0.035em
);
// Palette
$palette: (
  bg: #ffffff,
  bg-accent: #333333,
  bg-alt: #f6f6f6,
  fg: #253137,
  fg-accent: #ffffff,
  border: #c9c9c9,
  border-bg: #f0f3f3,
  accent1: #253137
);
