body {
  font-size: $font-size;
  word-wrap: break-word;

  @media screen and (max-width: $tablet) {
    font-size: $font-size-mobile;
  }
}

a {
  color: $link;

  &.navbar-item {
    &:hover {
      color: $link;
      background-color: $grey-light;
    }
  }

  &.navbar-item.is-hidden-mobile.icon {
    &:hover {
      background-color: white;
    }
  }
}

iframe {
  width: 100%;
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  @extend %overflow-text;
}

table {
  text-align: center;
  width: 100%;
  overflow-x: auto;

  @media screen and (max-width: $tablet) {
    display: block;
  }
}

@media screen and (max-width: $tablet) {

  .field.has-addons,
  .field.is-grouped {
    display: block;

    .control:not(:last-child) {
      margin-right: 0;
      margin-bottom: 1em;

      button {
        width: 100%;
      }
    }
  }
}