.card {
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, .1) !important;

  &:hover {
    @extend %material-shadow;
  }

  .card-header-title,
  .card-content {
    padding: 1em;
  }

  .card-footer {
    border: none;
    padding: 0 1em 1em;
  }

  &.card-equal-height {
    display: flex;
    flex-direction: column;
    height: 100%;

    .card-footer {
      margin-top: auto;
    }
  }
}

.background-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  height: 10em;
}