pre code {
  font-size: initial;
}

pre,
code {
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-wrap: break-word;
}
