// Section
.section {
  padding: 2em;
}

.content {
  font-weight: 300;
  line-height: 1.8;
  letter-spacing: 0.0125em;
  word-wrap: break-word;
  font-family: $family-serif;
  font-size: $font-size-9;
  // Typography
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 1em 0 1em;
    font-weight: 400;
  }
  h1 {
    font-weight: 500;
    font-size: $font-size-5;
  }
  h2 {
    font-weight: 400;
    font-size: $font-size-6;
  }
  h3 {
    font-size: $font-size-7;
  }
  h4 {
    font-size: $font-size-8;
  }
  h5 {
    font-size: $font-size-9;
  }
  p {
    margin-bottom: 1.3em;
    font-weight: 300;
  }
  small,
  p,
  ul,
  li,
  ol li,
  ul li {
    font-size: $font-size-10;
  }
  a {
    text-decoration: none;
    color: #52adc8;
    &:hover {
      text-decoration: underline;
    }
    &:hover img {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    }
  }

  // Responsive Typography
  @media screen and (max-width: $tablet) {
    h1 {
      font-size: $font-size-6;
    }
    h2 {
      font-size: $font-size-7;
    }
  }

  // Lists
  u,
  ins {
    text-decoration: none;
    border-bottom: 1px solid lightgray;
    a {
      color: inherit;
    }
  }

  ul li,
  ol li {
    margin-bottom: 0.5em;
  }

  li ul,
  li ol {
    margin-top: 0.5em;
  }

  // Blockquotes
  blockquote {
    margin: 1.5em 1em 1.5em 0;
    padding-left: 1em;
    padding-right: 1em;
    border-left: 0.25em solid #adadad;
    color: #adadad;
    background-color: white;
    padding: 0 1em 0 1em;
  }
}

// Meta
.meta {
  .fa {
    margin-right: 0.5em;
  }
  p:not(last-child) {
    margin-bottom: 2em;
  }
}

// Return to Top Button
#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #607d8b;
  width: 50px;
  height: 50px;
  display: block;
  z-index: 5000;
  text-decoration: none;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 50%;
  &:hover {
    background: $primary;
  }
  i {
    color: #fff;
    margin: 0;
    margin-top: -1px;
    position: relative;
    left: 0;
    top: 0;
    line-height: 50px;
    width: 50px;
    height: 50px;
    font-size: 2em;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}
