.footer {
  padding: 2em;
  img.emoji {
    max-height: 1em;
    margin-top: 0.25em;
    margin-right: 0.5em;
  }
  p.copyright {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  a {
    text-decoration: none;
    color: $primary;
    &:hover {
      text-decoration: none;
    }
  }
}

$fa-social: (facebook, $facebook-color),  (spotify, $spotify-color),
   (twitter, $twitter-color),  (google-plus, $google-plus-color),
   (linkedin, $linkedin-color),  (rss, $rss-color),
   (youtube-play, $youtube-color),  (behance, $behance-color),
   (github-alt, $github-color),  (reddit, $reddit-color);
@each $social-network, $fa-color in $fa-social {
  .social-icons .fa-#{$social-network} {
    margin-right: 0.5em;
    &:hover {
      color: $fa-color !important;
    }
  }
}
