.is-primary {
  background-color: $primary !important;
  &.is-outlined {
    background-color: white !important;
    color: $primary !important;
    border-color: $primary !important;
    &:hover {
      background-color: $primary !important;
      color: white !important;
    }
  }
}

.button.is-primary.is-focused:not(:active),
.button.is-primary:focus:not(:active) {
  box-shadow: 0 0 0 0.125em lighten($primary, 75%);
}

.is-danger {
  background-color: $is-danger !important;
}

.box {
  border-radius: 0;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, .1) !important;
}

.media-cn .menu-label {
  color: $primary;
  font-size: inherit;
  font-weight: 600;
}

.media-content {
  padding: 1em;
}

.container {
  padding: 0 .5em;
}
