.box {
  border-radius: 0;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, .1) !important;
}

.media-cn .menu-label {
  color: $primary;
  font-size: inherit;
}

.media-content {
  padding: 1em;
}

.button {
  font-size: initial;
  padding: .5em 1em;
}

.column {
  padding: .25em;
}