/*
   Post pagination navigation links
   ========================================================================== */

.pagination {
    i.fa.fa-arrow-right {
        margin-left: .5em;
        margin-right: 0;
    }
    @include full();
    @include clearfix();
    display: flex;
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        font-family: $sans-serif;
    }
    li {
        display: block;
        a {
            display: block;
            margin-bottom: 0.25em;
            padding: 0.5em 1em;
            font-family: $sans-serif;
            font-size: $type-size-6;
            font-weight: bold;
            line-height: 1.5;
            text-align: center;
            text-decoration: none;
            color: $black;
            border: 1px solid $black;
            border-radius: 0;
            &:hover {
                color: $white;
                background-color: $black;
            }
            &.current {
                color: $white;
                background: $black;
            }
            &.disabled {
                color: mix($white, $gray, 75%);
                pointer-events: none;
                cursor: not-allowed;
            }
        }
    }
    /* next/previous buttons */
    &--pager {
        display: block;
        padding: 1em 2em;
        width: 50%;
        font-family: $sans-serif;
        font-size: $type-size-5;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        color: $black;
        border: 1px solid $black;
        border-radius: 0;
        a {
            font-size: 100%;
        }
        &:first-child {
            border-right: none;
        }
        &:hover {
            color: $white;
            background-color: $black;
        }
        &.disabled {
            color: mix($white, $gray, 75%);
            pointer-events: none;
            cursor: not-allowed;
        }
    }
}

.page__content+.pagination,
.page__meta+.pagination,
.page__share+.pagination,
.page__comments+.pagination {
    margin-top: 2em;
    padding-top: 2em;
    border-top: 1px solid $lighter-gray;
}