// Typography
$font-size: 30px;
$font-size-mobile: 15px;
// Colors
$primary: #253137;
$secondary: rgb(88, 88, 88);
$border: #c9c9c9;
$button-border: #dbdbdb;
$is-danger: #8e001d;
$light-gray: #eeeeee;
$links: #1c52a6;
// Breakpoints
$mobile: 500px;
$laptop: 1024px;
// Navbar
$navbar-breakpoint: $mobile !default;
