.card {
  border: 1px solid rgba(0, 0, 0, .1) !important;
  box-shadow: none;

  &:hover {
    @extend %material-shadow;
  }

  .card-image--figure {

    background-color: $light-gray;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .card-image--figure,
  .card-image--figure img {
    height: 12em;
  }

  .card-header-title,
  .card-content {
    padding: 1em;
  }

  .card-footer {
    border: 0;
    padding: 0 1em 1em;
  }

  &.card-equal-height {
    display: flex;
    flex-direction: column;
    height: 100%;

    .card-footer {
      margin-top: auto;
    }
  }
}

.podcast-episodes {
    .card-image--figure,
    .card-image--figure img {
      height: 8em;

      @media screen and (min-width: $mobile-s) {
        height: 9em;
      }

      @media screen and (min-width: $mobile-m) {
        height: 10em;
      }

      @media screen and (min-width: $mobile-l) {
        height: 12em;
      }

      @media screen and (min-width: $tablet) {
        height: 8em;
      }

      @media screen and (min-width: $laptop) {
        height: 10em;
      }

      @media screen and (min-width: $laptop-l) {
        height: 9em;
      }

      @media screen and (min-width: $four-k) {
        height: 9em;
      }
    }
  }