.content {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ol,
  ul,
  li,
  table {
    a[href^="https://"]:not([href*="fvcproductions.com"]):after {
      content: " ↗";
    }

    a[href^="http://"]:not([href*="fvcproductions.com"]):after {
      content: " ↗";
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .card-header-title {
    color: $primary;
  }

  h2.card-header-title {
    font-size: inherit;
    margin-bottom: 0;
  }

  a {
    border-bottom: 1px solid $link;

    img {
      @extend %image-shadow;
      display: inline-block;

      &.emoji {
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }

    &:hover {
      color: $primary;
      border-bottom: 2px solid $primary;

      img {
        @extend %material-shadow;
        border-bottom: none;

        &.emoji {
          -webkit-box-shadow: none;
          box-shadow: none;
        }
      }
    }

    &.button {
      border: 1px solid $button-border;

      &:hover {
        background-color: $primary;
        color: white;
        border-color: $primary;
      }

      &.fa-twitter {
        &:hover {
          border-color: $twitter;
        }
      }
    }

    &.tag {
      border-bottom: none;
      color: white;

      &:hover {
        border-bottom: none;
        background-color: $primary;
        text-decoration: none;
      }
    }

    &.reset {
      border: 0;
      color: $primary;
    }
  }

  img {
    border: 0;
    position: relative;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: $border-radius;
    @extend %image-shadow;

    &.emoji,
    &.no-box-shadow {
      display: inline-block;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    p,
    a & {
      text-align: center;
    }
  }

  figure {
    margin: 0;

    &:not(:last-child) {
      margin: 0;
    }
  }

  .content-info {
    margin: 1em 0;
  }
}