img.emoji {
  -webkit-box-shadow: none;
  background: 0 0;
  border: 0;
  box-shadow: none;
  margin: 0 0.25em;
  padding: 0;
  vertical-align: -0.1em;
  width: 1em;
}

.background-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  height: 10em;
}

.blur {
  animation-duration: .5s;
  animation-name: blur;
}

@keyframes blur {

  from {
    -webkit-filter: blur(10px);
  }

  to {
    -webkit-filter: blur(0);
  }

}

.fade {
  animation-name: fade;
  animation-duration: 3s;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}