.navigation {
  text-align: center;

  ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    margin: 0 auto;
    text-align: center;

    li {
      position: relative;
      margin: 0 1em;
      margin-bottom: 1em;

      a {
        border-bottom: 3px solid transparent;
        padding-bottom: 0.25em;
        color: $link;

        &:after {
          content: "";
          display: block;
          margin: auto;
          width: 0;
          border-bottom: 3px solid transparent;
          transition: width 0.5s ease, background-color 0.5s ease;
        }

        &:hover {
          left: auto;
          top: 100%;
          color: $primary;
          opacity: 1;
          -webkit-transition: top 0.45s ease-in-out, opacity 0.45s ease-in-out;
          -moz-transition: top 0.45s ease-in-out, opacity 0.45s ease-in-out;
          transition: top 0.45s ease-in-out, opacity 0.45s ease-in-out;
        }

        &:hover:after {
          width: 100%;
          border-bottom: 3px solid;
        }
      }
    }
  }

  .logo {
    border-bottom: 0;
    color: $link;
    display: inline-block;
    font-weight: 300;
    letter-spacing: 0.25px;
    margin: 0;
    text-decoration: none;
    text-transform: none;
    vertical-align: middle;

    &:hover,
    &.active {
      &:after {
        border-bottom: none !important;
      }
    }

    .header {
      font-weight: 700;
      color: $primary;

      &:after {
        content: "";
        display: block;
        margin: auto;
        width: 0;
        border-bottom: 3px solid transparent;
        transition: width 0.5s ease, background-color 0.5s ease;
      }

      &:hover {
        left: auto;
        color: $primary;
        top: 100%;
        opacity: 1;
        -webkit-transition: top 0.45s ease-in-out, opacity 0.45s ease-in-out;
        -moz-transition: top 0.45s ease-in-out, opacity 0.45s ease-in-out;
        transition: top 0.45s ease-in-out, opacity 0.45s ease-in-out;
      }

      &:hover:after {
        width: 100%;
        border-bottom: 3px solid;
      }
    }

    >* {
      display: inline-block;
      vertical-align: middle;
    }

    .symbol {
      margin-right: 0.65em;

      img {
        display: inline-block;
        border-radius: 50%;
      }
    }
  }
}