.navigation {
  text-align: center;

  .navbar-menu {
    box-shadow: none;
    padding: 0;
  }

  .nav-links {
    align-items: center;
    display: block;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    margin: 0 auto;
    text-align: center;

    &__social {
      display: flex;
      justify-content: center;

      .menu-item {
        margin: 0 0.5em;
      }
    }

    .nav-item {
      position: relative;
      margin: 0 1em;

      @media screen and (max-width: $mobile-l) {
        margin-bottom: 0.5em;

        :last-child {
          margin: 0;
        }
      }

      @media screen and (min-width: $laptop) {
        margin: 0;
      }

      .menu-item {
        color: $link;

        &:after {
          content: "";
          display: block;
          margin: auto;
          width: 0;
          border-bottom: 3px solid transparent;
          transition: width 0.5s ease, background-color 0.5s ease;
        }

        &:hover {
          left: auto;
          top: 100%;
          color: $primary;
          opacity: 1;
          -webkit-transition: top 0.45s ease-in-out, opacity 0.45s ease-in-out;
          -moz-transition: top 0.45s ease-in-out, opacity 0.45s ease-in-out;
          transition: top 0.45s ease-in-out, opacity 0.45s ease-in-out;
        }

        &:hover:after {
          width: 75%;
          border-bottom: 3px solid;
        }
      }
    }

    @media screen and (min-width: $tablet) {
      display: flex;
    }

    @media screen and (max-width: $mobile-l) {
      :last-child {
        margin: 0;
      }
    }
  }

  .logo {
    border-bottom: 0;
    color: $link;
    display: inline-block;
    font-weight: 300;
    letter-spacing: 0.25px;
    margin: 0;
    text-decoration: none;
    text-transform: none;
    vertical-align: middle;

    &:hover,
    &.active {
      &:after {
        border-bottom: none !important;
      }

      .header {
        left: auto;
        color: $primary;
        top: 100%;
        opacity: 1;
        -webkit-transition: top 0.45s ease-in-out, opacity 0.45s ease-in-out;
        -moz-transition: top 0.45s ease-in-out, opacity 0.45s ease-in-out;
        transition: top 0.45s ease-in-out, opacity 0.45s ease-in-out;
      }

      .header:after {
        width: 100%;
        border-bottom: 3px solid;
      }
    }

    .header {
      font-weight: 700;
      color: $primary;

      &:after {
        content: "";
        display: block;
        margin: auto;
        width: 0;
        border-bottom: 3px solid transparent;
        transition: width 0.5s ease, background-color 0.5s ease;
      }
    }

    >* {
      display: inline-block;
      vertical-align: middle;
    }

    .symbol {
      margin-right: 0.65em;

      img {
        display: inline-block;
        border-radius: 50%;
      }
    }
  }
}