.pagination {
  padding-bottom: 1em;

  .pagination-previous,
  .pagination-next {
    @extend %overflow-text;
    height: 100%;
    overflow: visible;
    white-space: initial;
    padding: 1em;

    &.v--border-none {
      border: none;

      &:hover {
        border: none;
      }
    }
  }

  .pagination-link,
  .pagination-next,
  .pagination-previous {

    &:hover {
      @extend %image-shadow;
      background-color: $primary;
      text-decoration: none;
      color: white;
    }
  }

  .pagination-link[disabled],
  .pagination-next[disabled],
  .pagination-previous[disabled] {
    background-color: $border;
    border-color: $border;
    color: $primary;
    opacity: .5;
  }

  .pagination-link:focus,
  .pagination-next:focus,
  .pagination-previous:focus {
    border-color: $primary;
  }

  .pagination-link.is-current {
    background-color: $primary;
    border-color: $primary;
  }

}