@media print {

  h1,
  h2,
  h3,
  h4,
  h5 {
    page-break-after: avoid;
    break-after: avoid;
    color: inherit !important;
  }

  table tr,
  figure,
  img {
    page-break-inside: avoid;
    break-inside: avoid;
  }

  img {
    max-width: 75%;
  }

  // Display links for print
  p a {
    word-wrap: break-word;
  }

  p a:after {
    content: " ("attr(href) ")";
  }

  // Don't show blank links
  p a[href^="#"]:after,
  p a[href^=""]:after {
    display: none;
  }

  // Display external URLs for now, but let them wrap
  p a[href^="http://"]:after,
  a[href^="https://"]:after {
    content: " ("attr(href) ")";
    white-space: normal;
    word-break: break-all;
    font-size: .8rem;
  }

  body,
  html,
  :link,
  :visited,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  code,
  pre,
  h1 code,
  h2 code,
  h3 code,
  h4 code,
  h5 code,
  h6 code {
    color: $primary;
    padding: 0;
    margin: 0;
  }

  a {
    border-bottom: none;

    &:after {
      border-bottom: none;
    }
  }

  :link,
  :visited {
    text-decoration: none;
  }

  nav,
  footer,
  .card,
  .hero-body,
  .columns,
  .columns .is-multiline,
  .column,
  .return-to-top,
  .pagination,
  .section-footer,
  .fa-arrow-up,
  hr.pt-sm.mt-2,
  form {
    display: none;
  }
}