.section {
  padding: 1em;
}

.section-taxonomy {
  h3 a {
    border-bottom: none;
  }
}

.section-footer {
  margin: 0;

  h1 {
    margin-top: 0;
  }

  .section {
    padding: 1em 0;
  }

  .section-donate {
    a {
      text-decoration: none;
      border-bottom: none;
    }
  }

  .section-donate {
    img {
      height: 50px !important;
      box-shadow: none;
      display: inline-block;

      &:hover {
        @extend %material-shadow;
      }
    }

    a:hover {
      border-bottom: none;
    }
  }
}