.section {
  padding: 1em;
}

.section-footer {
  margin: 0;

  h1 {
    margin-top: 0;
  }

  .section {
    padding: 1em 0;
  }
}

.section-banners {

  a {
    text-decoration: none;
    border-bottom: none !important;

    &:hover {
      border-bottom: none;
    }
  }

  img {
    &:hover {
      @extend %material-shadow;
    }
  }


  &.v--podcast {

    a {
      margin: 0 .5em;
    }

    img {
      height: 60px;

      @media screen and (max-width: $tablet) {
        height: 50px
      }
    }

    justify-content: start;

    @media screen and (max-width: $tablet) {
      justify-content: center;
    }
  }

  &.v--donate {
    img {
      height: 50px;
    }
  }
}