.u-margin--0 {
  margin: 0 !important;
}

// Margin Top
.u-margin-top--0 {
  margin-top: 0 !important;
}

.u-margin-top--sm {
  margin-top: 0.5em !important;
}

.u-margin-top--1 {
  margin-top: 1em !important;
}

.u-margin-top--1-sm {
  margin-top: 1.5em !important;
}

.u-margin-top--2 {
  margin-top: 2em !important;
}

// TODO: Rename to have .u-

// Margin Right
.mr-sm {
  margin-right: 0.5em !important;
}

.mr-1 {
  margin-right: 1em !important;
}

// Margin Bottom
.mb-0 {
  margin-bottom: 0 !important;
}

.mb-sm {
  margin-bottom: 0.5em !important;
}

.mb-1 {
  margin-bottom: 1em !important;
}

.mb-2 {
  margin-bottom: 2em !important;
}

// Margin left
.ml-sm {
  margin-left: .5em !important;
}

.ml-1 {
  margin-left: 1em !important;
}

// Padding
.pd-0 {
  padding: 0 !important;
}

.pd-1 {
  padding: 1em !important;
}

.pd-2 {
  padding: 2em !important;
}

// Padding Top
.pt-0 {
  padding-top: 0 !important;
}

.pt-sm {
  padding-top: .5em !important;
}

.pt-1 {
  padding-top: 1em !important;
}

.pt-2 {
  padding-top: 2em !important;
}

.pt-3 {
  padding-top: 3em !important;
}

// Padding Bottom
.pb-0 {
  padding-bottom: 0 !important;
}

.pb-sm {
  padding-bottom: .5em !important;
}

.pb-1 {
  padding-bottom: 1em !important;
}

.pb-2 {
  padding-bottom: 2em !important;
}

.pb-3 {
  padding-bottom: 3em !important;
}

// Border Bottom
.bb-0 {
  border-bottom: none !important;
}

// Font
.font-monospace {
  font-family: $family-monospace;
}

// Border
.table-border-none {

  .content table td,
  .content table th,
  .table td,
  .table th {
    border: 0 !important;
  }
}

.content-border-none {
  .content a {
    border-bottom: none !important;
  }
}

// Width
.u-width--half {
  width: 50%;
}

// Flexbox
.u-flex--center {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  margin: 0 auto;
}

.u-flex--start {
  align-items: flex-start;
  justify-content: flex-start;
}

.u-justify-content--centered {
  justify-content: center;
}

.u-link-margin--right-sm {
  a {
    margin-right: .5em;

    &:last-child {
      margin-right: 0;
    }
  }
}