// Typography
$family-primary: -apple-system,
BlinkMacSystemFont,
"Roboto",
"Segoe UI",
"Oxygen",
"Ubuntu",
"Cantarell",
"Fira Sans",
"Droid Sans",
"Helvetica Neue",
"Helvetica",
"Arial",
sans-serif;
$family-sans-serif: $family-primary,
sans-serif;
$family-monospace: monospace;

// Typography Sizes
$size-1: 3em;
$size-2: 2em;
$size-3: 1.8em;
$size-4: 1.6em;
$size-5: 1.4em;
$size-6: 1.2em;
$size-7: 1em;
$size-8: 0.8em;

$font-size: 22px;
$font-size-mobile: 16px;

// Breakpoints
$mobile-s: 320px;
$mobile-m: 375px;
$mobile-l: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptop-l: 1440px;
$four-k: 2560px;

// Navbar
$navbar-breakpoint: $mobile-l !default;

// Colors
$primary: #253137;
$secondary: #585858;
$success: #0E5D2A;
$danger: #AD0023;
$link: #1c52a6;
$border: #c9c9c9;
$button-border: #dbdbdb;
$zircon: #DCE3E5;
$code: #D7233B;
$light-gray: #f5f5f5;
$legal: #ebeaeb;
$white: #FFFF;
$black: #0000;

// Forms
$text: $primary;
$input-background-color: #f5f5f5;
$input-border-color: transparent;
$input-focus-border-color: rgba(28, 82, 166, 0.25);
$input-shadow: none;

// Border
$border-radius: 4px;