/** importing Karla font */

@import url(https://fonts.googleapis.com/css?family=Karla);

/** defining color variables */

$someBlue: #607D8B;
$grey: #777;

/** body  */

body {
    font-family: 'Karla', sans-serif;
    text-transform: none;
    background: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/footer_lodyas.png");
}

.container-narrow > hr {
    margin: 2rem 0;
}


/**globals**/

* >:nth-child(3n+3) {
    margin-right: 0;
}

.btn:hover,
a:hover,
#pause:hover,
#play:hover,
#question:hover,
.calendly-badge-widget .calendly-badge-content {
    cursor: -webkit-image-set(url("https://hovastate.s3.amazonaws.com/hova.png") 1x, url("https://hovastate.s3.amazonaws.com/hova.2x.png") 2x) 24 1, default;
}

a:focus {
    color: $someBlue;
    text-decoration: none;
}


/** main section */

#main {
    font-size: 1rem;
    padding: 6em 3em 3em 3em;
    min-width: 25em;
}

#main h1,
p {
    color: $someBlue;
}

#main .avatar img {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#main .avatar img:hover {
    border: .5em outset $someBlue;
}

#main a:hover,
a#fvcproductions:hover {
    color: $someBlue;
    text-decoration: underline;
}

#pause:hover,
#play:hover,
#question:hover {
    color: $grey;
    text-decoration: none;
}

i#play, i#pause {
    margin-right: 2rem;
}


/** projects section */

.projects {
    padding-bottom: 2em;
}

.projects h2 {
    color: $grey;
    font-size: 1.2rem;
    text-align: center;
    padding: 2em;
}

.projects a:hover {
    color: white;
    text-decoration: none;
}

.projects .card {
    padding: 1em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.2s ease-in-out;
}

.project .card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.projects .repo-info.card-text {
    margin-left: .5em;
    color: $grey;
}

small .text-muted,
small.text-muted b {
    color: $grey;
}

.projects button.btn.btn-primary-outline {
    margin-bottom: .5em;
    font-size: 1em;
    color: white !important;
    background-color: $someBlue;
    border-color: $someBlue;
}

.projects button.btn.btn-primary-outline:hover {
    color: $someBlue !important;
    background-color: white;
}


/** social icons */

ul.icons li a {
    color: $someBlue;
    background-color: $someBlue;
    border: solid .5px $someBlue;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

ul.icons li a:hover {
    border: solid 1px $someBlue;
    text-shadow: 1.25px 0px 0px $someBlue, -1.25px 0px 0px $someBlue, 0px 1.25px 0px $someBlue, 0px -1.25px 0px $someBlue;
    background-color: white;
}

ul.icons li a:hover:before {
    text-shadow: 1.25px 0px 0px $someBlue, -1.25px 0px 0px $someBlue, 0px 1.25px 0px $someBlue, 0px -1.25px 0px $someBlue;
}

ul.icons li a:before {
    color: white;
    text-shadow: none;
}


/** bold typography */

b {
    font-weight: bold;
    color: white;
}


/** footer */

.footer {
    // remember, padding: top right bottom left
    padding: 1em 0em 1em 0em;
    text-align: center;
}

.footer a:hover {
    text-decoration: underline;
    color: white;
}

@media screen and (min-width: 48em) {
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
}


/** responsive typography */

@media screen and (max-width: 48em) {
    #main,
    .projects,
    .footer {
        font-size: 1em;
    }
}


/** calendly */

.calendly-badge-widget .calendly-badge-content {
    font-family: 'Source Sans Pro', sans-serif;
}
