.gcsc-branding,
table.gsc-resultsHeader {
  display: none;
}

td.gsib_b {
  display: none;
}

.gs-result .gs-title {
  text-decoration: none;
  border: 0;

  * {
    text-decoration: none;
  }
}

.gsc-tabHeader.gsc-tabhInactive {
  border-left: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
  border-top: 2px solid #e9e9e9;
}

table {
  padding: 0;
  margin: 0;
  border: 0;
  box-shadow: none;

  &.gsc-search-box {
    padding: 0;
    margin: 0;
    border: 0;
    box-shadow: none;
    display: inline-table;
  }
}

.gsc-control-cse .gs-spelling,
.gsc-control-cse .gs-result .gs-title,
.gsc-control-cse .gs-result .gs-title *,
.gs-bidi-start-align.gs-visibleUrl.gs-visibleUrl-long,
div#resInfo-0,
.gs-bidi-start-align.gs-snippet,
.gsc-orderby-label.gsc-inline-block,
.gsc-selected-option,
.gsc-tabHeader.gsc-inline-block.gsc-tabhActive,
.gsc-tabHeader.gsc-tabhInactive.gsc-inline-block,
.gsc-cursor-page,
a.gs-title,
div#resInfo-1 {
  font-size: initial !important;
  font-family: initial !important;
}

.gsib_a,
.gsc-above-wrapper-area,
.cse .gsc-control-cse,
.gsc-control-cse,
table tbody tr,
.gsc-input-box,
table tbody td,
.gsst_a,
input[type=text]:focus,
td.gsc-input {
  padding: 0;
  margin: 0;
  border: 0;
  box-shadow: none;
}

table tbody tr:nth-child(odd) {
  background-color: white;
}

.gsc-result .gs-title,
.gsc-input-box {
  height: inherit;
  text-decoration: none;
}

div#gsc-iw-id1 {
  border: 1px solid #253137;
}

.cse .gsc-search-button input.gsc-search-button-v2,
input.gsc-search-button-v2 {
  height: auto;
  width: auto;
}

.gsc-results-wrapper-nooverlay.gsc-results-wrapper-visible {
  margin-top: 2em;
}

a.gsst_a {
  border-bottom: none !important;
}

.gsc-search-box-tools .gsc-search-box .gsc-input {
  padding-right: 0;
}

.gsc-selected-option-container {
  max-width: 100%;
}

.gsc-refinementsArea {
  display: none;
}

.gsc-tabsArea>div {
  overflow: hidden;
}

input#gsc-i-id1 {
  background: none !important;
  margin: 0 !important;
  text-indent: 0 !important;
  padding: 1em !important;
}

td {
  &.gsc-input {
    padding: 0 !important;
  }

  &#gs_tti50 {
    border-bottom: none;
    padding: 1em;
  }

  &.gsc-search-button,
  &.gsib_b {
    display: none;
  }
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: transparent;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: transparent;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: transparent;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: transparent;
}

textarea::-webkit-input-placeholder {
  /* WebKit browsers */
  color: transparent;
}

textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: transparent;
}

textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: transparent;
}

textarea:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: transparent;
}

div#gs_st50 {
  display: none;
}

.gsc-tabHeader {
  padding: 0 !important;
  height: auto !important;
}

table.gsc-resultsHeader {
  display: none;
}

.gsc-thumbnail-inside,
div#resInfo-0,
td.gsc-result-info-container,
td.gsc-table-cell-thumbnail.gsc-thumbnail,
.gsc-url-top {
  padding-left: 0 !important;
}

.gs-web-image-box-landscape img.gs-image {
  max-width: auto !important;
  max-height: auto !important;
}