{% unless page.permalink == '/blog/' %}
  regular__item
{% endunless %}

{% if page.permalink == '/portfolio/' %}
  portfolio__item
  {% if post.category == 'Behance' %}
    behance-project
  {% elsif post.category == 'GitHub' %}
    github-repo
  {% elsif post.category == 'YouTube' %}
    youtube-video
  {% elsif post.category == 'Speaker Deck' %}
    speaker-deck
  {% endif %}
{% endif %}

{% if page.permalink == '/services/' or page.permalink == '/adventures/' or page.permalink == '/hackathons/' %}
  adventure__item
{% elsif page.permalink == '/services/speaking/' %}
  speaking__item
{% endif %}


{% if page.permalink == '/feedback/' %}
  testimonial__item
{% endif %}