<div class="row">
  <div class="12u$">
    <!-- Banner -->
    {{ if .Params.banner }}
    <!-- With Banner Link -->
    {{ if .Params.banner_link }}
    <a href="{{ .Params.banner_link }}" target="_blank" rel="noopener">
      <span class="image main">
        <!-- Image -->
        <img src="{{ .Params.banner }}" alt="{{ if .Params.caption }}{{ .Params.caption }}{{ else }}{{ .Title }}{{ end }}">
        <!-- Caption -->
        {{ with .Params.caption }}
        <span class="banner-caption">{{ . }}</span>
        {{ end }}
      </span>
    </a>
    <!-- Without Banner Link -->
    {{ else }}
    <span class="image main">
      <!-- Image -->
      <img src="{{ .Params.banner }}" alt="{{ if .Params.caption }}{{ .Params.caption }}{{ else }}{{ .Title }}{{ end }}">
      <!-- Caption -->
      {{ with .Params.caption }}
      <span class="banner-caption">{{ . }}</span>
      {{ end }}
    </span>
    {{ end }}
    <!-- End Banner -->
    {{ end }}
  </div>
</div>
