<div class="page-section">
  <div class="12u$">
    <div class="filter-button-group">
      <!-- Adventures -->
      {{ if .Params.adventures }}
      <button class="button big is-checked" data-filter="*">
        All Adventures
      </button>
      <button class="button big" data-filter=".award">
        Awards ️️🏆 ({{ len (($.Site.Taxonomies.categories.award).Pages) }})
      </button>
      <button class="button big" data-filter=".blog">
        Blog ️📝️ ({{ len (($.Site.Taxonomies.categories.blog).Pages) }})
      </button>
      <button class="button big" data-filter=".conference">
        Conferences 👥 ({{ len (($.Site.Taxonomies.categories.conference).Pages) }})
      </button>
      <button class="button big" data-filter=".education">
        Education 🎓 ({{ len (($.Site.Taxonomies.categories.education).Pages) }})
      </button>
      <button class="button big" data-filter=".experience">
        Experiences 👓️ ({{ len (($.Site.Taxonomies.categories.experience).Pages) }})
      </button>
      <button class="button big" data-filter=".hackathon">
        Hackathons 🛠️ ({{ len (($.Site.Taxonomies.categories.hackathon).Pages) }})
      </button>
      <button class="button big" data-filter=".program">
        Programs 🎒️ ({{ len (($.Site.Taxonomies.categories.program).Pages) }})
      </button>
      <button class="button big" data-filter=".portfolio">
        Projects 💼️ ({{ len (($.Site.Taxonomies.categories.portfolio).Pages) }})
      </button>
      <button class="button big" data-filter=".review">
        Reviews ️✅ ({{ len (($.Site.Taxonomies.categories.review).Pages) }})
      </button>
      <button class="button big" data-filter=".speaking">
        Speaking 💬️ ({{ len (($.Site.Taxonomies.categories.speaking).Pages) }})
      </button>
      <button class="button big" data-filter=".volunteering">
        Volunteering 💛️ ({{ len (($.Site.Taxonomies.categories.volunteering).Pages) }})
      </button>
      <!-- Awards -->
      <!-- <button class="button big is-checked" data-filter="*">
        All Awards
      </button>
      <button class="button big" data-filter=".conference">
        Conference Scholarship
      </button>
      <button class="button big" data-filter=".hackathon">
        Hackathon Prize
      </button>
      <button class="button big" data-filter=".education">
        School
      </button> -->
      <!-- Blogging -->
      {{ else if .Params.blog }}
      <button class="button is-checked" data-filter="*">
        All Posts
      </button>
      <button class="button" data-filter=".certainties">
        Certainties 📰
      </button>
      <button class="button" data-filter=".coding">
        Coding 💻
      </button>
      <button class="button" data-filter=".creativity">
        Creativity 🎨
      </button>
      <!-- Portfolio -->
      {{ else if .Params.portfolio }}
      <button class="button is-checked" data-filter="*">
        All Projects
      </button>
      <button class="button" data-filter=".book">
        Books
      </button>
      <button class="button" data-filter=".design">
        Designs
      </button>
      <button class="button" data-filter=".mobile">
        Mobile
      </button>
      <button class="button" data-filter=".oss">
        Open-Source
      </button>
      <button class="button" data-filter=".presentation">
        Presentations
      </button>
      <button class="button" data-filter=".research">
        Research
      </button>
      <button class="button" data-filter=".tutorial">
        Tutorials
      </button>
      <button class="button" data-filter=".video">
        Video
      </button>
      <button class="button" data-filter=".web">
        Web
      </button>
      <!-- Reviews -->
      {{ else if .Params.reviews }}
      <button class="button is-checked" data-filter="*">
        All Reviews
      </button>
      <button class="button" data-filter=".2018">
        2018
      </button>
      <button class="button" data-filter=".2017">
        2017
      </button>
      <button class="button" data-filter=".2016">
        2016
      </button>
      <button class="button" data-filter=".2015">
        2015
      </button>
      <!-- Speaking -->
      {{ else if .Params.speaking }}
      <button class="button is-checked" data-filter="*">
        All Topics
      </button>
      <button class="button" data-filter=".bootcamps">
        Coding Bootcamps
      </button>
      <button class="button" data-filter=".hourofcode">
        Hour of Code
      </button>
      <button class="button" data-filter=".wizard">
        So You Want To Be A Wizard
      </button>
      <button class="button" data-filter=".typescript101">
        TypeScript 101
      </button>
      <button class="button" data-filter=".webdesign">
        Web Design
      </button>
      {{ end }}
    </div>
  </div>
</div>
