{{ if .Params.isotope }}
<div class="page-section">
  <div class="12u$">
    <div class="isotope-results">
      <!-- Description -->
      {{ partial "section/isotope-header.html" . }}
      <!-- Filters -->
      {{ partial "section/filter-buttons.html" .}}
      <!-- No Isotope Results -->
      <h2 id="loading">It's loading - give it a sec! ⏳</h2>
      <!-- Tiles -->
      <section class="section tiles isotope-grid">
        <!-- Adventures -->
        {{ if .Params.adventures }} {{ $isopages := .Pages | union (.Sections) }}
        <!-- Range of Tiles -->
        {{ range $isopages.ByDate.Reverse }} {{ partial "page/body/tile.html" . }} {{ end }} {{ end }}
        <!--  -->
        <!-- Blogging -->
        {{ if .Params.blog }} {{ $isopages := ($.Site.Taxonomies.categories.blog).Pages }}
        <!-- Range of Tiles -->
        {{ range $isopages.ByDate.Reverse }} {{ partial "page/body/tile.html" . }} {{ end }} {{ end }}
        <!--  -->
        <!-- Speaking -->
        {{ if .Params.speaking }} {{ $isopages := ($.Site.Taxonomies.categories.speaking).Pages }}
        <!-- Range of Tiles -->
        {{ range $isopages.ByDate.Reverse }} {{ partial "page/body/tile.html" . }} {{ end }} {{ end }}
        <!--  -->
        <!-- Portfolio -->
        {{ if .Params.portfolio }} {{ $isopages := ($.Site.Taxonomies.categories.portfolio).Pages }}
        <!-- Range of Tiles -->
        {{ range $isopages.ByDate.Reverse }} {{ partial "page/body/tile.html" . }} {{ end }} {{ end }}
      </section>
    </div>
  </div>
</div>
{{ end }}
