{{ if .Params.isotope }}
<div class="page-section">
  <div class="12u$">
    <div class="isotope-results">
      <!-- Description -->
      {{ partial "section/isotope-header.html" . }}
      <!-- Filters -->
      {{ partial "section/filter-buttons.html" .}}
      <!-- No Isotope Results -->
      <h2 id="loading">It's loading - give it a sec! ⏳</h2>
      <!-- Tiles -->
      <!-- Adventures -->
      {{ if .Params.adventures }}
      <section class="section tiles isotope-grid plain">
        {{ $isopages := .Pages | union (.Sections) }} {{ range $isopages.ByDate.Reverse }} {{ partial "page/body/plain-tile.html" . }} {{ end }}
      </section>
      {{ end }}
      <!-- Awards -->
      <!-- {{ if .Params.awards }}
      <section class="section tiles isotope-grid plain">
        {{ $isopages := ($.Site.Taxonomies.categories.award).Pages }} {{ range $isopages.ByDate.Reverse }} {{ partial "page/body/plain-tile.html" . }} {{ end }}
      </section>
      {{ end }} -->
      <!-- Blogging -->
      {{ if .Params.blog }}
      <section class="section tiles isotope-grid plain">{{ $isopages := ($.Site.Taxonomies.categories.blog).Pages }} {{ range $isopages.ByDate.Reverse }} {{ partial "page/body/plain-tile.html" . }} {{ end }}</section> {{ end }}
      <!-- Reviews -->
      {{ if .Params.services }}
      <section class="section tiles isotope-grid">{{ $isopages := ($.Site.Taxonomies.categories.review).Pages }} {{ range $isopages.ByDate.Reverse }} {{ partial "page/body/tile.html" . }} {{ end }}</section>
      {{ end }}
      <!-- Portfolio -->
      {{ if .Params.portfolio }}
      <section class="section tiles isotope-grid">{{ $isopages := ($.Site.Taxonomies.categories.portfolio).Pages }} {{ range $isopages.ByDate.Reverse }} {{ partial "page/body/tile.html" . }} {{ end }}</section>{{ end }}
      <!-- Speaking -->
      {{ if .Params.speaking }}
      <section class="section tiles isotope-grid">{{ $isopages := ($.Site.Taxonomies.categories.speaking).Pages }} {{ range $isopages.ByDate.Reverse }} {{ partial "page/body/tile.html" . }} {{ end }}</section>{{ end }}
    </div>
  </div>
</div>
{{ end }}
