<div class="isotope-header">
  <!-- Portfolio -->
  {{ if .Params.portfolio }}
  <h2>{{ len (($.Site.Taxonomies.categories.portfolio).Pages) }} Total Projects</h2>
  <p>
    <i>You can filter the projects by their category type.</i>
  </p>
  <!-- Awards -->
  {{ else if .Params.awards }}
  <h2>{{ len (($.Site.Taxonomies.categories.award).Pages) }} Total Awards</h2>
  <!-- Speaking -->
  {{ else if .Params.speaking }}
  <hr>
  <h2>{{ len (($.Site.Taxonomies.categories.speaking).Pages) }} Total Events</h2>
  <p>
    <i>You can filter the events by the talk I gave.</i>
  </p>
  <!-- End -->
  {{ end }}
</div>
