.footer {
  $gutter: _size(gutter);
  padding: 2em 0;
  margin-top: 2em;
  background-color: _palette(fg);
  color: white;
  #wrapper .inner {
    padding: 0;
  }
  .inner {
    max-width: 100%;
    padding: 0;
    margin: 0;
    @include vendor("display", "flex");
    @include vendor("flex-wrap", "wrap");
    @include vendor("flex-direction", "row");
    text-align: center;
    justify-content: center;
    >*> :last-child {
      margin-bottom: 0;
    }
    .fa-copyright,
    .fa-cog {
      margin-right: 0.5em;
    }
    a {
      color: white !important;
      &:hover {
        color: lighten(_palette(fg), 50%) !important;
        border-bottom: dotted 1px transparentize(_palette(fg), 0.5);
      }
    }
    ul.icons {
      margin: 0;
      li {
        padding: .5em;
      }
      font-size: 1.5em;
    }
    .social-icons {
      a {
        color: white !important;
        &:hover {
          color: lighten(_palette(fg), 50%) !important;
          border-bottom: dotted 1px transparentize(_palette(fg), 0.5);
        }
      }
      &.icon {
        font-size: 2em;
      }
    }
    img.emoji {
      display: none;
    }
    .copyright {
      width: 100%;
      padding: 2em 0 0 1em;
      list-style: none;
    }
  }
  @include breakpoint(large) {
    $gutter: _size(gutter) * 0.5;
  }
  @include breakpoint(medium) {
    $gutter: _size(gutter);
  }
  @include breakpoint(small) {
    >.inner {
      @include vendor("flex-direction", "column");
      section:nth-child(1) {
        width: 100%;
      }
      section:nth-child(2) {
        @include vendor("order", "-1");
        width: 100%;
      }
    }
  }
  @include breakpoint(xsmall) {
    >.inner {
      .copyright {
        li {
          border-left: 0;
          padding-left: 0;
          margin: 0.75em 0 0 0;
          display: block;
          line-height: inherit;
          &:first-child {
            margin-top: 0;
          }
        }
      }
    }
  }
}
