.menu-navigation {
  ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }
  li {
    display: inline-block;
    padding: 0em;
  }
  a {
    display: block;
    text-decoration: none;
  }
}

.main-navigation {
  margin: 1em 0;
  li {
    position: relative;
    padding-left: 1em;
  }
  a {
    position: relative;
    line-height: 1.6;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
  }
  ul {
    &:not(.sub-menu):not(.children)>li {
      >a {
        &:after {
          content: "";
          display: block;
          margin: auto;
          width: 0;
          border-bottom: 1px solid transparent;
          transition: width 0.5s ease, background-color 0.5s ease;
        }
        &:hover:after {
          width: 100%;
          border-bottom: 1px solid;
        }
      }
      &:last-child:hover>ul,
      &.focus:last-child:hover>ul {
        right: 0;
      }
      &:last-child:hover>ul:before,
      &.focus:last-child:hover>ul:before {
        left: auto;
        margin-left: 0;
        right: 15%;
        margin-right: -4px;
      }
    }
    ul {
      &:before {
        content: "";
        position: absolute;
        top: -8px;
        left: 15%;
        margin-left: -4px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 8px 8px;
        border-color: transparent transparent #222;
      }
      float: left;
      position: absolute;
      top: 150%;
      left: -999em;
      z-index: 99999;
      background: #212121;
      padding: 7px 0;
      border-radius: 2px;
      border: 1px solid rgba(0, 0, 0, 0.15);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
      opacity: 0;
      ul:before {
        border: none;
      }
      a {
        width: 100%;
        min-width: 180px;
        text-shadow: none;
      }
      li {
        margin: 0 0 5px;
        padding: 0 0 5px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        &:last-child {
          margin: 0;
          padding: 0;
          border: none;
        }
      }
      :hover>a,
      .focus>a {
        opacity: 0.7;
      }
    }
    li {
      &:hover>ul,
      &.focus>ul {
        left: auto;
        top: 100%;
        opacity: 1;
        -webkit-transition: top 0.45s ease-in-out, opacity 0.45s ease-in-out;
        -moz-transition: top 0.45s ease-in-out, opacity 0.45s ease-in-out;
        transition: top 0.45s ease-in-out, opacity 0.45s ease-in-out;
      }
    }
    ul li {
      &:hover>ul,
      &.focus>ul {
        left: 100%;
        top: 0;
        -webkit-transition: opacity 0.45s ease-in-out;
        -moz-transition: opacity 0.45s ease-in-out;
        transition: opacity 0.45s ease-in-out;
      }
    }
  }
}
