{% if page.author and site.data.authors[page.author] %} {% assign author = site.data.authors[page.author] %} {% else %} {% assign author = site.author %} {% endif %}
<div itemscope itemtype="http://schema.org/Person">
    {% if author.avatar %}
    <div class="author__avatar">
        {% if author.avatar contains "://" %}
        <img src="{{ author.avatar }}" alt="{{ author.name }}" itemprop="image"> {% else %}
        <img src="{{ author.avatar | absolute_url }}" class="author__avatar" alt="{{ author.name }}" itemprop="image"> {% endif %}
    </div>
    {% endif %}
    <div class="author__content">
        <h3 class="author__name" itemprop="name">{{ author.name }}</h3> {% if author.bio %}
        <p class="author__bio" itemprop="description">
            {{ author.bio }}
        </p>
        {% endif %}
    </div>
    <div class="author__urls-wrapper">
        <button class="btn btn--inverse">{{ site.data.ui-text[site.locale].follow_label | remove: ":" | default: "Follow" }}</button>
        <ul class="author__urls social-icons">
            {% if author.location %}
            <li itemprop="homeLocation" itemscope itemtype="http://schema.org/Place">
                <i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> <span itemprop="name">{{ author.location }}</span>
            </li>
            {% endif %} {% if author.uri %}
            <li>
                <a href="{{ author.uri }}" itemprop="url">
                    <i class="fa fa-fw fa-chain" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].website_label | default: "Website" }}
                </a>
            </li>
            {% endif %} {% if author.email %}
            <li>
                <a href="mailto:{{ author.email }}">
                    <meta itemprop="email" content="{{ author.email }}" />
                    <i class="fa fa-fw fa-envelope" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].email_label | default: "Email" }}
                </a>
            </li>
            {% endif %} {% if author.behance %}
            <li>
                <a href="https://behance.net/{{ author.behance }}" itemprop="sameAs">
                    <i class="fa fa-fw fa-behance" aria-hidden="true"></i> Behance
                </a>
            </li>
            {% endif %} {% if author.twitter %}
            <li>
                <a href="https://twitter.com/{{ author.twitter }}" itemprop="sameAs">
                    <i class="fa fa-fw fa-twitter" aria-hidden="true"></i> Twitter
                </a>
            </li>
            {% endif %}
            {% if author.linkedin %}
            <li>
                <a href="https://www.linkedin.com/in/{{ author.linkedin }}" itemprop="sameAs">
                    <i class="fa fa-fw fa-linkedin" aria-hidden="true"></i> LinkedIn
                </a>
            </li>
            {% endif %}
           {% if author.github %}
            <li>
                <a href="https://github.com/{{ author.github }}" itemprop="sameAs">
                    <i class="fa fa-fw fa-github" aria-hidden="true"></i> GitHub
                </a>
            </li>
            {% endif %}
            {% if author.steam %}
            <li>
                <a href="https://steamcommunity.com/id/{{ author.steam }}" itemprop="sameAs">
                    <i class="fa fa-fw fa-steam" aria-hidden="true"></i> Steam
                </a>
            </li>
            {% endif %} {% if author.youtube %}
            <li>
                <a href="https://youtube.com/c/{{ author.youtube }}" itemprop="sameAs">
                    <i class="fa fa-fw fa-youtube" aria-hidden="true"></i> YouTube
                </a>
            </li>
            {% endif %}
            <!--  {% if author.soundcloud %}
            <li>
                <a href="https://soundcloud.com/{{ author.soundcloud }}" itemprop="sameAs">
                    <i class="fa fa-fw fa-soundcloud" aria-hidden="true"></i> Soundcloud
                </a>
            </li>
            {% endif %} {% if author.codepen %}
            <li>
                <a href="https://codepen.io/{{ author.codepen }}" itemprop="sameAs">
                    <i class="fa fa-fw fa-codepen" aria-hidden="true"></i> CodePen
                </a>
            </li>
            {% endif %} -->
        </ul>
    </div>
</div>
