<meta charset="utf-8">

{% include seo.html %}

<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | absolute_url }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- Favicon for old IEs -->
<link rel="shortcut icon" href="/assets/favicons/favicon.ico" />
<!-- Favicon for new browsers multisize ico  -->
<link rel="icon" type="image/x-icon" sizes="16x16 32x32" href="/assets/favicons/favicon.ico" />
<!-- Favicon for Chrome on Android -->
<link rel="icon" sizes="192x192" href="/assets/favicons/favicon-192.png" />
<!-- Favicon for Phone 6+ downscaled on other devices -->
<link rel="apple-touch-icon-precomposed" sizes="180x180" href="/assets/favicons/favicon-180.png" />
<!-- Favicon for IE10 Metro -->
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="/assets/favicons/favicon-144.png" />

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700|Roboto:400,700" rel="stylesheet">

<!-- Font Awesome -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<!-- For all browsers -->
<link rel="stylesheet" href="{{ '/assets/css/main.css' | absolute_url }}">

<meta http-equiv="cleartype" content="on">