<!-- jQuery -->
<script src="//code.jquery.com/jquery-3.1.1.min.js""></script>

<!-- Algolia -->

<script src="//cdn.jsdelivr.net/algoliasearch/3.6.0/algoliasearch.min.js"></script>
<script src="//cdn.jsdelivr.net/algoliasearch.helper/2.1.0/algoliasearch.helper.min.js"></script>
<script src="//cdn.jsdelivr.net/hogan.js/3.0.2/hogan.min.js"></script>
<script src="//cdn.jsdelivr.net/momentjs/2.10.3/moment.min.js"></script>

<!-- Custom Scripts -->
<script src="{{ '/assets/js/min/main.min.js' | absolute_url }}"></script>

<!--- Web Analytics -->
{% include analytics/analytics.html %}

<!-- Comment Provider - Disqus -->
{% include comments/script.html %}