<div class="section pb-2">
  <div class="container">
    <nav class="main-navigation" aria-label="Primary Navigation">
      <!-- Navbar-->
      <a href="/" class="logo is-size-4">
        <span class="symbol">
          <img src="/assets/img/logo.svg" alt="FVCproductions - Logo">
        </span>
        <span class="header">
          {{ .Site.Title }}
        </span>
      </a>
      <ul class="mt-1">
        {{ $parentPages := where .Site.RegularPages "Type" "page" }}
        {{ $homePages := $parentPages | union (.Site.Sections) }}
        {{ range $homePages.ByTitle }}
        {{ if .Params.navbar }}
        <li class="menu-item is-size-4">
          <a href="{{ .RelPermalink }}" rel="noopener" title="{{ .Title }}">
            {{ if .Params.display }}{{ .Params.display }}{{ else }}{{ .Title }}{{ end }}
          </a>
        </li>
        {{ end }}
        {{ end }}
      </ul>
    </nav>
  </div>
</div>