.archive__item {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.archive__item-title {
    margin: 0;
    font-family: $sans-serif-narrow;
    font-size: $type-size-4;
    a {
        color: $black;
        text-decoration: none;
        &:hover {
            color: $light-gray !important;
            text-decoration: none;
        }
    }
}

.portfolio__item .archive__item-title,
.blog__item .archive__item-title,
.feedback__item .archive__item-title {
    margin-bottom: .5em;
}

.archive__subtitle {
    margin: 1.414em 0 0;
    padding-bottom: 0.5em;
    font-size: $type-size-5;
    color: mix($white, $gray, 25%);
    border-bottom: 1px solid $lighter-gray;
    + .list__item .archive__item-title {
        margin-top: 0.5em;
    }
}

.archive__item-teaser {
    width: 100%;
    display: block;
    max-height: 250px;
    img {
        vertical-align: middle;
        border-style: none;
    }
}

.archive__item-content {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: $type-size-5;
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    &:last-child {
        margin-bottom: 0;
    }
    .page__meta {
        margin: 0 0 4px;
    }
}

.archive__item-excerpt {
    margin: 0 !important;
    margin-top: 1em !important;
    font-size: $type-size-6;
    font-family: $sans-serif;
}

.archive__item-date {
    font-family: $monospace;
    margin: 0 !important;
}


/*
   List view
   ========================================================================== */

.list__item {
    @include breakpoint($medium) {
        padding-right: $right-sidebar-width-narrow;
    }
    @include breakpoint($large) {
        padding-right: $right-sidebar-width;
    }
    @include breakpoint($x-large) {
        padding-right: $right-sidebar-width-wide;
    }
    .page__meta {
        margin: 0 0 4px;
    }
}


/*
   Grid view
   ========================================================================== */

.grid__item {
    margin-bottom: 2em;
    @include breakpoint($small) {
        @include gallery(6 of 12);
    }
    @include breakpoint($medium) {
        margin-left: 0;
        /* reset before mixin does its thing*/
        margin-right: 0;
        /* reset before mixin does its thing*/
        @include gallery(4 of 12);
        .archive__item-excerpt {
            display: block;
            font-size: $type-size-6;
        }
    }
}

.grid__wrapper {
    margin-top: 2em;
}


/*
   Features
   ========================================================================== */

.feature__wrapper {
    @include clearfix();
    margin-bottom: 2em;
    border-bottom: 1px solid $lighter-gray;
}

.feature__item {
    margin-bottom: 2em;
    font-size: $type-size-5;
    .archive__item-title {
        margin-top: .5em;
    }
    @include breakpoint($mobile) {
        a.btn.btn--twitter {
            margin-top: 1em;
        }
    }
    @include breakpoint($small) {
        @include gallery(4 of 12);
        .feature__item-teaser {
            max-height: 200px;
            overflow: hidden;
        }
    }
    &--left {
        @include full();
        font-size: $type-size-5;
        .archive__item-teaser {
            margin-bottom: 2em;
        }
        @include breakpoint($small) {
            .archive__item-teaser {
                @include span(6 of 12);
            }
            .archive__item-body {
                @include span(10 of 12 last);
                @include prefix(0.5 of 12);
                @include suffix(1 of 12);
            }
        }
    }
    &--right {
        @include full();
        font-size: $type-size-5;
        .archive__item-teaser {
            margin-bottom: 2em;
        }
        @include breakpoint($small) {
            text-align: right;
            .archive__item-teaser {
                @include span(6 of 12 rtl);
            }
            .archive__item-body {
                @include span(10 of 12 last rtl);
                @include prefix(0.5 of 12);
                @include suffix(1 of 12);
            }
        }
    }
    &--center {
        @include full();
        font-size: $type-size-5;
        .archive__item-teaser {
            margin-bottom: 2em;
        }
        @include breakpoint($small) {
            text-align: center;
            .archive__item-teaser {
                margin: 0 auto;
                width: span(6 of 12);
            }
            .archive__item-body {
                margin: 0 auto;
                width: span(10 of 12);
            }
        }
    }
}
