.btn {
    background-color: $alien;
    border-radius: 0;
    border: solid 1px $alien;
    color: $white !important;
    cursor: pointer;
    display: inline-block;
    font-family: $sans-serif;
    font-size: $type-size-6;
    font-weight: bold;
    margin-bottom: 0.25em;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    &:hover {
        background-color: $white;
        border-color: $alien !important;
        color: $alien !important;
    }
    .icon {
        margin-right: 0.5em;
    }
    .icon+.hidden {
        margin-left: -0.5em;
        /* override for hidden text*/
    }
    /* fills width of parent container */
    &--block {
        display: block;
        width: 100%;
        +.btn--block {
            margin-top: 0.25em;
        }
    }
    /* for dark backgrounds */
    &--inverse {
        background-color: $white;
        border-color: $alien;
        color: $alien !important;
        &:hover {
            background-color: $alien !important;
            border-color: $alien !important;
            color: $white !important;
        }
    }
    /* hero */
    &--hero {
        background-color: white;
        border: solid 2px $white !important;
        color: $alien !important;
        &:hover {
            background-color: $alien !important;
            border: solid 2px $alien !important;
            color: $white !important;
        }
    }
    /* light outline */
    &--light-outline {
        background-color: transparent;
        border-color: $white !important;
        color: $white !important;
        &:hover {
            background-color: $alien;
            border-color: $alien;
            color: $white !important;
        }
    }
    /* information */
    &--info {
        background-color: $info-color;
        border-color: $info-color;
        &:hover {
            background-color: mix($black, $info-color, 20%);
            border-color: mix($black, $info-color, 20%) !important;
            color: $white !important;
        }
    }
    /* warning */
    &--warning {
        background-color: $warning-color;
        border-color: $warning-color;
        &:hover {
            background-color: mix($black, $warning-color, 20%);
            border-color: mix($black, $warning-color, 20%) !important;
            color: $white !important;
        }
    }
    /* success */
    &--success {
        background-color: $success-color;
        border-color: $success-color;
        &:hover {
            background-color: mix($black, $success-color, 20%);
            border-color: mix($black, $success-color, 20%) !important;
            color: $white !important;
        }
    }
    /* danger */
    &--danger {
        background-color: $danger-color;
        border-color: $danger-color;
        &:hover {
            background-color: mix($black, $danger-color, 20%);
            border-color: mix($black, $danger-color, 20%) !important;
            color: $white !important;
        }
    }
    /* disabled */
    &--disabled {
        box-shadow: none;
        cursor: not-allowed;
        filter: alpha(opacity=65);
        opacity: 0.65;
        pointer-events: none;
    }
    /* social buttons */
    $social: (facebook, $facebook-color),
    (twitter, $twitter-color),
    (google-plus, $google-plus-color),
    (linkedin, $linkedin-color),
    (rss, $rss-color),
    (youtube-play, $youtube-color),
    (behance, $behance-color),
    (github-alt, $gray),
    (spotify, $spotify-color),
    (reddit, $reddit-color);
    @each $socialnetwork,
    $color in $social {
        &--#{$socialnetwork} {
            background-color: $color;
            border-color: $color;
            &:hover {
                background-color: mix($black, $color, 20%);
                border-color: mix($black, $color, 20%) !important;
                color: $white !important;
            }
        }
    }
    /* extra large button */
    &--x-large {
        font-size: $type-size-4;
    }
    /* large button */
    &--large {
        font-size: $type-size-5;
    }
    /* small button */
    &--small {
        font-size: $type-size-6;
    }
}

$fa-social: (facebook, $facebook-color),
(twitter, $twitter-color),
(google-plus, $google-plus-color),
(linkedin, $linkedin-color),
(rss, $rss-color),
(youtube-play, $youtube-color),
(behance, $behance-color),
(github-alt, $gray),
(spotify, $spotify-color),
(reddit, $reddit-color);
@each $social-network,
$fa-color in $fa-social {
    .page__footer-follow .fa-#{$social-network}:hover {
        color: $fa-color !important;
    }
}

a.btn:hover {
    text-decoration: none !important;
}

.archive__item-excerpt a.btn.btn--twitter {
    color: black !important;
    @media screen and (max-width: $mobile) {
        margin-top: 1em;
    }
    &:hover {
        color: white !important;
    }
}

/** Scroll to Top */

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #607D8B;
    width: 50px;
    height: 50px;
    display: block;
    z-index: 5000;
    text-decoration: none;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    &:hover {
        background: $alien;
    }
    i {
        color: #fff;
        margin: 0;
        margin-top: -1px;
        position: relative;
        left: 0;
        top: 0;
        line-height: 50px;
        width: 50px;
        height: 50px;
        font-size: 2em;
        text-align: center;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
}