#main {
    @include container;
    @include clearfix;
    max-width: 90%;
    animation: intro 0.3s both;
    animation-delay: 0.35s;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 2rem;
}

body.layout--splash #main {
    margin-top: 1em;
}

.page {
    .page__inner-wrap {
        @include full();
        padding: 0 5% 0 5%;
        margin-bottom: 1em;
        .page__content,
        .page__meta,
        .page__share {
            @include full();
        }
    }
}

.page__title {
    margin-top: 0;
    margin-bottom: 1rem;
}

.page__lead {
    font-family: $global-font-family;
    font-size: $type-size-4;
}

.page__content {
    margin-bottom: 1em;
    p,
    li,
    dl {
        font-size: $type-size-6;
    }
    /* paragraph indents */
    p {
        margin: 0 0 $indent-var;
        /* sibling indentation*/
        @if $paragraph-indent==true {
            & + p {
                text-indent: $indent-var;
                margin-top: -($indent-var);
            }
        }
    }
    a {
        text-decoration: none;
        color: $link-color;
        &:hover {
            text-decoration: underline;
            img {
                box-shadow: 0 0 10px rgba($black, 0.25);
            }
        }
    }
    dt {
        margin-top: 1em;
        font-family: $sans-serif;
        font-weight: bold;
    }
    dd {
        margin-left: 1em;
        font-family: $sans-serif;
        font-size: $type-size-6;
    }
    .small {
        font-size: $type-size-6;
    }
    /* blockquote citations */
    blockquote + .small {
        padding-left: 1.25rem;
    }
}

.page__hero {
    position: relative;
    margin-bottom: 0;
    @include clearfix;
    animation: intro 0.3s both;
    animation-delay: 0.25s;
    &--overlay {
        position: relative;
        margin-bottom: 1em;
        padding: 3em 0;
        @include clearfix;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        animation: intro 0.3s both;
        animation-delay: 0.25s;
        a {
            color: $gray;
        }
        .wrapper {
            padding-left: 1em;
            padding-right: 1em;
            @include breakpoint($x-large) {
                max-width: $x-large;
            }
        }
        .page__title,
        .page__meta,
        .page__lead,
        .btn {
            color: $black;
        }
        .page__lead {
            max-width: $medium;
        }
        .page__title {
            font-size: $type-size-2;
            @include breakpoint($small) {
                font-size: $type-size-1;
            }
        }
    }
}

.page__hero-image {
    width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
}

.page__hero-caption {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    padding: 2px 5px;
    color: $white;
    font-family: $caption-font-family;
    font-size: $type-size-6;
    background: $black;
    text-align: right;
    z-index: 5;
    opacity: 0.5;
    border-radius: $border-radius 0 $border-radius 0;
    @include breakpoint($large) {
        padding: 5px 10px;
    }
    a {
        color: $white;
        text-decoration: none;
    }
}


/*
   Social sharing
   ========================================================================== */

.page__share {
    border-top: 1px solid $lighter-gray;
    @include breakpoint(max-width $small) {
        .btn span {
            border: 0;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }
    }
}

.page__share-title,
.page__pagination-title {
    margin: 2em 0 2em 0;
    font-size: $type-size-6;
    text-transform: uppercase;
    font-weight: 400;
}


/*
   Page meta
   ========================================================================== */

.page__meta {
    margin: 1em 0 1em 0;
    color: $gray;
    font-family: $monospace;
    font-size: $type-size-6;
    p {
        margin-bottom: 1em;
    }
    a {
        color: inherit;
    }
    &.page__date {
        margin-bottom: 1em;
    }
}

.page__meta-title {
    margin-bottom: 10px;
    font-size: $type-size-6;
    text-transform: uppercase;
}

footer.page__meta.introductory__info {
    margin-top: 2em;
}


/*
   Page taxonomy
   ========================================================================== */

.page__taxonomy {
    .sep {
        display: none;
    }
    strong {
        margin-right: 10px;
    }
}

.page__taxonomy-item {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 8px;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid $light-gray;
    border-radius: $border-radius;
    &:hover {
        text-decoration: none;
        color: $link-color-hover;
    }
}


/*
   Comments
   ========================================================================== */

.page__comments {
    @include full();
}

.page__comments-title {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
    font-size: $type-size-6;
    border-top: 1px solid $lighter-gray;
    text-transform: uppercase;
}

.page__comments-form {
    padding: 1em;
    background: $lighter-gray;
    transition: $global-transition;
    &.disabled {
        input,
        button,
        textarea,
        label {
            pointer-events: none;
            cursor: not-allowed;
            filter: alpha(opacity=65);
            box-shadow: none;
            opacity: 0.65;
        }
    }
}

.comment__avatar-wrapper {
    float: left;
    width: 60px;
    height: 60px;
    @include breakpoint($large) {
        width: 100px;
        height: 100px;
    }
}

.comment__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    @include breakpoint($large) {
        width: 80px;
        height: 80px;
        padding: 5px;
        border: 1px solid $lighter-gray;
    }
}

.comment__content-wrapper {
    float: right;
    width: calc(100% - 60px);
    @include breakpoint($large) {
        width: calc(100% - 100px);
    }
}

.comment__author {
    margin: 0;
    a {
        text-decoration: none;
    }
}

.comment__date {
    @extend .page__meta;
    margin: 0;
    a {
        text-decoration: none;
    }
}


/*
   Related
   ========================================================================== */

.page__related {
    border-top: 1px solid $lighter-gray;
    margin-top: 2em;
    @include clearfix();
    float: left;
    @include breakpoint($large) {
        @include pre(2.5 of 12);
    }
    a {
        color: inherit;
        text-decoration: none;
    }
}

.page__related-title {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: $type-size-6;
    text-transform: uppercase;
}


/** PAGINATION */

.page__pagination {
    border-top: 1px solid $lighter-gray;
    margin-top: 2em;
    width: 100%;
    @include clearfix();
    float: left;
    @include breakpoint($large) {
        @include pre(2.5 of 12);
    }
    a {
        color: inherit;
        text-decoration: none;
    }
}


/** Nice Header Images with Title */

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $black;
    opacity: 0.5;
}

#primary-header {
    position: relative;
    height: 85vh;
    display: table;
    width: 100%;
    background: rgba(0, 0, 0, 0.05);
    table-layout: fixed;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    background-position: center center;
    background-attachment: scroll;
}

#teaser-header {
    position: relative;
    height: 35em;
    width: 100%;
    background: rgba(0, 0, 0, 0.05);
    table-layout: fixed;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    background-position: center center;
    background-attachment: scroll;
}

#primary-header .primary-hentry-inner {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: bottom;
    overflow: hidden;
    text-align: center;
    color: white;
}

#primary-header,
#primary-header .container {
    position: relative;
}

#primary-header .entry-title {
    font-size: ($type-size-1 * 2);
}


/** iFrame - Travel */

iframe#travel {
    margin: 1em 0 1em 0;
    max-width: 95%;
}
