/*
   Table of contents navigation
   ========================================================================== */

.toc {
    font-family: $sans-serif-narrow;
    color: $gray;
    text-transform: none;
    letter-spacing: 1px;
    background-color: $background-color;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    margin-bottom: 2em;
    .nav__title {
        color: $background-color;
        font-size: $type-size-4;
        background: $primary-color;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        text-transform: capitalize;
    }
}

.toc__menu {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    font-size: 0.8rem;
    a {
        display: block;
        padding: 0.5rem 1rem;
        color: $gray;
        font-size: $type-size-5;
        font-weight: bold;
        line-height: 1.5;
        border-bottom: 1px solid $border-color;
        &:hover {
            color: #000;
            background: $lighter-gray;
            text-decoration: none !important;
        }
    }
    > li:last-child {
        a {
            border-bottom: none;
        }
    }
    li ul > li a {
        padding-left: 2rem;
        font-weight: normal;
    }
    /* hide sub sub links on small screens*/
    li > ul li {
        display: none;
        @include breakpoint($medium) {
            display: block;
        }
    }
}
