/* Paragraphs */

$paragraph-indent: false !default; // true, false (default)
$indent-var: 1.5em !default;

/* Font Scale */

$type-size-1: 2em !default;
$type-size-2: 1.8em !default;
$type-size-3: 1.6em !default;
$type-size-4: 1.4em !default;
$type-size-5: 1.2em !default;
$type-size-6: 1em !default;

/* Base Colors */

$black: #000 !default;
$white: #fff !default;
$gray: #333333!default;
$alien: #253137 !default;

/* Base Variants */

$dark-gray: mix($black, $gray, 20%) !default;
$darker-gray: mix($black, $gray, 40%) !default;
$light-gray: mix($white, $gray, 60%) !default;
$lighter-gray: mix($white, $gray, 80%) !default;

/* Other Colors */

$success-color: #62c462 !default;
$warning-color: #f89406 !default;
$danger-color: #ee5f5b !default;
$info-color: #52adc8 !default;
$footer-color: #e5e5e5 !default;
$code-color: #263238 !default;

/* Brands */

$behance-color: #1769FF !default;
$dribbble-color: #ea4c89 !default;
$facebook-color: #3b5998 !default;
$flickr-color: #ff0084 !default;
$foursquare-color: #0072b1 !default;
$github-color: #171516 !default;
$google-plus-color: #dd4b39 !default;
$instagram-color: #517fa4 !default;
$lastfm-color: #d51007 !default;
$linkedin-color: #007bb6 !default;
$pinterest-color: #cb2027 !default;
$rss-color: #fa9b39 !default;
$soundcloud-color: #ff3300 !default;
$stackoverflow-color: #fe7a15 !default;
$tumblr-color: #32506d !default;
$twitter-color: #55acee !default;
$vimeo-color: #1ab7ea !default;
$vine-color: #00bf8f !default;
$youtube-color: #bb0000 !default;
$xing-color: #006567 !default;
$speakerdeck-color: #3cb579!default;
$spotify-color: #1DB954 !default;
$reddit-color: #ff4500 !default;

/* Links */

$link-color: $info-color !default;
$link-color-hover: mix($black, $link-color, 25%) !default;
$link-color-visited: mix($white, $link-color, 25%) !default;
$masthead-link-color: $white !default;
$masthead-link-color-hover: mix($white, $gray, 25%) !default;

/* Breakpoints */

$mobile: 400px !default;
$small: 600px !default;
$medium: 900px !default;
$large: 1200px !default;
$x-large: 1500px !default;

/* Grid */

$right-sidebar-width-narrow: 30% !default;
$right-sidebar-width: 40% !default;
$right-sidebar-width-wide: 50% !default;

/* Other */

$border-radius: 4px !default;
$box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125) !default;
$navicon-width: 28px !default;
$navicon-height: 4px !default;
$global-transition: all 0.2s ease-in-out !default;