<!-- Year -->
{{ range .Site.RegularPages.GroupByDate "2006" }}
<!-- Separate Years -->
<hr>
<!-- Check for No Date -->
{{ if eq .Key "0001" }}
<h2>No Date</h2>
{{ else }}
<h2>{{ .Key }}</h2>
{{ end }}
<!-- Month -->
{{ range .Pages.GroupByDate "January" }}
<h3>{{ .Key }}</h3>
<!-- Pages -->
<ul class="archive-list">
  {{ range .Pages }}
  <li>
    <span class="archive-date">{{ .Date.Format "02" }}</span>
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </li>
  {{ end }}
</ul>
{{ end }} {{ end }}
