<article class="home-tile">
  <!-- Image -->
  <!-- <span class="image background-image {{ if .Params.about }}about-tile{{ else if .Params.adventures }}adventures-tile{{ else if .Params.archive }}archive-tile{{ else if .Params.awards }}award-tile{{ else if .Params.blog }}blog-tile{{ else if .Params.freelancing }}freelancing-tile{{ else if .Params.mentoring }}mentoring-tile{{ else if .Params.portfolio }}portfolio-tile{{ else if .Params.speaking }}speaking-tile{{ end }}"></span> -->
  {{ if .Params.banner }}
    <span class="image background-image" style="background-image:url({{ .Params.banner }});"></span>
  {{ end }}
  <!-- External Link -->
  {{ if .Params.link }}
  <a href="{{ .Params.link }}" target="_blank"> ↗️
    <!-- No External Link -->
    {{ else }}
    <a href="{{ .RelPermalink }}">
      {{ end }}
      <!-- Title -->
      <h2>{{ .Title }}</h2>
      <!-- Description -->
      <div class="content">
        {{ if .Description }}
        <p>
          {{ .Description | truncate 200 | safeHTML }}
        </p>
        {{ else }}
        <p>
          {{ .Summary | truncate 200 | safeHTML }}
        </p>
        {{ end }}
      </div>
    </a>
</article>
