<!-- Categories -->
{{ if .Params.categories }}
<div class="row">
  <div class="12u">
    <p>
      <i title="Categories" class="fas fa-folder fa-lg"></i>&nbsp;&nbsp;Categories
      <br>
      <!-- Range -->
      {{ range $category := .Params.categories }}
      <a href="/categories/{{ $category | urlize }}" title="{{ $category }}">{{ $category }}</a>
      <br> {{ end }}
    </p>
  </div>
</div>
{{ end }}
<!-- Tags -->
{{ if isset .Params "tags" }}
<div class="row">
  <div class="12u">
    <p>
      <i title="Tags" class="fas fa-thumbtack fa-lg"></i>&nbsp;&nbsp;Tags
      <br>
      <!-- Range -->
      {{ range $tag := .Params.tags }}
      <a href="/tags/" title="{{ $tag }}">{{ $tag }}</a>
      <br> {{ end }} {{ else }}
      <span>{{ i18n "noTag" }}</span>
      {{ end }}
    </p>
  </div>
</div>
