<!-- Start - Check for child pages and child section pages -->
{{ if .Parent.Pages | union (.Parent.Sections) }}
<!-- Define Variable -->
{{ $pages := .Parent.Pages | union (.Parent.Sections) }}
<!-- Start Tiles -->
<section class="section tiles">
  <!-- Alphabetical Order -->
  {{ if .Params.alphabetical }}
  <!-- By Title -->
  {{ range $pages.ByTitle }} {{ partial "page/body/tile.html" . }} {{ end }}
  <!-- Date Order -->
  {{ else }}
  <!-- Reverse Order -->
  {{ range $pages.ByDate.Reverse }} {{ partial "page/body/tile.html" . }} {{ end }} {{ end }}
</section>
<!-- End Tiles -->
{{ end }}
<!-- End - Check for child pages and child section pages -->
