<article class="{{ if .Parent.Params.isotope }}isotope-item{{ end }} {{ with .Params.categories }}{{ delimit . " " }}{{ end }}">
  <span class="image home-article" style="background-image:url({{ .Params.banner }});"></span>
  {{ if .Params.link }}
  <a href="{{ .Params.link }}" target="_blank">
    {{ else }}
    <a href="{{ .Permalink }}">
      {{ end }}
      <!-- Title -->
      {{ if not .PublishDate.IsZero }}
      <p>{{ .Date.Format "January 2006" }}</p>
      {{ end }}
      <h2>{{ .Title }} {{ if .Params.link }}↗️{{ end }}
      </h2>
      <!-- Description -->
      {{ if .Description }}
      <div class="content">
        <p>{{ .Description | truncate 100 | safeHTML }}</p>
      </div>
      {{ else }}
      <div class="content">
        <p>{{ .Summary | truncate 100 | safeHTML }}</p>
      </div>
      {{ end }}
    </a>
</article>
