/* page meta */

.page__meta {
    margin: 1em 0 1em 0;
    color: $gray;
    font-family: $monospace;
    font-size: $type-size-6;
    p {
        margin-bottom: 1em;
    }
    a {
        color: inherit;
    }
    &.page__date {
        margin-bottom: 1em;
    }
    .page__meta-title {
        margin-bottom: 10px;
        font-size: $type-size-6;
        text-transform: uppercase;
    }
}

footer.page__meta.introductory__info {
    margin-top: 2em;
}
