.page {
    .page__inner-wrap {
        @include full();
        margin-bottom: 2em;
        .page__content,
        .page__meta,
        .page__share {
            @include full();
        }
    }
}

.page__title {
    margin-top: 0;
    margin-bottom: 1rem;
}

h1.page__title > p {
    margin: 0;
}

.page__lead {
    font-family: $global-font-family;
    font-size: $type-size-4;
}

.page__content {
    margin-bottom: 1em;
    p,
    li,
    dl {
        font-size: $type-size-6;
    }
    /* paragraph indents */
    p {
        margin: 0 0 $indent-var;
        /* sibling indentation*/
        @if $paragraph-indent==true {
            & + p {
                text-indent: $indent-var;
                margin-top: -($indent-var);
            }
        }
    }
    a {
        text-decoration: none;
        color: $link-color;
        &:hover {
            text-decoration: underline;
            img {
                box-shadow: 0 0 10px rgba($black, 0.25);
            }
        }
    }
    dt {
        margin-top: 1em;
        font-family: $sans-serif;
        font-weight: bold;
    }
    dd {
        margin-left: 1em;
        font-family: $sans-serif;
        font-size: $type-size-6;
    }
    .small {
        font-size: $type-size-6;
    }
    /* blockquote citations */
    blockquote + .small {
        padding-left: 1.25rem;
    }
}

.page__share,
.page__comments,
.page__pagination,
.page__related,
.page__taxonomy {
    @include full();
    @include clearfix();
    border-top: 1px solid $lighter-gray;
    margin: 1em 0 1em 0;
    float: left;
    a {
        color: inherit;
        text-decoration: none;
    }
}

.page__share-title,
.page__comments-title,
.page__pagination-title,
.page__related-title,
.page__taxonomy-title {
    margin: 2em 0 2em 0;
    font-size: $type-size-6;
    text-transform: uppercase;
    font-weight: 400;
}