<!-- jQuery -->
<script src="//code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<!-- Twemojii 2.5 -->
<script src="//cdnjs.cloudflare.com/ajax/libs/twemoji/2.5.0/twemoji.min.js" integrity="sha256-Y3KC8juDUsBOzJ3XtOH/sj+BAlF9AQr6pEey+4ibaJ4="
  crossorigin="anonymous"></script>
<!-- jQuery Mouse Wheel -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js" integrity="sha256-jnOjDTXIPqall8M0MyTSt98JetJuZ7Yu+1Jm7hLTF7U="
  crossorigin="anonymous"></script>
<!-- Light Gallery -->
<script src="//cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.4/js/lightgallery-all.min.js" integrity="sha256-hy/b8dRF/CQUikAlqEjpyefu4xcw6Y/CGPWLE9KEYdo="
  crossorigin="anonymous"></script>
<!-- Minified JS -->
<script src="{{ '/assets/js/min/main.min.js' | absolute_url }}"></script>
<!-- Initialize Service Worker -->
<script>
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('/OneSignalSDKWorker.js', {
        scope: '/'
      })
      .then(function (registration) {
        console.log('Service Worker Registered');
      });
    navigator.serviceWorker.ready.then(function (registration) {
      console.log('Service Worker Ready');
    });
  }
</script>
<!-- Embedly -->
<script src="//cdn.embedly.com/widgets/platform.js" defer></script>
<!--- Web Analytics -->
{% include analytics/analytics.html %}
<!-- Comment Provider - Disqus -->
{% include comments/script.html %}