<!-- Current Role -->
<p>I am currently a software engineer specializing in UI development on the Customer Acquisition Team at <a href="https://slack.com?source=fvcproductions" target="_blank" rel="noopener"><strong>Slack</strong></a> where my mission is to make your working life simpler, more pleasant and more productive.</p>
<!-- Credentials -->
<p>I have been working professionally as a developer since 2015 and have both a Bachelors and Masters in Computer Science.</p>
<!-- Other Commitments -->
<p>I am also the Co-Director of <a href="https://techqueria.org?source=fvcproductions" target="_blank" rel="noopener"><strong>Techqueria</strong></a>, a 501c3 nonprofit that serves the largest community of Latinx in Tech in the US and the host of <a href="/podcast/" target="_blank" rel="noopener"><strong>Tech Queens</strong></a>, the first podcast that focuses on the stories and advice shared by women of color in tech.</p>
<!-- Generic Passions -->
<p>My passions outside of work include contributing to open-source, public speaking and mentoring other people of color in tech.</p>