<!-- Current Role -->
<p>I am currently a software engineer specializing in UI development on the Customer Acquisition Team at <a href="https://slack.com?source=fvcproductions" target="_blank" rel="noopener"><strong>Slack</strong></a> where my mission is to make your working life simpler, more pleasant and more productive.</p>
<!-- Credentials -->
<p>I have been working professionally as a developer since 2015 and have both a Bachelors and Masters in Computer Science.</p>
<!-- Other Commitments -->
<p>I am also the Co-Director of <a href="https://techqueria.org?source=fvcproductions" target="_blank" rel="noopener"><strong>Techqueria</strong></a>, a 501c3 nonprofit that serves the largest community of Latinx in Tech in the US and the host of <a href="/podcast/" target="_blank" rel="noopener"><strong>Tech Queens</strong></a>, the first podcast that focuses on the stories and advice shared by women of color in tech.</p>
<!-- Generic Passions -->
<p>My passions outside of work include contributing to open-source, public speaking and mentoring other people of color in tech.</p>
<div class="connect-with-me .u-margin-top--1">
  <!-- Follow on Twitter -->
  <a aria-label="Follow FVCproductions on Twitter" title="Follow FVCproductions on Twitter" class="button button-large fa-twitter" href="https://twitter.com/intent/follow?original_referer=https%3A%2F%2Fwww.fvcproductions.com%2F&ref_src=twsrc%5Etfw&screen_name=FVCproductions&tw_p=followbutton" rel="noopener" target="_blank">
    {{ partialCached "icons/twitter.html" . }}<span class="u-margin-left--sm"><b>Follow @fvcproductions</b></span></a>
  <!-- Connect on LinkedIn -->
  <a aria-label="Connect with Frances Coronel on LinkedIn" title="Connect with Frances Coronel on LinkedIn" class="button button-large fa-linkedin" href="https://linkedin.com/in/fvcproductions" rel="noopener" target="_blank">
    {{ partialCached "icons/linkedin.html" . }}<span class="u-margin-left--sm"><b>Connect on LinkedIn</b></span>
  </a>
</div>