<!-- Current Role -->
<p><strong>Frances Coronel</strong> is a software engineer specializing in UI development on the Customer Acquisition Team at <a href="https://slack.com?source=fvcproductions" target="_blank" rel="noopener"><strong>Slack</strong></a> where her mission is to make your working life simpler, more pleasant and more productive.</p>
<!-- Credentials -->
<p>She has been working professionally as a developer since 2015 and has both a Bachelors and Masters in Computer Science.</p>
<!-- Other Commitments -->
<p>Frances is also a board member and open source lead for <a href="https://techqueria.org" target="_blank" rel="noopener"><strong>Techqueria</strong></a>, a nonprofit representing the largest community for Latinx in Tech and the host of <a href="/podcast/" target="_blank" rel="noopener"><strong>Tech Queens</strong></a>, the first and only podcast that focuses on the stories and advice shared by women of color in tech.</p>
<!-- Generic Passions -->
<p>Her passions outside of work include contributing to open-source, public speaking and mentoring other URMs in tech.</p>
<!-- Follow on Twitter -->
<a aria-label="FVCproductions on Twitter" class="button button-large fa-twitter" href="https://twitter.com/intent/follow?original_referer=https%3A%2F%2Fwww.fvcproductions.com%2F&ref_src=twsrc%5Etfw&screen_name=FVCproductions&tw_p=followbutton" rel="noopener" target="_blank" title="FVCproductions on Twitter">
  {{ partial "icons/twitter.html" . }}<span class="ml-sm"><b>Follow @fvcproductions</b></span>
</a>