{{ define "main" }}
<!-- Hero -->
{{ partial "hero" . }}
<section class="section">
  <div class="container">
    <h1>{{ .Title }}</h1>
    <div class="content">
      <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
      {{ .Content }}
      <!-- Ranges through content/post/*.md -->
      <div class="columns is-multiline is-mobile">
        {{ range .Data.Pages }}
        <div class="column is-one-third">
          <div class="card">
            {{ if .Params.header.image }}
            <div class="card-image">
              <figure class="image">
                <img src="{{ .Params.header.image }}" alt="{{ .Params.header.alt }}">
              </figure>
            </div>
            {{ end }}
            <div class="card-content">
              <p class="title">
                <a href="{{.Permalink}}">{{ .Title }}</a>
              </p>
              {{ with .Date }}
              <p class="subtitle">
                <i aria-hidden="true" class="fa fa-calendar-o"></i> {{ .Format "January 2, 2006" }}
              </p>
              {{ end }}
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
