{{ define "main" }}
<!-- Hero -->
{{ partial "hero" . }}
<section class="section">
  <div class="container">
    <div class="meta">
      {{ with .Params.excerpt }}
      <p>
        <i class="fa fa-info-circle fa-lg" aria-hidden="true"></i>{{ . }}
      </p>
      {{ end }} {{ with .Date }}
      <p>
        <i class="fa fa-calendar-o fa-lg" aria-hidden="true"></i>Created
        <b>{{ .Format "Monday - January 2, 2006" }}</b>
      </p>
      {{ end }} {{ with .Lastmod }}
      <p>
        <i class="fa fa-calendar-check-o fa-lg" aria-hidden="true"></i>Last modified
        <b>{{ .Format "Monday - January 2, 2006" }}</b>
      </p>
      {{ end }} {{ with .ReadingTime }}
      <p>
        <i class="fa fa-clock-o fa-lg" aria-hidden="true"></i>{{ . }} minute read {{ end }} {{ with .WordCount }} ∙ {{ . }} words
      </p>
      {{ end }} {{ with .Params.tags }}
      <ul id="tags">
        {{ range . }}
        <li>
          <a href="{{ " tags " | absURL }}{{ . | urlize }}">{{ . }}</a>
        </li>
        {{ end }}
      </ul>
      {{ end }}
    </div>
    <div class="content">
      {{ .Content }}
    </div>
    {{ partial "pagination" . }}
  </div>
</section>
{{ end }}
