.notice {
  margin: 1em 0 !important;
  padding: 1em;
  text-indent: initial;
  background-color: mix(white, lightgray, 75%);
  border-radius: _size(border-radius);
  box-shadow: 0 1px 1px rgba(lightgray, 0.25);
  h4 {
    margin-top: 0 !important;
    margin-bottom: 0.75em;
  }
  p {
    &:last-child {
      margin-bottom: 0 !important;
    }
  }
  h4+p {
    margin-top: 0;
    padding-top: 0;
  }
  code {
    background-color: mix(white, lightgray, 95%);
  }
  ul {
    &:last-child {
      margin-bottom: 0;
      /* override*/
    }
  }
}
