{{ if .Params.filtering }}
<script async src="/assets/js/filter.js"></script>
<div class="page-section">
  <div class="12u$">
    <!-- Description -->
    {{ partial "filter/header/index.html" . }}
    <!-- Filters -->
    {{ partial "filter/buttons/index.html" . }}
    <!-- Adventures -->
    {{ if .Params.adventures }}
    <section class="section tiles filtered-grid plain">
      {{ $adventures := .Pages | union (.Sections) }}{{ range $adventures.ByDate.Reverse }}{{ partial "page/body/tiles/tile-plain.html" . }}{{ end }}
    </section>
    {{ end }}
    <!-- Awards -->
    {{ if .Params.awards }}
    <section class="section tiles filtered-grid plain">
      {{ $awards := ($.Site.Taxonomies.categories.award).Pages }}{{ range $awards.ByDate.Reverse }}{{ partial "page/body/tiles/tile-plain.html" . }}{{ end }}
    </section>
    {{ end }}
    <!-- Blogging -->
    {{ if .Params.blog }}
    <section class="section tiles filtered-grid plain">
      {{ $posts := ($.Site.Taxonomies.categories.blog).Pages }}{{ range $posts.ByDate.Reverse }} {{ partial "page/body/tiles/tile-plain.html" . }}{{ end }}
    </section>
    {{ end }}
    <!-- Reviews -->
    {{ if .Params.reviews }}
    <section class="section tiles filtered-grid">
      {{ $reviews := ($.Site.Taxonomies.categories.review).Pages }}{{ range $reviews.ByDate.Reverse }}{{ partial "page/body/tiles/tile.html" . }}{{ end }}
    </section>
    {{ end }}
    <!-- Portfolio -->
    {{ if .Params.portfolio }}
    <section class="section tiles filtered-grid">
      {{ $projects := ($.Site.Taxonomies.categories.portfolio).Pages }}{{ range $projects.ByDate.Reverse }}{{ partial "page/body/tiles/tile-plain.html" . }}{{ end }}
    </section>
    {{ end }}
    <!-- Speaking -->
    {{ if .Params.speaking }}
    <!-- Talks -->
    <section class="section tiles filtered-grid">
      {{ $speaking := ($.Site.Taxonomies.categories.speaking).Pages }}{{ range $speaking.ByDate.Reverse }}{{ partial "page/body/tiles/tile-plain.html" . }}{{ end }}
    </section>
    {{ end }}
  </div>
</div>
{{ end }}
