.masthead {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: $black;
    width: 100%;
    &__inner-wrap {
        @include container;
        @include clearfix;
        max-width: 90%;
        padding: 1em 1em 1em;
        font-family: $sans-serif-narrow;
        @include breakpoint($x-large) {
            max-width: 85%;
        }
        nav {
            z-index: 10;
        }
        a {
            text-decoration: none;
        }
    }
}

.masthead__menu {
    ul {
        margin: 0;
        padding: 0;
        clear: both;
        list-style-type: none;
    }
}

.masthead__menu-item {
    display: block;
    list-style-type: none;
    white-space: nowrap;
    font-size: $type-size-6;
    font-family: $monospace;
    &--lg {
        padding-right: 1em;
        font-weight: 400;
        font-family: $sans-serif;
        font-size: $type-size-5;
    }
}

.navbar-brand {
    background: url("/assets/images/logo-white.svg");
}

.navbar-brand:hover {
    background: url("/assets/images/logo-white.svg");
}

/** Children Menu */

nav ul {
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0
}

nav ul a {
    display: block;
}

nav ul li {
    position: relative;
    margin: 0;
    padding: 0;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    min-width: 150px;
    text-align: center;
    left: 0;
    padding: 5px;
    border: 1px solid $lighter-gray;
    background: $white;
    box-shadow: 0 0 10px rgba($black, 0.25);
}

nav ul ul li {
    display: block !important;
    border-bottom: 1px solid $lighter-gray;
    &:last-child {
        border-bottom: none;
    }
    a {
        margin: 0 !important;
        padding: 10px 20px !important;
        font-size: $type-size-6;
        color: $black !important;
        display: block;
        font-weight: 300;
        text-decoration: none;
        &:before {
            display: none;
        }
        &:hover {
            color: $white !important;
            background: $black !important;
        }
    }
}

nav ul ul ul {
    top: 0;
    left: 100%
}

nav ul li:hover > ul {
    display: block !important;
    left: auto;
    top: 100%;
    -webkit-transition: top .45s ease-in-out, opacity .45s ease-in-out;
    -moz-transition: top .45s ease-in-out, opacity .45s ease-in-out;
    transition: top .45s ease-in-out, opacity .45s ease-in-out;
}

ul.hidden-links li:hover > ul {
    display: none !important;
}
