.greedy-nav {
    position: relative;
    min-width: 250px;
    background: $black;
    a {
        display: block;
        margin: 0 1rem;
        padding: 0.5rem 0;
        color: $masthead-link-color;
        text-decoration: none;
        &:hover {
            color: $white;
        }
    }
    button {
        position: absolute;
        height: 100%;
        right: 0;
        padding: 0 15px;
        border: 0;
        outline: none;
        background-color: $black;
        color: $white;
        cursor: pointer;
        &:hover {
            background-color: $black;
            transform: scale(1.075);
        }
        &::after {
            content: attr(count);
            position: absolute;
            width: 30px;
            height: 30px;
            right: -5px;
            top: 5px;
            text-align: center;
            background-color: $black;
            color: $white;
            font-size: $type-size-6;
            line-height: 25px;
            border-radius: 50%;
            border: 3px solid $white;
            font-weight: bold;
        }
    }
    .visible-links {
        display: inline-table;
        li {
            display: table-cell;
            vertical-align: middle;
            &:first-child {
                font-weight: bold;
                a {
                    margin-left: 0;
                    &::before {
                        background: black;
                    }
                }
            }
            &:last-child {
                a {
                    margin-right: 0;
                }
            }
        }
        li:first-child a a {
            position: relative;
            &:before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                height: 4px;
                background: white;
                width: 100%;
                -webkit-transform: scaleX(0) translate3d(0, 0, 0);
                -ms-transform: scaleX(0) translate3d(0, 0, 0);
                transform: scaleX(0) translate3d(0, 0, 0);
            }
            &:hover:before {
                -webkit-transform: scaleX(1);
                -ms-transform: scaleX(1);
                transform: scaleX(1);
            }
        }
    }
    .hidden-links {
        position: absolute;
        top: 100%;
        right: 0;
        border: 1px solid $lighter-gray;
        background: $white;
        box-shadow: 0 0 10px rgba($black, 0.25);
        a {
            margin: 0;
            padding: 10px 20px;
            font-size: $type-size-6;
            color: $black;
            &:hover {
                color: $white;
                background: $black;
            }
        }
        &:before {
            // content: "";
            position: absolute;
            top: -11px;
            right: 10px;
            width: 0;
            border-style: solid;
            border-width: 0 10px 10px;
            border-color: $lighter-gray transparent;
            display: block;
            z-index: 0;
        }
        &:after {
            // content: "";
            position: absolute;
            top: -10px;
            right: 10px;
            width: 0;
            border-style: solid;
            border-width: 0 10px 10px;
            border-color: $white transparent;
            display: block;
            z-index: 1;
        }
        li {
            display: block;
            border-bottom: 1px solid $lighter-gray;
            &:last-child {
                border-bottom: none;
            }
        }
    }
    .hidden {
        visibility: hidden;
    }
}

.navbar-brand {
    display: inline-block;
    padding-top: .25rem;
    padding-bottom: .25rem;
    margin-right: 1rem;
    font-size: $type-size-5;
    line-height: inherit;
    white-space: nowrap;
    transition: none;
    -webkit-transition: none;
}

img.navbar-brand {
    width: 2em;
}
