<!doctype html>
<!-- HTML5 -->
<html lang="en" dir="ltr" itemscope itemtype="http://schema.org/WebPage">

<head prefix="og: http://ogp.me/ns#">
  {{- partial "head.html" . -}}
  <!-- Netlify Identity -->
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <!-- Drift -->
  <!-- Start of Async Drift Code -->
  <script>
    "use strict";

    ! function () {
      var t = window.driftt = window.drift = window.driftt || [];
      if (!t.init) {
        if (t.invoked) return void(window.console && console.error && console.error("Drift snippet included twice."));
        t.invoked = !0, t.methods = ["identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on"],
          t.factory = function (e) {
            return function () {
              var n = Array.prototype.slice.call(arguments);
              return n.unshift(e), t.push(n), t;
            };
          }, t.methods.forEach(function (e) {
            t[e] = t.factory(e);
          }), t.load = function (t) {
            var e = 3e5,
              n = Math.ceil(new Date() / e) * e,
              o = document.createElement("script");
            o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
            var i = document.getElementsByTagName("script")[0];
            i.parentNode.insertBefore(o, i);
          };
      }
    }();
    drift.SNIPPET_VERSION = '0.3.1';
    drift.load('a8rk3sn4rtkp');
  </script>
  <!-- End of Async Drift Code -->
</head>

<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
  <!-- Return to Top -->
  {{- partial "custom/return-to-top.html" . -}}
  <!-- Navbar -->
  {{- partial "navbar.html" . -}}
  <!-- Container -->
  <div class="container">
    <!-- Main Content -->
    <div role="main">
      <!-- Main Block -->
      {{ block "main" . }}{{ end }}
    </div>
  </div>
  <!-- Footer -->
  {{- partial "footer.html" . -}}
  <!-- Scripts -->
  {{- partial "scripts.html" . -}}
  <!-- Netlify Identity -->
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
  <!-- Calendly badge widget begin -->
  <!-- <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
  <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
  <script type="text/javascript">
    Calendly.initBadgeWidget({
      url: 'https://calendly.com/fvcproductions',
      text: 'Schedule a time to chat',
      color: '#253137',
      branding: false
    });
  </script> -->
  <!-- Calendly badge widget end -->
</body>

</html>