<!doctype html>
<!-- HTML5 -->
<html lang="en" dir="ltr" itemscope itemtype="http://schema.org/WebPage">

<head prefix="og: http://ogp.me/ns#">
  {{- partial "head.html" . -}}
  <!-- Netlify Identity -->
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>

<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
  <!-- Return to Top -->
  {{- partial "custom/return-to-top.html" . -}}
  <!-- Navbar -->
  {{- partial "navbar.html" . -}}
  <!-- Container -->
  <div class="container">
    <!-- Main Content -->
    <div role="main">
      <!-- Main Block -->
      {{ block "main" . }}{{ end }}
    </div>
  </div>
  <!-- Footer -->
  {{- partial "footer.html" . -}}
  <!-- Scripts -->
  {{- partial "scripts.html" . -}}
  <!-- Netlify Identity -->
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
  <!-- Calendly badge widget begin -->
  <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
  <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
  <script type="text/javascript">Calendly.initBadgeWidget({url: 'https://calendly.com/fvcproductions', text: 'Schedule a time to chat', color: '#253137', branding: false});</script>
  <!-- Calendly badge widget end -->
</body>

</html>