{{ define "main" }}
<div class="{{ if .Params.customPage }}container{{ else }}main{{ end }}">
  <!-- Hero -->
  {{ partial "hero.html" . }}
  <!-- Page -->
  <div class="section">
    <div class="{{ if not .Params.noContentClass }}content{{ end }}">
      <!-- Content -->
      {{ partial "content.html" . }}
      <!-- Custom Content -->
      {{ partial "pages/_index.html" . }}
      <!-- Slides -->
      {{ partial "custom/slides.html" . }}
      <!-- Taxonomy -->
      {{- partial "taxonomy.html" . -}}
    </div>
  </div>
  <!-- Footer -->
  {{ partial "footer/_index.html" . }}
</div>
{{ end }}