/** Comments */

.page__comments-form {
    padding: 1em;
    background: $lighter-gray;
    transition: $global-transition;
    &.disabled {
        input,
        button,
        textarea,
        label {
            pointer-events: none;
            cursor: not-allowed;
            filter: alpha(opacity=65);
            box-shadow: none;
            opacity: 0.65;
        }
    }
}

.comment__avatar-wrapper {
    float: left;
    width: 60px;
    height: 60px;
    @include breakpoint($large) {
        width: 100px;
        height: 100px;
    }
}

.comment__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    @include breakpoint($large) {
        width: 80px;
        height: 80px;
        padding: 5px;
        border: 1px solid $lighter-gray;
    }
}

.comment__content-wrapper {
    float: right;
    width: calc(100% - 60px);
    @include breakpoint($large) {
        width: calc(100% - 100px);
    }
}

.comment__author {
    margin: 0;
    a {
        text-decoration: none;
    }
}

.comment__date {
    @extend .page__meta;
    margin: 0;
    a {
        text-decoration: none;
    }
}
