<article class="home-tile plain-tile">
  <div class="content">
    <!-- Date -->
    {{ if not .PublishDate.IsZero }}
    <p class="small">
      {{ dateFormat "Monday - January 2, 2006" .Date }}
    </p>
    {{ end }}
    <!-- Title -->
    {{ if .Params.link }}
    <a href="{{ .Params.link }}" target="_blank" rel="noopener">
      <h2>
        {{ .Title }} ↗️
      </h2>
    </a>
    {{ else }}
    <a href="{{ .RelPermalink }}">
      <h2>
        {{ .Title }}
      </h2>
    </a>
    {{ end }}
    <!-- Description -->
    {{ if .Description }}
    <p>
      {{ .Description | truncate 100 | safeHTML }}
    </p>
    {{ else }}
    <p>
      {{ .Summary | truncate 100 | safeHTML }}
    </p>
    {{ end }}
  </div>
</article>
