{{ if .Params.customPage }}
{{ if .Params.archivePage }}
{{ partialCached "pages/archive.html" . }}
{{ else if .Params.awardsPage }}
{{ partialCached "pages/awards.html" . }}
{{ else if .Params.blogPage }}
{{ partialCached "pages/blog.html" . }}
{{ else if .Params.conferencePage }}
{{ partialCached "pages/conference.html" . }}
{{ else if .Params.educationPage }}
{{ partialCached "pages/education.html" . }}
{{ else if .Params.experiencePage }}
{{ partialCached "pages/experience.html" . }}
{{ else if .Params.feedbackPage }}
{{ partialCached "pages/reviews.html" . }}
{{ else if .Params.freelancingPage }}
{{ partialCached "pages/freelancing.html" . }}
{{ else if .Params.hackathonPage }}
{{ partialCached "pages/hackathons.html" . }}
{{ else if .Params.mentoringPage }}
{{ partialCached "pages/mentoring.html" . }}
{{ else if .Params.milestonesPage }}
{{ partialCached "pages/milestones.html" . }}
{{ else if .Params.pressPage }}
{{ partialCached "pages/press.html" . }}
{{ else if .Params.portfolioPage }}
{{ partialCached "pages/portfolio.html" . }}
{{ else if .Params.programPage }}
{{ partialCached "pages/program.html" . }}
{{ else if .Params.scholarshipsPage }}
{{ partialCached "pages/scholarships.html" . }}
{{ else if .Params.sitemapPage }}
{{ partialCached "pages/sitemap.html" . }}
{{ else if .Params.speakingPage }}
{{ partialCached "pages/speaking.html" . }}
{{ else if .Params.talk }}
{{ partialCached "pages/talk.html" . }}
{{ else if .Params.talkPage }}
{{ partialCached "pages/talks.html" . }}
{{ else if .Params.volunteeringPage }}
{{ partialCached "pages/volunteering.html" . }}
{{ end }}
{{ end }}