{{ $regularPages := .Site.RegularPages }}
<div class="u-table-border-none">
  <p>✒️ I've written about {{ len $regularPages }} different things so far.</p>
  <!-- Pages -->
  {{ range $regularPages.GroupByDate "2006" }}
  <!-- Line Separator - Year -->
  <!-- Check for No Date -->
  {{ if not (eq .Key "0001") }}
  <!-- Year -->
  <h3>{{ .Key }}</h3>
  <!-- Table -->
  <table class="table">
    <tbody>
      {{ range .Pages }}
      <tr>
        <td style="width:20%;">{{ dateFormat "January 2" .Date }}</td>
        <td>
          <a href="{{ .RelPermalink }}" rel="noopener">{{ .Title }}</a>
        </td>
      </tr>{{ end }}
    </tbody>
  </table>
  {{ end }}
  <!-- End - Range - Year -->
  {{ end }}
  <!-- End Message -->
  {{ partialCached "custom/end-message.html" . }}
</div>
