## Interested in being on the podcast?

If you’re interested in being on the podcast yourself, just head on over to [techqueenspod.com](https://techqueenspod.com) and fill out the contact form near the bottom.

It doesn’t matter where you are in your tech journey - whether you’re just starting out or you’re the CTO of a Fortune 500 company - I want to hear from you and I want to share your story.

## Questions, comments, concerns?

Tweet us at [`@TechQueens`](https://twitter.com/TechQueens) or use the hashtag `#TechQueens` to show your support!

## Music

Music from Jukedeck - create your own at http://jukedeck.com
