{{ if not .Params.noComments }}
<div class="page-section comments-section">
  <div class="12u$">
    <section>
      <h3>
        🙈️🙉️🙊️ {{ .Site.Data.i18n.en.comment }}
      </h3>
      <div class="row">
        <div id="disqus_thread"></div>
      </div>
    </section>
  </div>
</div>
<script type="text/javascript">
  (function () {
    // Don't ever inject Disqus on localhost--it creates unwanted
    // discussions from 'localhost:1313' on your Disqus account...
    if (window.location.hostname == "localhost")
      return;
    var dsq = document.createElement('script');
    dsq.type = 'text/javascript';
    dsq.async = true;
    var disqus_shortname = '{{ .Site.DisqusShortname }}';
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();

</script>
<noscript>Please enable JavaScript to view the
  <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>
<a id="disqus-link" href="http://disqus.com/" target="_blank" rel="nofollow">Comments powered by Disqus</a>
{{ end }}
