{{ if not .Params.noComments }}
<div class="page-section comments-section">
  <div class="12u$">
    <section>
      <h3>
        🙈️🙉️🙊️ {{ .Site.Data.i18n.en.comment }}
      </h3>
      {{ template "_internal/disqus.html" . }}
    </section>
  </div>
</div>
<!-- <script type="text/javascript">
  var disqus_config = function () {
    this.page.url = '{{ .URL }}';
    this.page.identifier = '{{ .UniqueID }}';
    this.page.title = '{{ .Title }}';
  };
  (function () { // DON'T EDIT BELOW THIS LINE
    if (window.location.hostname == "localhost")
      return;
    var d = document,
      s = d.createElement('script');
    s.type = 'text/javascript';
    s.async = true;
    var disqus_shortname = '{{ .Site.DisqusShortname }}';
    s.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();

</script>
<noscript>Please enable JavaScript to view the
  <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>
<a id="disqus-link" href="http://disqus.com/" target="_blank" rel="noopener">Comments powered by Disqus</a> -->
{{ end }}
