<div class="page-section donate-section">
  <div class="12u$">
    <h3>
      💸️ {{ .Site.Data.i18n.en.donate }}
    </h3>
    <p>If you have found any of my contributions valuable, kindly consider supporting me through a small donation or by becoming an ongoing patron. </p>
    <!-- Patreon -->
    <a href="//patreon.com/fvcproductions" target="_blank" rel="noopener">
      <img src="/assets/img/donate/patreon.svg" height="50" alt="Patreon">
    </a>
    <!-- PayPal -->
    &nbsp;
    <a href="//paypal.me/fvcproductions/5" target="_blank" rel="noopener">
      <img src="/assets/img/donate/paypal.svg" height="50" alt="PayPal.Me">
    </a>
    <!-- Venmo -->
    &nbsp;
    <a href="//venmo.com/fvcproductions" target="_blank" rel="noopener">
      <img src="/assets/img/donate/venmo.svg" height="50" alt="Venmo">
    </a>
    <!-- Amazon Smile -->
    &nbsp;
    <a href="//smile.amazon.com/gp/registry/wishlist/183BMRKTBNR0A" target="_blank" rel="noopener">
      <img src="/assets/img/donate/amazon.svg" height="50" alt="Amazon Smile">
    </a>
    <!-- Square Cash -->
    &nbsp;
    <a href="//cash.me/$fvcprdxs/5" target="_blank" rel="noopener">
      <img src="/assets/img/donate/cash.svg" height="50" alt="Square Cash">
    </a>
    <br>
  </div>
</div>
