<div class="page-section subscribe-section">
  <div class="12u$">
    <h3>
      🌟️ {{ .Site.Data.i18n.en.subscribe }}
    </h3>
    <p>Get new updates sent to your inbox every month!</p>
    <section class="subscribe-form">
      <form action="https://fvcproductions.us12.list-manage.com/subscribe/post?u=0c1cb29d65da6e773de7acb68&amp;id=0427c5c75d" method="post"
        id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="field half first">
          <input autocomplete="on" type="text" value="" name="FNAME" class="" id="mce-FNAME" placeholder="First Name">
        </div>
        <div class="field half">
          <input autocomplete="on" type="text" value="" name="LNAME" class="" id="mce-LNAME" placeholder="Last Name">
        </div>
        <div class="field">
          <input autocomplete="on" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email">
        </div>
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>
        <ul class="actions">
          <li>
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button big">
          </li>
          <li>
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="b_0c1cb29d65da6e773de7acb68_0427c5c75d" tabindex="-1" value="">
            </div>
          </li>
          <li>
            <img src="https://kb.mailchimp.com/images/winking-freddie.svg" class="mailchimp-logo"> Powered by
            <a href="http://eepurl.com/ddx07z" title="MailChimp - email marketing made easy and fun">MailChimp ↗️</a>
          </li>
        </ul>
      </form>
    </section>
  </div>
  <!-- MailChimp -->
  <script defer id="mcjs">
    ! function (c, h, i, m, p) {
      m = c.createElement(h), p = c.getElementsByTagName(h)[0], m.defer = 1, m.src = i, p.parentNode.insertBefore(m, p)
    }(document, "script",
      "https://chimpstatic.com/mcjs-connected/js/users/0c1cb29d65da6e773de7acb68/f53091a91a4fa5282f2276da2.js");

  </script>
  <script defer type="text/javascript" src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
</div>
