<div class="section section-footer">
  <div class="content">
    <!-- Author -->
    {{ partialCached "footer/author.html" . }}
    <!-- Share -->
    {{ partial "footer/share.html" . }}
    <!-- Comment -->
    {{ partialCached "footer/comment.html" . }}
    <!-- Subscribe -->
    {{ partialCached "footer/subscribe.html" . }}
    <!-- Contribute -->
    {{ partialCached "footer/contribute.html" . }}
    <!-- Donate -->
    {{ partialCached "footer/donate.html" . }}
    <!-- Related -->
    {{ partialCached "footer/related.html" . }}
  </div>
  <!-- Pagination -->
  {{ partial "footer/pagination.html" . }}
</div>