<hr class="mt-0">
<div class="section">
  <h2 id="author">✒️ {{ if eq .Params.display "Podcast" }}The Host{{ else }}Author{{ end }}</h2>
  {{ partial "custom/bio/bio-third-person.html" . }}
  <!-- Follow on Twitter -->
  <a aria-label="FVCproductions on Twitter" class="button button-large fa-twitter"
    href="https://twitter.com/intent/follow?original_referer=https%3A%2F%2Fwww.fvcproductions.com%2F&ref_src=twsrc%5Etfw&screen_name=FVCproductions&tw_p=followbutton"
    rel="noopener" target="_blank" title="FVCproductions on Twitter">
    {{ partial "icons/twitter.html" . }}<span class="ml-sm"><b>Follow @fvcproductions</b></span>
  </a>
</div>