<hr>
<div class="section">
  <h2>💸
    {{ i18n "donate" }}</h2>
  <p>{{ i18n "donate_text" }}</p>
  <div class="section-banners v--donate u-flex--center u-flex--start u-link-margin--right-sm">
    <!-- Patreon -->
    <a href="https://patreon.com/fvcproductions" rel="noopener" target="_blank">
      <img alt="Patreon" class="lozad" data-src="/assets/img/donate/patreon.svg" loading="lazy"
        src="/assets/img/donate/patreon.svg" title="Patreon">
    </a>
    <!-- GitHub Sponsors -->
    <a href="https://github.com/sponsors/fvcproductions" rel="noopener" target="_blank">
      <img alt="GitHub Sponsor" class="lozad" data-src="/assets/img/donate/github-sponsor.svg" loading="lazy"
        src="/assets/img/donate/github-sponsor.svg" title="GitHub Sponsor">
    </a>
    <!-- Buy Me A Coffee -->
    <a href="https://www.buymeacoffee.com/fvcproductions" rel="noopener" target="_blank">
      <img alt="Buy Me A Coffee" class="lozad" data-src="/assets/img/donate/buy-me-a-coffee.svg" loading="lazy"
        src="/assets/img/donate/buy-me-a-coffee.svg" title="Buy Me A Coffee">
    </a>
    <!-- Open Collective -->
    <a href="https://opencollective.com/fvcproductions/contribute/grape-tier-16114/checkout" rel="noopener"
      target="_blank">
      <img alt="Open Collective" class="lozad" data-src="/assets/img/donate/open-collective.svg" loading="lazy"
        src="/assets/img/donate/open-collective.svg" title="Open Collective">
    </a>
    <!-- Amazon Smile -->
    <a href="https://smile.amazon.com/gp/registry/wishlist/183BMRKTBNR0A" rel="noopener" target="_blank">
      <img alt="Amazon Smile" class="lozad" data-src="/assets/img/donate/amazon.svg" loading="lazy"
        src="/assets/img/donate/amazon.svg" title="Amazon Smile">
    </a>
    <!-- Square Cash -->
    <a href="https://cash.me/$fvcprdxs/5" rel="noopener" target="_blank">
      <img alt="Square Cash" class="lozad" data-src="/assets/img/donate/square-cash.svg" loading="lazy"
        src="/assets/img/donate/square-cash.svg" title="Square Cash">
    </a>
    <!-- Venmo -->
    <a href="https://venmo.com/fvcproductions" rel="noopener" target="_blank">
      <img alt="Venmo" class="lozad" data-src="/assets/img/donate/venmo.svg" loading="lazy"
        src="/assets/img/donate/venmo.svg" title="Venmo">
    </a>
    <!-- PayPal -->
    <a href="https://paypal.me/fvcproductions/5" rel="noopener" target="_blank">
      <img alt="PayPal.Me" class="lozad" data-src="/assets/img/donate/paypal.svg" loading="lazy"
        src="/assets/img/donate/paypal.svg" title="PayPal.Me">
    </a>
  </div>
</div>