{{ if or (or (.PrevInSection) (.NextInSection)) }}
<hr>
<nav class="pagination is-centered" aria-label="pagination">
  <!-- Previous Page -->
  {{ if .PrevInSection }}
  <a class="pagination-previous" href="{{ .PrevInSection.RelPermalink }}">⬅&nbsp;<strong>Previous Post</strong><br>{{ .PrevInSection.Title }}</a>
  {{ end }}
  <!-- Next Page -->
  {{ if .NextInSection }}
  <a class="pagination-next" href="{{ .NextInSection.RelPermalink }}"><strong>Next Post</strong>&nbsp;➡<br>{{ .NextInSection.Title }}</a>
  {{ end }}
</nav>
{{ end }}