{{ if or (or (.PrevInSection) (.NextInSection)) }}
<hr>
<nav class="pagination is-centered" aria-label="pagination">
  <!-- Previous Page -->
  {{ if .PrevInSection }}
  <a class="pagination-previous v--border-none u-width--half" href="{{ .PrevInSection.RelPermalink }}">⬅&nbsp;<strong>Previous Post</strong><br><br><span class="pagination-text">{{ .PrevInSection.Title }}</span></a>
  {{ end }}
  <!-- Next Page -->
  {{ if .NextInSection }}
  <a class="pagination-next v--border-none u-width--half" href="{{ .NextInSection.RelPermalink }}"><strong>Next Post</strong>&nbsp;➡<br><br><span class="pagination-text">{{ .NextInSection.Title }}</span></a>
  {{ end }}
</nav>
{{ end }}