<hr>
<div class="section">
  <h2>📬 Subscribe</h2>
  <p>Get new
    {{ if .Params.podcastEmail }}
      <strong>#TechQueens</strong>
      episodes{{ else }}blog updates
    {{ end }}
    sent to your inbox once every month by entering your email below!</p>
  <form action="{{ if .Params.podcastEmail }}https://techqueenspod.us12.list-manage.com/subscribe/post?u=0c1cb29d65da6e773de7acb68&amp;id=f79242947b{{ else }}https://fvcproductions.us12.list-manage.com/subscribe/post?u=0c1cb29d65da6e773de7acb68&amp;id=0427c5c75d{{ end }}" method="post" name="mc-embedded-subscribe-form" class="validate mb-1" target="_blank" novalidate>
    <div class="field is-grouped">
      <div class="control has-icons-left is-expanded">
        <input aria-label="Email Input" autocomplete="on" class="input required email" name="EMAIL" placeholder="hello@fvcproductions.com" required type="email" value="">
        <span class="icon is-left">
          ✉️
        </span>
      </div>
      <p class="control">
        <input aria-label="Submit button for subscribing to email updates" class="button is-link" name="subscribe" style="width: 100%;" type="submit" value="Subscribe">
      </p>
    </div>
  </form>
  <p>Feel free to
    <a href="{{ if .Params.podcastEmail }}https://us12.campaign-archive.com/home/?u=0c1cb29d65da6e773de7acb68&id=f79242947b{{ else }}https://us12.campaign-archive.com/home/?u=0c1cb29d65da6e773de7acb68&id=0427c5c75d{{ end }}" title="View previous email campaigns" target="_blank" rel="noopener">view the previous email campaigns</a>
    to get a better idea of what is sent out.</p>
</div>