<section class="social-icons">
  <ul class="icons">
    <!-- Behance -->
    {{ with .Site.Social.behance }}
    <li>
      <a href="//behance.net/{{ . }}" class="icon style2" target="_blank" rel="nofollow">
        <i title="Behance" class="fab fa-behance"></i>
        <span class="label">Behance</span>
      </a>
    </li>
    {{ end }}
    <!-- GitHub -->
    {{ with .Site.Social.github }}
    <li>
      <a href="//github.com/{{ . }}" class="icon style2" target="_blank" rel="nofollow">
        <i title="GitHub" class="fab fa-github-alt"></i>
        <span class="label">GitHub</span>
      </a>
    </li>
    {{ end }}
    <!-- LinkedIn -->
    {{ with .Site.Social.linkedin }}
    <li>
      <a href="//linkedin.com/{{ . }}" class="icon style2" target="_blank" rel="nofollow">
        <i title="LinkedIn" class="fab fa-linkedin-in"></i>
        <span class="label">LinkedIn</span>
      </a>
    </li>
    {{ end }}
    <!-- Medium -->
    {{ with .Site.Social.medium }}
    <li>
      <a href="//medium.com/{{ . }}" class="icon style2" target="_blank" rel="nofollow">
        <i title="Medium" class="fab fa-medium-m"></i>
        <span class="label">Medium</span>
      </a>
    </li>
    {{ end }}
    <!-- RSS -->
    <li>
      <a href="/index.xml" class="icon style2" target="_blank" rel="nofollow">
        <i title="RSS" class="fas fa-rss"></i>
        <span class="label">RSS</span>
      </a>
    </li>
    <!-- Twitter -->
    {{ with .Site.Social.twitter }}
    <li>
      <a href="//twitter.com/{{ . }}" class="icon style2" target="_blank" rel="nofollow">
        <i title="Twitter" class="fab fa-twitter"></i>
        <span class="label">Twitter</span>
      </a>
    </li>
    {{ end }}
  </ul>
</section>
