<section class="social-icons">
  <ul class="icons">
    <!-- Behance -->
    {{ with .Site.Social.behance }}
    <li>
      <a href="//behance.net/{{ . }}" class="icon font-awesome" target="_blank" rel="noopener">
        <i title="Behance" class="fab fa-behance"></i>
        <span class="label">Behance</span>
      </a>
    </li>
    {{ end }}
    <!-- GitHub -->
    {{ with .Site.Social.github }}
    <li>
      <a href="//github.com/{{ . }}" class="icon font-awesome" target="_blank" rel="noopener">
        <i title="GitHub" class="fab fa-github-alt"></i>
        <span class="label">GitHub</span>
      </a>
    </li>
    {{ end }}
    <!-- LinkedIn -->
    {{ with .Site.Social.linkedin }}
    <li>
      <a href="//linkedin.com/{{ . }}" class="icon font-awesome" target="_blank" rel="noopener">
        <i title="LinkedIn" class="fab fa-linkedin-in"></i>
        <span class="label">LinkedIn</span>
      </a>
    </li>
    {{ end }}
    <!-- SlideShare -->
    {{ with .Site.Social.slideshare }}
    <li>
      <a href="//slideshare.net/{{ . }}" class="icon font-awesome" target="_blank" rel="noopener">
        <i title="SlideShare" class="fab fa-slideshare"></i>
        <span class="label">SlideShare</span>
      </a>
    </li>
    {{ end }}
    <!-- RSS -->
    <li>
      <a href="/feed.xml" class="icon font-awesome" target="_blank" rel="noopener">
        <i title="RSS" class="fas fa-rss"></i>
        <span class="label">RSS</span>
      </a>
    </li>
    <!-- Twitter -->
    {{ with .Site.Social.twitter }}
    <li>
      <a href="//twitter.com/{{ . }}" class="icon font-awesome" target="_blank" rel="noopener">
        <i title="Twitter" class="fab fa-twitter"></i>
        <span class="label">Twitter</span>
      </a>
    </li>
    {{ end }}
  </ul>
</section>
