<!-- Footer -->
<footer id="footer">
  <div class="inner">
    {{ partial "base/footer/icons.html" . }}
    <div class="copyright">
      <div class="row">
        <div class="12u">
          <!-- Copyright -->
          {{ with .Site.Params.copyright }}
          <i title="Copyright FVCproductions" class="fas fa-copyright"></i>
          <a href="/">{{ . }}</a>
          {{ end }}
          <!-- Year -->
          {{ with .Site.Params.year }} {{ . }} {{ end }} to {{ now.Year }}
        </div>
      </div>
    </div>
  </div>
</footer>
