<section class="section">
  <div class="container">
    <div class="content">
      <h2>📂️ <a href="/categories">Categories</a></h2>
      <div class="columns is-multiline mt-1">
        {{ range $name, $items := .Site.Taxonomies.categories }}
        <div class="column is-one-quarter">
          <a class="reset" aria-label="{{ $name | urlize | lower }}" href="/categories/{{ $name | urlize | lower }}">
            <div class="card card-equal-height">
              <div class="media-content">
                <h2>{{ len $items }}</h2>
                <p class="has-text-weight-light is-capitalized">{{ $name }}</p>
              </div>
            </div>
          </a>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
