<section class="section">
  <div class="container content">
    <h2>🌐 Sitemap</h2>
    <div class="columns is-multiline">
      <!-- Pages -->
      {{ $pages := where .Site.RegularPages "Type" "page" }}
      <!-- Pages & Section Pages -->
      {{ $pages := $pages | union (.Site.Sections) }}
      <!-- Looping -->
      {{ range $pages.ByTitle }}
      <!-- Filter -->
      {{ if not (.Params.noHomePage) }}
      <div class="column is-one-third">
        {{ partial "body/content/card/plain.html" . }}
      </div>
      {{ end }} {{ end }}
    </div>
  </div>
</section>
