<footer class="footer">
  <div class="container has-text-centered">
    <div class="content">
      <section class="section">
        <nav class="level">
          {{ $parentPages := where .Site.RegularPages "Type" "page" }}
          {{ $footerPages := $parentPages | union (.Site.Sections) }}

          {{ range $footerPages.ByTitle }}
          {{ if .Params.footer }}
          <div class="level-item has-text-centered">

            <a href="{{ .RelPermalink }}" rel="noopener" title="{{ .Title }}">
              {{ if .Params.display }}{{ .Params.display }}{{ else }}{{ .Title }}{{ end }}
            </a>
          </div> {{ end }}
          {{ end }}
        </nav>
      </section>
      <section class="section">
        {{ partial "body/footer/icons.html" . }}
      </section>
      <!-- Copyright -->
      <section class="section">
        <p>©️ <a href="/" target="_blank" rel="noopener" title="{{ .Site.Title }}">{{ .Site.Title }}</a>{{ with .Site.Params.year }} {{ . }} {{ end }} to {{ now.Year }}
        </p>
      </section>
    </div>
  </div>
</footer>