<footer class="footer">
  <div class="container is-fluid has-text-centered">
    <div class="content">
      <div class="mt-1 mb-2 navigation" aria-label="Footer Navigation">
        {{ $parentPages := where .Site.RegularPages "Type" "page" }}
        {{ $footerPages := $parentPages | union (.Site.Sections) }}
        <ul class="mt-1">
          {{ range $footerPages.ByTitle }}
          {{ if .Params.footer }}
          <li class="menu-item pb-sm">
            <a href="{{ .RelPermalink }}" rel="noopener" title="{{ .Title }}">
              {{ if .Params.display }}{{ .Params.display }}{{ else }}{{ .Title }}{{ end }}
            </a>
          </li>
          {{ end }}
          {{ end }}
        </ul>
      </div>
      {{ partial "body/footer/icons.html" . }}
      <!-- Copyright -->
      <div class="mt-2 mb-1">
        <p>
          ©️
          <a href="/" target="_blank" rel="noopener" title="{{ .Site.Title }}">{{ .Site.Title }}</a> {{ with .Site.Params.year }} {{ . }} {{ end }} to {{ now.Year }}
        </p>
      </div>
    </div>
  </div>
</footer>