<div class="social-icons">
  <!-- GitHub -->
  <a href="https://github.com/fvcproductions" target="_blank" rel="noopener" class="fa-github" aria-label="FVCproductions on GitHub" title="FVCproductions on GitHub">
    {{ partial "body/icons/github.html" . }}
  </a>
  <!-- LinkedIn -->
  <a href="https://www.linkedin.com/in/fvcproductions" target="_blank" rel="noopener" class="fa-linkedin" aria-label="FVCproductions on LinkedIn" title="FVCproductions on LinkedIn">
    {{ partial "body/icons/linkedin.html" . }}
  </a>
  <!-- SlideShare -->
  <a href="https://slideshare.net/fvcproductions" target="_blank" rel="noopener" class="fa-slideshare" aria-label="FVCproductions on SlideShare" title="FVCproductions on SlideShare">
    {{ partial "body/icons/slideshare.html" . }}
  </a>
  <!-- RSS -->
  <!-- <a href="/feed.xml" target="_blank" rel="noopener" class="fa-rss" aria-label="FVCproductions on RSS" title="FVCproductions on RSS">
    {{ partial "body/icons/rss.html" . }}
  </a> -->
  <!-- Product Hunt -->
  <a href="https://www.producthunt.com/@fvc" target="_blank" rel="noopener" class="fa-product-hunt" aria-label="FVCproductions on Product Hunt" title="FVCproductions on Product Hunt">
    {{ partial "body/icons/product-hunt.html" . }}
  </a>
  <!-- Twitter -->
  <a href="https://twitter.com/fvcproductions" target="_blank" rel="noopener" class="fa-twitter" aria-label="FVCproductions on Twitter" title="FVCproductions on Twitter">
    {{ partial "body/icons/twitter.html" . }}
  </a>
  <!-- YouTube -->
  <a href="https://www.youtube.com/+fvcproductions2013" target="_blank" rel="noopener" class="fa-youtube" aria-label="FVCproductions on YouTube" title="FVCproductions on YouTube">
    {{ partial "body/icons/youtube.html" . }}
  </a>
</div>