// Skel Breakpoints
@include skel-breakpoints( ( mobile: "(min-width: 320px)", tablet: "(min-width: 768px)", laptop: "(min-width: 1024px)", xlaptop: "(min-width: 1440px)", fourk: "(min-width: 2560px)", large: "(max-width: 1280px)", medium: "(max-width: 980px)", small: "(max-width: 736px)", xsmall: "(max-width: 480px)", xxsmall: "(max-width: 360px)"));
// Skel Layout
@include skel-layout( ( reset: "full", boxModel: "border", grid: ( gutters: 2em), breakpoints: ( medium: ( grid: ( gutters: 1.5em)), small: ( grid: ( gutters: 1em)))));
// MSIE: Required for IEMobile.
@-ms-viewport {
  width: device-width;
}

body {
  -ms-overflow-style: scrollbar;
  background: white;
  color: #292929;
  font-family: "Roboto", -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
  font-weight: 300;
  line-height: 1.8;
  letter-spacing: 0.0125em;
  word-wrap: break-word;
  &.is-loading {
    *,
    *:before,
    *:after {
      @include vendor("animation", "none !important");
      @include vendor("transition", "none !important");
    }
  }
}

@include breakpoint(xsmall) {
  html,
  body {
    min-width: 320px;
  }
}
