.archive__item {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.archive__item-title {
    margin: 0;
    font-family: $sans-serif-narrow;
    font-size: $type-size-4;
    a {
        color: $black;
        text-decoration: none;
        &:hover {
            color: $light-gray !important;
            text-decoration: none;
        }
    }
}

.archive__subtitle {
    margin: 1.414em 0 0;
    padding-bottom: 0.5em;
    font-size: $type-size-5;
    color: mix($white, $gray, 25%);
    border-bottom: 1px solid $lighter-gray;
    + .list__item .archive__item-title {
        margin-top: 0.5em;
    }
}

.archive__item-teaser {
    width: 100%;
    display: block;
    max-height: 250px;
    img {
        vertical-align: middle;
        border-style: none;
    }
}

.archive__item-content {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: $type-size-5;
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    &:last-child {
        margin-bottom: 0;
    }
    .page__meta {
        margin: 0 0 4px;
    }
}

.archive__item-excerpt {
    margin: 0 !important;
    margin-top: 1em !important;
    font-size: $type-size-6;
    font-family: $sans-serif;
}

.archive__item-date {
    font-family: $monospace;
    margin: 0 !important;
}