/** Portfolio Customizations */

.showcase__item .archive__item-title,
.blog__item .archive__item-title {
    margin-bottom: .5em;
}

.item,
.showcase__item {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}

.project-header {
    text-align: center;
    padding-top: .25em;
    h3 {
        margin-top: 1em;
    }
}

.behance-project {
    .archive__item-title a:hover {
        color: $behance-color !important;
    }
    .project-header {
        color: $behance-color !important;
    }
}

.github-repo {
    .archive__item-title a:hover {
        color: $github-color !important;
    }
    .project-header {
        color: $github-color !important;
    }
}

.youtube-video {
    .archive__item-title a:hover {
        color: $youtube-color !important;
    }
    .project-header {
        color: $youtube-color !important;
    }
}

.speaker-deck {
    .archive__item-title a:hover {
        color: $speakerdeck-color !important;
    }
    .project-header {
        color: $speakerdeck-color !important;
    }
}
