.list__item {
    @include breakpoint($medium) {
        padding-right: $right-sidebar-width-narrow;
    }
    @include breakpoint($large) {
        padding-right: $right-sidebar-width;
    }
    @include breakpoint($x-large) {
        padding-right: $right-sidebar-width-wide;
    }
    .page__meta {
        margin: 0 0 4px;
    }
}