{{ $pageLinksPresent := or (in .Params.categories "speaking") (in .Params.categories "talk") (.Params.slides) (.Params.video) (.Params.recording) }}
{{ $categoriesOrTagsPresent := or (.Params.categories) (.Params.tags) }}
{{ $hideTaxonomy := .Params.hideTaxonomy }}
<div class="card card-equal-height">
  <a class="reset" aria-label="{{ .Title }}" href="{{ .RelPermalink }}" rel="noopener">
    <!-- Image -->
    {{ if .Params.image }}
    <div class="card-image">
      <figure class="image card-image--figure">
        <img src="{{ .Params.image }}" data-src="{{ .Params.image }}" alt="{{ .Title }}" class="lozad">
      </figure>
    </div>
    {{ end }}
    <div class="media-content {{ if $pageLinksPresent }}pb-sm{{ end }}">
      <div class="content">
        <!-- Title -->
        <h3>{{ if not (.Params.hideUpcomingText) }}{{ if .Date.After now }}UPCOMING: {{ end }}{{ end }}{{ .Title }}</h3>
        <!-- Description -->
        <p class="has-text-grey-dark">{{ if .Description }}{{ .Description | truncate 150 | safeHTML }}{{ else }}{{ .Summary | truncate 150 | safeHTML }}{{ end }}</p>
        <!-- Info -->
        {{- partial "page-info.html" . -}}
      </div>
    </div>
  </a>
  <!-- Links -->
  {{ if $pageLinksPresent }}
  <div class="media-content pt-0 {{ if $categoriesOrTagsPresent }}pb-sm{{ else }}pb-1{{ end }}">
    <div class="content">
      {{- partial "page-links.html" . -}}
    </div>
  </div>
  {{ end }}
  <!-- Taxonomy -->
  {{ if not $hideTaxonomy }}
    {{ if $categoriesOrTagsPresent }}
    <div class="media-content pt-1">
      <div class="content">
        {{ partial "taxonomy.html" . }}
      </div>
    </div>
    {{ end }}
  {{ else }}
  <div class="pt-1"></div>
  {{ end }}
</div>