<!--
        ******** **      **   ******
        /**///// /**     /**  **////**
        /**      /**     /** **    //
        /******* //**    ** /**
        /**////   //**  **  /**
        /**        //****   //**    **
        /**         //**     //******
        //           //       //////

	Yo, yo, yo.... whatcha up to...

	This is my turf on the internet...

	©️ FVCproductions
  -->
<!-- Set Title Variable -->
{{ $pageTitle := .Title }}
{{ if .IsHome }}
  {{ $pageTitle = .Site.Title }}
{{ else if eq .Params.display "Podcast" }}
  {{ $pageTitle = .Title }}
{{ else if or (eq .Section "podcast") (in .Params.categories "podcast") }}
  {{ $pageTitle = (print .Title " | Tech Queens") }}
{{ else }}
  {{ $pageTitle = (print .Title " | " .Site.Title) }}
{{ end }}
<!-- Set Description Variable -->
{{ $pageDescription := .Description | truncate 150 }}
{{ if .Description }}
  {{ $pageDescription = .Description | truncate 150 }}
{{ else if .IsPage }}
  {{ $pageDescription = .Summary | truncate 150 }}
{{ else }}
  {{ $pageDescription = .Site.Params.description | truncate 150 }}
{{ end }}
<!-- Set Image Variable -->
{{ $pageImage := .Params.image }}
{{ if hasPrefix .Params.image "/assets" }}
  {{ $pageImage = .Params.image | absURL }}
{{ else if .Params.image }}
  {{ $pageImage = .Params.image }}
{{ else }}
  {{ $pageImage = .Site.Params.og_image }}
{{ end }}
<!-- Set Categories -->
{{ $pageCategories := "" }}
{{ if .Params.categories }}
{{ $pageCategories = delimit .Params.categories ", " }}
{{ end }}
<!-- Set Tags -->
{{ $pageTags := "" }}
{{ if .Params.tags }}
{{ $pageTags = delimit .Params.tags ", " }}
{{ end }}
<!-- Date -->
<!-- {{ $ISO8601 := "2006-01-02T15:04:05-07:00" }} -->
{{ $ISO8601 := "2006-01-02" }}
{{ $pagePublishDate := .PublishDate.Format $ISO8601 | safeHTML }}
{{ $pageModifiedDate := .Lastmod.Format $ISO8601 | safeHTML }}
<!-- Set character encoding for the document -->
<meta charset="utf-8">
<!--[if IEMobile]>  <meta http-equiv="cleartype" content="on">  <![endif]-->
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>{{ $pageTitle }}</title>
<!-- Prefetch Third Party Resources -->
<!-- Twemoji -->
<link rel="dns-prefetch" href="https://twemoji.maxcdn.com">
<!-- Imgur -->
<link rel="dns-prefetch" href="https://i.imgur.com">
<!-- Google Analytics -->
<link rel="dns-prefetch" href="https://www.google-analytics.com">
<!-- Preconnect -->
<link rel="preconnect" href="{{ .Site.BaseURL }}">
<!-- Prefetch -->
<link rel="prefetch" href="/assets/img/logo.svg">
<!-- Preload -->
<link rel="preload" href="/assets/css/styles.css" as="style">
<!-- <link rel="preload" href="/assets/js/app.js" as="script"> -->
<!-- Custom CSS -->
<link rel="stylesheet" href="/assets/css/styles.css">
<!-- Favicons -->
<link rel="manifest" href="/manifest.json?v=4">
<link rel="mask-icon" href="/safari-pinned-tab.svg?v=4" color="#253137">
<link rel="shortcut icon" href="/favicon.ico?v=4">
<link sizes="114x114" rel="apple-touch-icon-precomposed" type="image/png" href="/assets/img/favicons/114x114-precomposed.png?v=4">
<link sizes="114x114" rel="apple-touch-icon" type="image/png" href="/assets/img/favicons/114x114.png?v=4">
<link sizes="120x120" rel="apple-touch-icon-precomposed" type="image/png" href="/assets/img/favicons/120x120-precomposed.png?v=4">
<link sizes="120x120" rel="apple-touch-icon" type="image/png" href="/assets/img/favicons/120x120.png?v=4">
<link sizes="128x128" rel="icon" type="image/png" href="/assets/img/favicons/128x128.png?v=4">
<link sizes="144x144" rel="apple-touch-icon-precomposed" type="image/png" href="/assets/img/favicons/144x144-precomposed.png?v=4">
<link sizes="144x144" rel="apple-touch-icon" type="image/png" href="/assets/img/favicons/144x144.png?v=4">
<link sizes="144x144" rel="icon" type="image/png" href="/assets/img/favicons/144x144.png?v=4">
<link sizes="152x152" rel="apple-touch-icon-precomposed" type="image/png" href="/assets/img/favicons/152x152-precomposed.png?v=4">
<link sizes="152x152" rel="apple-touch-icon" type="image/png" href="/assets/img/favicons/152x152.png?v=4">
<link sizes="16x16 32x32" rel="icon" type="image/x-icon" href="/favicon.ico?v=4">
<link sizes="16x16" rel="icon" type="image/png" href="/assets/img/favicons/16x16.png?v=4">
<link sizes="180x180" rel="apple-touch-icon-precomposed" type="image/png" href="/assets/img/favicons/180x180-precomposed.png?v=4">
<link sizes="180x180" rel="apple-touch-icon" type="image/png" href="/assets/img/favicons/180x180.png?v=4">
<link sizes="192x192" rel="apple-touch-icon-precomposed" type="image/png" href="/assets/img/favicons/192x192-precomposed.png?v=4">
<link sizes="192x192" rel="apple-touch-icon" type="image/png" href="/assets/img/favicons/192x192.png?v=4">
<link sizes="192x192" rel="icon" type="image/png" href="/assets/img/favicons/192x192.png?v=4">
<link sizes="196x196" rel="icon" type="image/png" href="/assets/img/favicons/196x196.png?v=4">
<link sizes="256x256" rel="icon" type="image/png" href="/assets/img/favicons/256x256.png?v=4">
<link sizes="32x32" rel="icon" type="image/png" href="/assets/img/favicons/32x32.png?v=4">
<link sizes="36x36" rel="icon" type="image/png" href="/assets/img/favicons/36x36.png?v=4">
<link sizes="384x384" rel="icon" type="image/png" href="/assets/img/favicons/384x384.png?v=4">
<link sizes="48x48" rel="icon" type="image/png" href="/assets/img/favicons/48x48.png?v=4">
<link sizes="512x512" rel="icon" type="image/png" href="/assets/img/favicons/512x512.png?v=4">
<link sizes="57x57" rel="apple-touch-icon-precomposed" type="image/png" href="/assets/img/favicons/57x57-precomposed.png?v=4">
<link sizes="57x57" rel="apple-touch-icon" type="image/png" href="/assets/img/favicons/57x57.png?v=4">
<link sizes="60x60" rel="apple-touch-icon-precomposed" type="image/png" href="/assets/img/favicons/60x60-precomposed.png?v=4">
<link sizes="60x60" rel="apple-touch-icon" type="image/png" href="/assets/img/favicons/60x60.png?v=4">
<link sizes="72x72" rel="apple-touch-icon-precomposed" type="image/png" href="/assets/img/favicons/72x72-precomposed.png?v=4">
<link sizes="72x72" rel="apple-touch-icon" type="image/png" href="/assets/img/favicons/72x72.png?v=4">
<link sizes="72x72" rel="icon" type="image/png" href="/assets/img/favicons/72x72.png?v=4">
<link sizes="76x76" rel="apple-touch-icon-precomposed" type="image/png" href="/assets/img/favicons/76x76-precomposed.png?v=4">
<link sizes="76x76" rel="apple-touch-icon" type="image/png" href="/assets/img/favicons/76x76.png?v=4">
<link sizes="96x96" rel="icon" type="image/png" href="/assets/img/favicons/96x96.png?v=4">
<meta name="msapplication-config" content="/browserconfig.xml?v=4">
<meta name="msapplication-notification" content="frequency=30;polling-uri=https://notifications.buildmypinnedsite.com/?feed=https://www.fvcproductions.com/feed.xml&amp;id=1;polling-uri2=https://notifications.buildmypinnedsite.com/?feed=https://www.fvcproductions.com/feed.xml&amp;id=2;polling-uri3=https://notifications.buildmypinnedsite.com/?feed=https://www.fvcproductions.com/feed.xml&amp;id=3;polling-uri4=https://notifications.buildmypinnedsite.com/?feed=https://www.fvcproductions.com/feed.xml&amp;id=4;polling-uri5=https://notifications.buildmypinnedsite.com/?feed=https://www.fvcproductions.com/feed.xml&amp;id=5;cycle=1">
<meta name="msapplication-square150x150logo" content="/assets/img/favicons/150x150.png?v=4">
<meta name="msapplication-square310x310logo" content="/assets/img/favicons/310x310.png?v=4">
<meta name="msapplication-square70x70logo" content="/assets/img/favicons/70x70.png?v=4">
<meta name="msapplication-TileColor" content="#253137">
<meta name="msapplication-TileImage" content="/assets/img/favicons/144x144.png?v=4">
<meta name="msapplication-wide310x150logo" content="/assets/img/favicons/310x150.png?v=4">
<meta name="theme-color" content="#253137">
<!-- Meta -->
<meta itemprop="description" content="{{ $pageDescription }}">
<meta itemprop="image" content="{{ $pageImage }}">
<meta itemprop="name" content="{{ $pageTitle }}">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="{{ .Site.Title }}">
<meta name="application-name" content="{{ .Site.Title }}">
<meta name="DC.description" content="{{ $pageDescription }}">
<meta name="DC.title" content="{{ $pageTitle }}">
<meta name="description" content="{{ $pageDescription }}">
<meta name="HandheldFriendly" content="True">
<meta name="image" content="{{ $pageImage }}">
<meta name="mobile-web-app-capable" content="yes">
<meta name="MobileOptimized" content="320">
<meta name="msapplication-tooltip" content="{{ $pageDescription }}">
<meta name="msapplication-window" content="width=device-width;height=device-height">
<meta name="robots" content="index, follow">
<meta name="title" content="{{ $pageTitle }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:description" content="{{ $pageDescription }}">
<meta name="twitter:image:src" content="{{ $pageImage }}">
<meta name="twitter:text:title" content="{{ $pageTitle }}">
<meta name="twitter:title" content="{{ $pageTitle }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="dcterms:description" content="{{ $pageDescription }}">
<meta property="dcterms:title" content="{{ $pageTitle }}">
<meta property="og:description" content="{{ $pageDescription }}">
<meta property="og:image" content="{{ $pageImage }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:title" content="{{ $pageTitle }}">
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:url" content="{{ .Permalink }}">
<!-- Default Content Language -->
{{ with .Site.Params.default_content_language }}
<meta name="DC.language" content="{{ . }}">
{{ end }}
<!-- Locale -->
{{ with .Site.Params.locale }}
<meta property="og:locale" content="{{ . }}">
{{ end }}
<!-- Twitter -->
{{ with .Site.Social.twitter }}
<meta name="twitter:creator" content="@{{ . }}">
<meta name="twitter:site" content="@{{ . }}">
{{ end }}
<!-- Author -->
{{ with $.Site.Author.name }}
<meta name="DC.creator" content="{{ . }}">
<meta name="DC.publisher" content="{{ . }}">
{{ end }}
<!-- Facebook -->
{{ with .Site.Social.facebook }}
<meta property="article:author" content="https://www.facebook.com/{{ . }}">
<meta property="article:publisher" content="https://www.facebook.com/{{ . }}">
{{ end }}
<!-- Google -->
{{ with .Site.Params.google_site_verification }}
<meta name="google-site-verification" content="{{ . }}">
{{ end }}
<!-- Pinterest -->
{{ with .Site.Params.pinterest_domain_verification }}
<meta name="p:domain_verify" content="{{ . }}">
{{ end }}
<!-- Article -->
{{ if .IsPage }}
<meta property="article:section" content="Blog">
<meta itemprop="wordCount" content="{{ .WordCount }}">
<!-- Publish date -->
{{ if not .PublishDate.IsZero }}
  <meta itemprop="datePublished" content="{{ $pagePublishDate }}">
  <meta property="article:published_time" content="{{ $pagePublishDate }}">
{{ end }}
<!-- Last modified -->
{{ if not .Lastmod.IsZero }}
<meta itemprop="dateModified" content="{{ $pageModifiedDate }}" />
<meta property="og:updated_time" content="{{ $pageModifiedDate }}">
{{ end }}
{{ end }}
<!-- Categories & Tags Present -->
{{ if or (.Params.Categories) (.Params.tags) }}
  <!-- Categories -->
  {{ if .Params.categories }}
    <meta name="twitter:label1" value="Categories 📂️">
    <meta name="twitter:data1" value="{{ $pageCategories }}">
  {{ end }}
  <!-- Twitter Labels -->
  {{ if .Params.tags }}
    <meta name="twitter:label2" value="Tags 📌️">
    <meta name="twitter:data2" value="{{ $pageTags }}">
  {{ end }}
{{ end }}
<!-- Keywords -->
{{ if or (.Params.categories) (.Params.tags) }}
  <meta itemprop="keywords" content="{{ $pageCategories }}, {{ $pageTags }}, fvcproductions">
  <meta name="DC.subject" content="{{ $pageCategories }}, {{ $pageTags }}, fvcproductions">
  {{ if .IsPage }}
    <meta name="news_keywords" content="{{ $pageCategories }}, {{ $pageTags }}, fvcproductions">
    <meta property="article:tag" content="{{ $pageCategories }}, {{ $pageTags }}, fvcproductions">
  {{ end }}
{{ end }}
<!-- Link -->
<!-- Series -->
<!-- Add prefetch and prerender on section pages. Works especially well for articles or blog posts in a series -->
{{ if .IsPage }}
<!-- Previous Section -->
{{ if .PrevInSection }}
<link rel="prefetch" href="{{ .PrevInSection.Permalink }}">
<link rel="prerender" href="{{ .PrevInSection.Permalink }}">
<link rel="prev" href="{{ .PrevInSection.Permalink }}">
{{ end }}
<!-- Next Section -->
{{ if .NextInSection }}
<link rel="prefetch" href="{{ .NextInSection.Permalink }}">
<link rel="prerender" href="{{ .NextInSection.Permalink }}">
<link rel="next" href="{{ .NextInSection.Permalink }}">
{{ end }}
{{ end }}
<!-- Canonical -->
<link rel="canonical" href="{{ .Permalink | safeURL }}">
<!-- Alternative Output -->
{{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}
<!-- Structured Data -->
<!-- Homepage -->
{{ if .IsHome -}}
<script type="application/ld+json">
{
    "@context":         "https://schema.org",
    "@type":            "WebSite",
    "image":            "{{ .Site.Params.og_image }}",
    "license":          "{{ .Site.Params.copyright }}",
    "name":             "{{ .Site.Title }}",
    "thumbnailUrl":     "{{ .Site.Params.logo }}",
    "url":              "{{ .Site.BaseURL }}",
    {{ with $.Site.Author.name }}
     "author":           {
        "@type":        "Person",
        "name":         "{{ . }}"
    },
    {{ end }}
    "mainEntityOfPage": {
        "@type":        "WebPage",
        "@id":          "{{ .Site.BaseURL }}"
    },
    "potentialAction":  {
        "@type":        "SearchAction",
        "target":       "{{ .Site.Params.search_url }}",
        "query-input":  "required name=search_term_string"
    },
    "sameAs":           [
        {{ with .Site.Social.facebook }}"https://www.facebook.com/{{ . }}",{{ end }}
        {{ with .Site.Social.instagram }}"https://www.instagram.com/{{ . }}",{{ end }}
        {{ with .Site.Social.linkedin}}"https://www.linkedin.com/{{ . }}",{{ end }}
        {{ with .Site.Social.twitter }}"https://www.twitter.com/{{ . }}",{{ end }}
        {{ with .Site.Social.youtube }}"https://www.youtube.com/{{ . }}"{{ end }}
    ]
}
</script>
<!-- Blog Posting -->
{{- else if .IsPage -}}
<script type="application/ld+json">
{
    "@context":          "http://schema.org",
    "@type":             "BlogPosting",
    {{ with $.Site.Author.name }}
    "accountablePerson": "{{ . }}",
    "copyrightHolder": "{{ . }}",
    "creator": "{{ . }}",
    "author": {
        "@type": "Person",
        "name": "{{ . }}"
    },
    {{ end }}
    "articleSection":    "{{ .Section }}",
    "copyrightYear":     "{{ .Date.Format "2006" }}",
    "genre":             "{{ .Type }}",
    "headline":          "{{ $pageTitle }}",
    "inLanguage":        "en-US",
    "license":           "{{ .Site.Params.copyright }}",
    "name":              "{{ $pageTitle }}",
    "url":               "{{ .Permalink }}",
    "wordcount":         {{ .WordCount }},
    "description":       "{{ $pageDescription }}",
    "mainEntityOfPage":  {
        "@type":         "WebPage",
        "@id":           "{{ .Permalink }}"
    },
    "image":             [
        "{{ $pageImage }}"
    ],
    "publisher":         {
        "@type":         "Organization",
        "name":          "{{ .Site.Title }}",
        "logo":          {
          "@type":       "ImageObject",
          "url":         "{{ .Site.Params.logo }}"
        }
    },
    {{ if or (.Params.categories) (.Params.tags) -}}
    "keywords":          [
      {{ if .Params.categories }}{{ range .Params.categories }}"{{ . }}",{{ end }}{{ end }}
      {{ if .Params.tags }}{{ range .Params.tags }}"{{ . }}",{{ end }}{{ end }}
      "blog post"
    ],
    {{- end }}
    "datePublished":     "{{ .Date.Format "2006-01-02" }}",
    "dateModified" :     "{{ .Lastmod.Format "2006-01-02" }}"
}
</script>
{{- end }}
<!-- Breadcrumbs -->
{{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
{{ $.Scratch.Add "path" .Site.BaseURL }}
{{ $.Scratch.Add "breadcrumb" (slice (dict "url" .Site.BaseURL "name" "home" "position" 1 )) }}
{{ range $index, $element := split $url "/" }}
{{ $.Scratch.Add "path" $element }}
{{ $.Scratch.Add "path" "/" }}
{{ if ne $element "" }}
{{ $.Scratch.Add "breadcrumb" (slice (dict "url" ($.Scratch.Get "path") "name" . "position" (add $index 2))) }}
{{ end }}
{{ end }}
<script type="application/ld+json">
{
  "@context":        "https://schema.org",
  "@type":           "BreadcrumbList",
  "itemListElement": [{{ range $.Scratch.Get "breadcrumb" }}{{ if ne .position 1 }},{{ end }}{
        "@type":     "ListItem",
        "position":  {{ .position }},
        "item":      {
          "@id":     "{{ .Permalink }}",
          "name":    "{{ .name }}"
        }
    }{{ end }}]
}
</script>