<div class="section pt-3 pb-1">
  <div class="container">
    <nav aria-label="Primary Navigation" class="navigation">
      <a class="logo mb-sm is-size-3" href="/">
        <span class="symbol">
          <img alt="FVCproductions - Logo" data-src="/assets/img/logo.svg" src="/assets/img/logo.svg" width="100px">
        </span>
        <span class="header">
          {{ .Site.Title }}
        </span>
      </a>
      <ul class="nav-links">
        {{ $homePages := $.Site.Pages | union ($.Site.Sections) }}
        {{ range $homePages.ByTitle }}
        {{ if .Params.navbar }}
        <li class="nav-item">
          <a href="{{ .RelPermalink }}" rel="noopener" title="{{ .Title }}" class="menu-item is-size-3 is-capitalized">
            {{ if .Params.display }}
            {{ .Params.display }}
            {{ else }}
            {{ .Title }}
            {{ end }}
          </a>
        </li>
        {{ end }}
        {{ end }}
      </ul>
    </nav>
  </div>
</div>

