<div class="section u-padding-top--2 u-padding-bottom--2">
  <div class="container">
    <nav aria-label="Primary Navigation" class="navigation">
      <a class="logo u-margin-bottom--sm is-size-1" href="/">
        <span class="symbol">
          <img alt="FVCproductions - Logo" data-src="/assets/img/logo.svg" src="/assets/img/logo.svg" width="100px">
        </span>
        <span class="header">
          {{ .Site.Title }}
        </span>
      </a>
      <div class="navbar-menu nav-links is-size-4">
        {{ $homePages := $.Site.Pages | union ($.Site.Sections) }}
        {{ range $homePages.ByTitle }}
        {{ if .Params.navbar }}
        <li class="nav-item">
          <a href="{{ .RelPermalink }}" rel="noopener" title="{{ .Title }}"
            class="menu-item is-capitalized">{{ .Title }}</a>
        </li>
        {{ end }}
        {{ end }}
      </div>
    </nav>
  </div>
</div>