<!-- Date -->
{{- if not .PublishDate.IsZero }}
<p class="subtitle has-text-weight-light is-size-7 mt-sm">
  <span class="mr-sm">📅️</span>{{ if in .Params.categories "talk" }}First presented {{ else if in .Params.categories "experience" }}{{ end }}{{ dateFormat "Jan 2, 2006" .Date }}{{ if in .Params.categories "experience" }}{{ with .Params.ended }} to {{ . | dateFormat "Jan 2, 2006" }}{{ end }}{{ end }}
</p>
{{- end }}
<!-- Work Experience -->
{{ $experiencePages := ($.Site.Taxonomies.categories.experience).Pages }}
{{ $experienceHoursTotal:= 0 }}
{{ range (where $experiencePages ".Params.ended" "ne" nil) }}
{{ $experienceStart := (time .Date) }}
{{ $experienceEnd := (time .Params.ended) }}
{{ $experienceDiff := $experienceEnd.Sub (time $experienceStart) }}
{{ $experienceHours := $experienceDiff.Hours }}
{{ $experienceHoursTotal = add $experienceHoursTotal $experienceHours }}
{{ end }}
{{ $experienceDays := int (div $experienceHoursTotal 24) }}
{{ $experienceMonths := int (div (mod $experienceDays 365) (30)) }}
{{ $experienceYears := int (div $experienceDays 365) }}
{{ $experienceDaysTotal := int ((mod (mod $experienceDays 365) (30))) }}
<!-- Experience Page -->
{{ if eq .URL "/experience/" }}
<p class="subtitle has-text-weight-light is-size-7 mt-sm">
  <span class="mr-sm">🕒</span>{{ if not (eq $experienceYears 0) }}{{ $experienceYears }} years{{ end }}{{ if not (eq $experienceMonths 0) }}, {{ $experienceMonths }} months{{ end }}{{ if not (eq $experienceDaysTotal 0) }}, {{ $experienceDaysTotal }} days{{ end }} of work experience
</p>
<p class="subtitle has-text-weight-light is-size-7 mt-sm">
  <span class="mr-sm">💻</span>Getting paid to code since 2015, learning to code since 2013
</p>
<p class="subtitle has-text-weight-light is-size-7 mt-sm">
  <span class="mr-sm">🎓</span>Learning to code since 2013
</p>
{{ end }}
<!-- Time in Role -->
{{ if .Params.ended }}
<p class="subtitle has-text-weight-light is-size-7 mt-sm">
  {{ $start := (time .Date) }}
  {{ $end := (time .Params.ended) }}
  {{ $diff := $end.Sub (time $start) }}
  {{ $hours := $diff.Hours }}
  {{ $days := div $diff.Hours 24 }}
  {{ $months := int (div (mod $days 365) (30)) }}
  {{ $years := int (div $days 365) }}
  {{ $finalDays := (mod (mod $days 365) (30)) }}
  <span class="mr-sm">🕒</span>{{ if not (eq $years 0) }}{{ $years }} years,{{ end }} {{ $months }} months{{ if not (eq $finalDays 0) }}, {{ $finalDays }} days{{ end }}
</p>
{{ end }}
{{ if .Params.currentPosition }}
<p class="subtitle has-text-weight-light is-size-7 mt-sm">
  {{ $start := (time .Date) }}
  {{ $end := (time .Params.ended) }}
  {{ $diff := now.Sub (time $start) }}
  {{ $hours := $diff.Hours }}
  {{ $days := div $diff.Hours 24 }}
  {{ $months := int (div (mod $days 365) (30)) }}
  {{ $years := int (div $days 365) }}
  {{ $finalDays := (mod (mod $days 365) (30)) }}
  <span class="mr-sm">🕒</span>{{ if not (eq $years 0) }}{{ $years }} years,{{ end }} {{ $months }} months{{ if not (eq $finalDays 0) }}, {{ $finalDays }} days{{ end }}
</p>
{{ end }}
<!-- Reading Time & Word Count -->
{{- if not .Params.noTimeEstimate }}
{{- if gt .ReadingTime 1 }}
{{- if .WordCount }}
<p class="subtitle has-text-weight-light is-size-7 mt-sm">
  <span class="mr-sm">📖</span>{{ .ReadingTime }} min read ∙ {{ .WordCount }} words
</p>
{{- end }}
{{- end }}
{{- end }}
<!-- Location -->
{{ if .Params.location }}
<p class="subtitle has-text-weight-light is-size-7 mt-sm">
  <span class="mr-sm">🗺️</span>{{ .Params.location }}
</p>
{{ end }}
<!-- Freelancing -->
{{ $freelancing := ($.Site.Taxonomies.categories.freelancing).Pages }}
{{ $freelancingHours := 0 }}
{{ range (where $freelancing ".Params.hours" "ne" nil) }}
{{ $hours := .Params.hours | int }}
{{ $freelancingHours = add $freelancingHours $hours }}
{{ end }}
{{ if eq .URL "/freelancing/" }}
<p class="subtitle has-text-weight-light is-size-7 mt-sm">
  <span class="mr-sm">💸️</span>{{ $freelancingHours }} hours of freelancing so far
</p>
{{ end }}
<!-- Paid Event -->
{{ if in .Params.categories "freelancing" }}
<p class="subtitle has-text-weight-light is-size-7 mt-sm">
  <span class="mr-sm">💵</span>Paid Event
</p>
{{ end }}
<!-- Mentoring -->
{{ $mentoring := ($.Site.Taxonomies.categories.mentoring).Pages }}
{{ $mentoringHours := 0 }}
{{ range (where $mentoring ".Params.hours" "ne" nil) }}
{{ $hours := .Params.hours | int }}
{{ $mentoringHours = add $mentoringHours $hours }}
{{ end }}
{{ if eq .URL "/mentoring/" }}
<p class="subtitle has-text-weight-light is-size-7 mt-sm">
  <span class="mr-sm">💛</span>{{ $mentoringHours }} hours volunteered so far
</p>
{{ end }}
<!-- Hours Given -->
{{ if .Params.hours }}
<p class="subtitle has-text-weight-light is-size-7 mt-sm">
  <span class="mr-sm">⏳</span>{{ if eq .Params.hours 0.5 }}30 minutes{{ else if eq .Params.hours 1.0 }}{{ .Params.hours }} hour{{ else }}{{ .Params.hours }} hours{{ end }}
</p>
{{ end }}
<!-- Presented at x events -->
{{ if in .Params.categories "talk" }}
{{ $talk := .Params.talk }}
{{ $events := (index .Site.Taxonomies.tags $talk) }}
<p class="subtitle has-text-weight-light is-size-7 mt-sm">
  <span class="mr-sm">🗨️</span>Presented at {{ len $events }}{{ if gt (len $events) 1 }} events{{ else }} event{{ end }}
</p>
{{ end }}