<!-- Talk Names -->
{{ if in .Params.categories "speaking" }}
  <!-- Progressive Web Apps 101 -->
  {{ if in .Params.tags "pwas101" }}
  <p class="subtitle has-text-weight-light is-size-7 mt-sm">
    <span class="mr-sm">📢️</span><a href="/2018/05/18/progressive-web-apps-101/">Progressive Web Apps 101</a>
  </p>
  {{ end }}
  <!-- Coding Bootcamps -->
  {{ if in .Params.tags "bootcamps" }}
  <p class="subtitle has-text-weight-light is-size-7 mt-sm">
    <span class="mr-sm">📢️</span><a href="/2016/01/18/coding-bootcamps/">Coding Bootcamps</a>
  </p>
  {{ end }}
  <!-- Hour of Code -->
  {{ if in .Params.tags "hour-of-code" }}
  <p class="subtitle has-text-weight-light is-size-7 mt-sm">
    <span class="mr-sm">📢️</span><a href="/2015/12/10/hour-of-code/">Hour of Code</a>
  </p>
  {{ end }}
  <!-- TypeScript 101 -->
  {{ if in .Params.tags "typescript101" }}
  <p class="subtitle has-text-weight-light is-size-7 mt-sm">
    <span class="mr-sm">📢️</span><a href="/2017/09/29/typescript-101/">TypeScript 101</a>
  </p>
  {{ end }}
  <!-- Web Design -->
  {{ if in .Params.tags "web-design" }}
  <p class="subtitle has-text-weight-light is-size-7 mt-sm">
    <span class="mr-sm">📢️</span><a href="/2015/04/09/web-design/">Web Design for Developers</a>
  </p>
  {{ end }}
  <!-- Wizard -->
  {{ if in .Params.tags "wizard" }}
  <p class="subtitle has-text-weight-light is-size-7 mt-sm">
    <span class="mr-sm">📢️</span><a href="/2016/04/09/so-you-want-to-be-a-wizard/">So You Want To Be A Wizard</a>
  </p>
  {{ end }}
  <!-- Breaking Into Tech -->
  {{ if in .Params.tags "breaking-into-tech" }}
  <p class="subtitle has-text-weight-light is-size-7 mt-sm">
    <span class="mr-sm">📢️</span><a href="/2018/07/19/breaking-into-tech/">Breaking Into Tech</a>
  </p>
  {{ end }}
{{ end }}
<!-- Slides -->
{{ if .Params.slides }}
<p class="subtitle has-text-weight-light is-size-7 mt-sm">
  <span class="mr-sm">📎️</span><a href="{{ .Params.slides }}" target="_blank" rel="noopener">View slides</a>
</p>
{{ end }}
<!-- PDF Version of Slides -->
{{ if .Params.pdf }}
<p class="subtitle has-text-weight-light is-size-7 mt-sm">
  <span class="mr-sm">⬇️</span><a href="{{ .Params.pdf }}" target="_blank" rel="noopener">Download slides</a> (PDF)
</p>
{{ end }}
<!--- Video -->
{{ if .Params.video }}
<p class="subtitle has-text-weight-light is-size-7 mt-sm">
  <span class="mr-sm">🎥</span><a href="{{ .Params.video }}" target="_blank" rel="noopener">Watch video</a>
</p>
{{ end }}
<!-- Recording -->
{{ if .Params.recording }}
<p class="subtitle has-text-weight-light is-size-7 mt-sm">
  <span class="mr-sm">🎙️</span><a href="{{ .Params.recording }}" target="_blank" rel="noopener">Hear recording</a>
</p>
{{ end }}