<!-- Set Language Mode: HTML Liquid -->
<!-- Internal Templates -->
{{ partial "head/seo/internal.html" . }}
<!-- Alternative Output -->
{{ partial "head/seo/alt-output.html" . }}
<!-- Meta -->
{{ partial "head/seo/meta.html" . }}
<!-- Schema -->
{{ partial "head/seo/schema.html" . }}
<!-- Updated Time -->
{{ partial "head/seo/time.html" . }}
<!-- Tags -->
{{ partial "head/seo/tags.html" . }}
<!-- RSS -->
{{ partial "head/seo/rss.html" . }}
<!-- Series -->
{{ partial "head/seo/series.html" . }}
<!-- Labels -->
{{ partial "head/seo/labels.html" . }}
<!-- Structured Data -->
{{ partial "head/seo/structured-data.html" . }}
