<!-- Series -->
<!-- Add prefetch and prerender on section pages. Works especially well for articles or blog posts in a series -->
{{ if .IsPage }}
<!-- Previous Section -->
{{ if .PrevInSection }}
<link rel="prefetch" href="{{ .PrevInSection.Permalink }}">
<link rel="prerender" href="{{ .PrevInSection.Permalink }}">
<link rel="prev" href="{{ .PrevInSection.Permalink }}">
{{ end }}
<!-- Next Section -->
{{ if .NextInSection }}
<link rel="prefetch" href="{{ .NextInSection.Permalink }}">
<link rel="prerender" href="{{ .NextInSection.Permalink }}">
<link rel="next" href="{{ .NextInSection.Permalink }}">
{{ end }}
{{ end }}
<!-- Canonical -->
<link rel="canonical" href="{{ .Permalink | safeURL }}">
<!-- RSS -->
{{ if .RSSLink }}
<link rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" href="{{ .RSSLink }}">
{{ end }}
<!-- Alternative Output -->
{{ range .AlternativeOutputFormats -}}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{ end -}}