<!-- Add prefetch and prerender on section pages. Works especially well for articles or blog posts in a series -->
{{ if .IsPage }}
  <!-- Next Section -->
  {{ if .NextInSection }}
  <link rel="prefetch" href="{{ .NextInSection.Permalink }}"><link rel="prerender" href="{{ .NextInSection.Permalink }}">
  {{ end }}
  <!-- Previous Section -->
  {{ if .PrevInSection }}
  <link rel="prefetch" href="{{ .PrevInSection.Permalink }}"><link rel="prerender" href="{{ .PrevInSection.Permalink }}">
  {{ end }}
{{ end }}
