{{ if .IsPage }}
<!-- Check for valid date -->
{{ if not .PublishDate.IsZero }}
<meta itemprop="datePublished" content="{{ dateFormat "2006-01-02" .Date }}">
<meta itemprop="dateModified" content="{{ dateFormat "2006-01-02" .Date }}">
<meta property="article:published_time" content="{{ dateFormat "2006-01-02" .Date }}">
<meta property="article:modified_time" content="{{ dateFormat "2006-01-02" .Date }}">
<meta property="og:updated_time" content="{{ dateFormat "2006-01-02" .Date }}">
{{ end }}
{{ end }}
