<article class="home-tile">
  <!-- Image -->
  {{ if .Params.banner }}
  <span class="image background-image" style="background-image:url({{ .Params.banner }});"></span>
  {{ else }}
  <span class="image background-image" style="background-image:url(https://fvcproductions.com/assets/img/teaser.png);"></span>
  {{ end }}
  <!-- External Link -->
  {{ if .Params.link }}
  <a href="{{ .Params.link }}" target="_blank" rel="noopener"> ↗️
    <!-- No External Link -->
    {{ else }}
    <a href="{{ .RelPermalink }}">
      {{ end }}
      <!-- Title -->
      <h2>
        {{ .Title }}
      </h2>
      <!-- Description -->
      <div class="content">
        {{ if .Description }}
        <p>
          {{ .Description | truncate 200 | safeHTML }}
        </p>
        {{ else }}
        <p>
          {{ .Summary | truncate 200 | safeHTML }}
        </p>
        {{ end }}
      </div>
    </a>
</article>
