{{ define "main" }}
  <div class="hero">
    <div class="content hero-body">
      <div class="container has-text-centered">
        <h1 class="has-text-weight-bold">🚫 404 - Page Not Found</h1>
        <p>Try going back
          <a href="/" title="FVCproductions">home</a>
          or checking the
          <a href="/sitemap/" title="Sitemap">sitemap</a>.</p>
        <p><img alt="Between - Mochi Laptop" class="lozad no-box-shadow" data-src="/assets/img/404/404.png" loading="lazy" src="/assets/img/404/404.png" title="Between - Mochi Laptop"></p>
        <p>FYI,
          <a href="https://between.us/?lang=en&source=fvcproductions" rel="noopener" target="_blank">Between</a>
          created the cute mochi above.</p>
      </div>
    </div>
  </div>
{{ end }}