{{ define "main" }}
<div class="main">
  <!-- Intro -->
  <div class="section">
    <div class="content">
      <h1>👋🏽️ {{ .Site.Params.headline }}</h1>
      <p>{{ .Site.Params.description }}</p>
      <p>FVCproductions is the alias I've used to identify my work across the interwebs. My middle name is "Virginia",
        so Frances Virginia Coronel, FVC, you get it. 🍓🍫</p>
    </div>
  </div>
  <!-- Line Separator -->
  <div class="section u-padding-top--sm u-padding-bottom--sm">
    <hr>
  </div>
  <!-- Nowadays -->
  <div class="section">
    <div class="content">
      <h2>🕒 {{ i18n "nowadays" }}</h2>
      {{ partialCached "custom/bio/bio-first-person.html" . }}
    </div>
  </div>
  <!-- Line Separator -->
  <div class="section u-padding-top--sm u-padding-bottom--sm">
    <hr>
  </div>
  <!-- Most Recent 10 Posts -->
  <div class="section">
    {{ $regularPages := .Site.RegularPages }}
    {{ $regularPagesBeforeNow := where $regularPages "Date.Local" "le" now | first 10 }}
    <div class="content u-table-border-none">
      <h2>📝 Latest Posts</h2>
      <p>
        I've written about
        <a href="/posts/">{{ len $regularPages }} different things</a> so far but here are some of my most recent posts.
      </p>
      <!-- Table -->
      <table class="table">
        <tbody>
          {{ range $regularPagesBeforeNow.ByDate.Reverse }}
          <tr>
            <td class="v--home__date">{{ dateFormat "January 2" .Date }}</td>
            <td>
              <a href="{{ .RelPermalink }}" rel="noopener">{{ .Title }}</a>
            </td>
          </tr>{{ end }}
        </tbody>
      </table>
    </div>
  </div>
  <!-- Line Separator -->
  <div class="section u-padding-top--sm u-padding-bottom--sm">
    <hr>
  </div>
  <!-- Categories -->
  <div class="section">
    <div class="content">
      <h2>🏅 Milestones</h2>
      {{ partialCached "pages/milestones.html" . }}
    </div>
  </div>
  <br>
</div>
{{ end }}