.archive {
    margin-bottom: 2em;
}

.archive__subtitle {
    margin: 1.414em 0 0;
    padding-bottom: 0.5em;
    font-size: $type-size-5;
    color: mix($background-color, $gray, 25%);
    border-bottom: 1px solid $border-color;
    + .list__item .archive__item-title {
        margin-top: 0.5em;
    }
}

.archive__item-title {
    margin-bottom: 0.25em;
    font-family: $sans-serif-narrow;
    a {
        color: $primary-color;
        text-decoration: none;
        &:hover {
            color: $light-gray !important;
            text-decoration: none;
        }
    }
}

.page__content {
    .archive__item-title {
        margin-top: 1em;
        border-bottom: none;
    }
}

.archive__item {
    text-overflow: ellipsis;
    overflow: hidden;
    transition: box-shadow .25s;
}

.archive__item-excerpt {
    margin-top: 0;
    font-size: $type-size-6;
    font-family: $sans-serif;
    & + p {
        text-indent: 0;
    }
    &.project-date {
        font-family: $monospace;
        margin-bottom: 0.5em;
    }
}

.archive__item-teaser {
    border-radius: 0;
    overflow: hidden;
    min-height: 200px;
    max-height: 200px;
    img {
        width: 100%;
    }
}


/*
   List view
   ========================================================================== */

.list__item {
    @include breakpoint($medium) {
        padding-right: $right-sidebar-width-narrow;
    }
    @include breakpoint($large) {
        padding-right: $right-sidebar-width;
    }
    @include breakpoint($x-large) {
        padding-right: $right-sidebar-width-wide;
    }
    .page__meta {
        margin: 0 0 4px;
    }
}

.blog__item {
    padding-right: 0;
    padding-bottom: 1em;
    .list__item .page__meta,
    .list__item .comment__date {
        margin: 0 0 .5em 0;
    }
    .fa {
        padding-right: 0;
    }
}


/*
   Grid view
   ========================================================================== */

.grid__item {
    margin-bottom: 2em;
    .page__meta {
        margin: 0 0 4px;
    }
    .archive__item-title {
        margin-top: 0.5em;
        font-size: $type-size-5;
    }
    .archive__item-excerpt {
        display: none;
        margin-top: 1em;
    }
    @include breakpoint($small) {
        @include gallery(6 of 12);
    }
    @include breakpoint($medium) {
        margin-left: 0;
        /* reset before mixin does its thing*/
        margin-right: 0;
        /* reset before mixin does its thing*/
        @include gallery(4 of 12);
        .archive__item.regular__item {
            height: 400px;
        }
        .archive__item.portfolio__item {
            height: 475px;
        }
        .archive__item.adventure__item {
            height: 350px;
        }
        .archive__item.speaking__item {
            height: 400px;
        }
        .archive__item.testimonial__item {
            height: 400px;
        }
        .archive__item-excerpt {
            display: block;
            font-size: $type-size-6;
        }
    }
}


/*
   Features
   ========================================================================== */

.feature__wrapper {
    @include clearfix();
    margin-bottom: 2em;
    border-bottom: 1px solid $border-color;
}

.feature__item {
    margin-bottom: 2em;
    font-size: 1.25rem;
    @include breakpoint($small) {
        margin-bottom: 0;
        @include gallery(4 of 12);
        .feature__item-teaser {
            max-height: 200px;
            overflow: hidden;
        }
    }
    &--left {
        @include full();
        font-size: 1.25rem;
        .archive__item-teaser {
            margin-bottom: 2em;
        }
        @include breakpoint($small) {
            .archive__item-teaser {
                @include span(6 of 12);
            }
            .archive__item-body {
                @include span(10 of 12 last);
                @include prefix(0.5 of 12);
                @include suffix(1 of 12);
            }
        }
    }
    &--right {
        @include full();
        font-size: 1.25rem;
        .archive__item-teaser {
            margin-bottom: 2em;
        }
        @include breakpoint($small) {
            text-align: right;
            .archive__item-teaser {
                @include span(6 of 12 rtl);
            }
            .archive__item-body {
                @include span(10 of 12 last rtl);
                @include prefix(0.5 of 12);
                @include suffix(1 of 12);
            }
        }
    }
    &--center {
        @include full();
        font-size: 1.25rem;
        .archive__item-teaser {
            margin-bottom: 2em;
        }
        @include breakpoint($small) {
            text-align: center;
            .archive__item-teaser {
                margin: 0 auto;
                width: span(6 of 12);
            }
            .archive__item-body {
                margin: 0 auto;
                width: span(10 of 12);
            }
        }
    }
}


/** Blog View */

.list__item.blog__item h2 {
    margin-bottom: 0;
    padding-bottom: 0.25em;
}
