<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ '/assets/favicons/apple-touch-icon-57x57.png' | absolute_url }}"/>
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ '/assets/favicons/apple-touch-icon-114x114.png' | absolute_url }}"/>
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ '/assets/favicons/apple-touch-icon-72x72.png' | absolute_url }}"/>
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ '/assets/favicons/apple-touch-icon-144x144.png' | absolute_url }}"/>
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ '/assets/favicons/apple-touch-icon-60x60.png' | absolute_url }}"/>
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ '/assets/favicons/apple-touch-icon-120x120.png' | absolute_url }}"/>
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ '/assets/favicons/apple-touch-icon-76x76.png' | absolute_url }}"/>
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ '/assets/favicons/apple-touch-icon-152x152.png' | absolute_url }}" />
<link rel="icon" type="image/png" href="{{ '/assets/favicons/favicon-196x196.png' | absolute_url }}" sizes="196x196" />
<link rel="icon" type="image/png" href="{{ '/assets/favicons/favicon-96x96.png' | absolute_url }}" sizes="96x96" />
<link rel="icon" type="image/png" href="{{ '/assets/favicons/favicon-32x32.png' | absolute_url }}" sizes="32x32" />
<link rel="icon" type="image/png" href="{{ '/assets/favicons/favicon-16x16.png' | absolute_url }}" sizes="16x16" />
<link rel="icon" type="image/png" href="{{ '/assets/favicons/favicon-128.png' | absolute_url }}" sizes="128x128" />
<meta name="application-name" content="FVCproductions" />
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="{{ '/assets/favicons/mstile-144x144.png' | absolute_url }}" />
<meta name="msapplication-square70x70logo" content="{{ '/assets/favicons/mstile-70x70.png' | absolute_url }}" />
<meta name="msapplication-square150x150logo" content="{{ '/assets/favicons/mstile-150x150.png' | absolute_url }}" />
<meta name="msapplication-wide310x150logo" content="{{ '/assets/favicons/mstile-310x150.png' | absolute_url }}" />
<meta name="msapplication-square310x310logo" content="{{ '/assets/favicons/mstile-310x310.png' | absolute_url }}" />
<meta name="msapplication-notification" content="frequency=30;polling-uri=http://notifications.buildmypinnedsite.com/?feed=http://fvcproductions.com/feed.xml&amp;id=1;polling-uri2=http://notifications.buildmypinnedsite.com/?feed=http://fvcproductions.com/feed.xml&amp;id=2;polling-uri3=http://notifications.buildmypinnedsite.com/?feed=http://fvcproductions.com/feed.xml&amp;id=3;polling-uri4=http://notifications.buildmypinnedsite.com/?feed=http://fvcproductions.com/feed.xml&amp;id=4;polling-uri5=http://notifications.buildmypinnedsite.com/?feed=http://fvcproductions.com/feed.xml&amp;id=5;cycle=1" />