<!-- For old IEs -->
<link rel="shortcut icon" href="{{ 'assets/favicons/favicon.ico' | absolute_url }}">
<!-- For new browsers - multisize ico  -->
<link rel="icon" type="image/x-icon" sizes="16x16 32x32" href="{{ 'assets/favicons/favicon.ico' | absolute_url }}">
<link rel="icon" sizes="32x32" href="{{ 'assets/favicons/favicon-32.png' | absolute_url }}" >
<link rel="icon" sizes="192x192" href="{{ 'assets/favicons/favicon-192.png' | absolute_url }}">
<!-- For iPad with high-resolution Retina display running iOS ≥ 7: -->
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ 'assets/favicons/favicon-152.png' | absolute_url }}">
<!-- For iPad with high-resolution Retina display running iOS ≤ 6: -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ 'assets/favicons/favicon-144.png' | absolute_url }}">
<!-- For iPhone with high-resolution Retina display running iOS ≥ 7: -->
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ 'assets/favicons/favicon-120.png' | absolute_url }}">
<!-- For iPhone with high-resolution Retina display running iOS ≤ 6: -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ 'assets/favicons/favicon-114.png' | absolute_url }}">
<!-- For iPhone 6+ -->
<link rel="apple-touch-icon-precomposed" sizes="180x180" href="{{ 'assets/favicons/favicon-180.png' | absolute_url }}">
<!-- For first- and second-generation iPad: -->
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ 'assets/favicons/favicon-72.png' | absolute_url }}">
<!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
<link rel="apple-touch-icon-precomposed" href="{{ 'assets/favicons/favicon-57.png' | absolute_url }}">
<!-- Add manifest -->
<link rel="manifest" href="{{ 'assets/favicons/manifest.json' | absolute_url }}">