<head>
  <meta charset="utf-8">
  <meta http-equiv="cleartype" content="on">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <!-- Tell the browser it's a PWA -->
  <meta name="mobile-web-app-capable" content="yes">
  <!-- Tell iOS it's a PWA -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <!-- SEO -->
  {% include base/seo.html %}
  <!-- Favicons -->
  {% include header/favicons.html %}
  <!-- RSS Feed -->
  <link rel="alternate" hreflang="en-us" href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | absolute_url }}{% endif %}"
    type="application/atom+xml" title="{{ site.title }} - RSS Feed">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | absolute_url }}">
  <!-- One Signal - Web Push Notifications -->
  <script src="//cdn.onesignal.com/sdks/OneSignalSDK.js"></script>
</head>