{{ $regularPages := .Site.RegularPages }}

    <div class="content table-border-none">
      <h2>✒️ I've written about {{ len $regularPages }} different things so far.</h2>
      <!-- Pages -->
      {{ range $regularPages.GroupByDate "2006" }}
      <!-- Line Separator - Year -->
      <!-- Check for No Date -->
      {{ if not (eq .Key "0001") }}
      <!-- Year -->
      <h3>{{ .Key }}</h3>
      <!-- Table -->
      <table class="table">
        <tbody>
          {{ range .Pages }}{{ if .Date.Before now }}
          <tr>
            <td style="width:20%;">{{ dateFormat "January 2" .Date }}</td>
            <td>
              <a {{ if .Params.link }}href="{{ .Params.link }}" target="_blank" rel="noopener"{{ else }}href="{{ .RelPermalink }}"{{ end }}>{{ .Title }}</a>
            </td>
          </tr>{{ end }}{{ end }}
        </tbody>
      </table>
      {{ end }}
      <!-- End - Range - Year -->
      {{ end }}
      <!-- End Message -->
      {{ partial "body/content/list/end-message.html" . }}
    </div>
