.icon {
  @include icon;
  border-bottom: none;
  position: relative;
  >.label {
    display: none;
  }
  &.font-awesome {
    @include vendor("transition", ( "background-color #{_duration(transition)} ease-in-out", "color #{_duration(transition)} ease-in-out", "border-color #{_duration(transition)} ease-in-out"));
    background-color: transparent;
    border: solid 1px _palette(border);
    border-radius: _size(border-radius);
    width: 3em;
    height: 3em;
    line-height: 3em;
    display: inline-block;
    text-align: center;
    color: inherit;
    &:before {
      font-size: 1.1em;
    }
    &:hover {
      color: _palette(accent1);
      border-color: _palette(accent1);
    }
    &:active {
      background-color: transparentize(_palette(accent1), 0.9);
    }
  }
}

/* Brands */

$amazon: #ff9900;
$angellist: #000000;
$behance: #1769ff;
$blogger: #f57d00;
$codepen: #0ebeff;
$delicious: #3399ff;
$deviantart: #05cc47;
$digg: #005be2;
$dribbble: #ea4c89;
$etsy: #d5641c;
$facebook: #3b5998;
$freecodecamp: #006400;
$pocket: #ef4056;
$github: #171516;
$gitlab: #e65328;
$google-plus: #dd4b39;
$hacker-news: #ff6600;
$houzz: #7ac142;
$instagram: #517fa4;
$lastfm: #d51007;
$line-me: #00c300;
$linkedin: #007bb6;
$medium: #00ab6c;
$meetup: #e0393e;
$paypal: #003087;
$pinterest: #cb2027;
$product-hunt: #da552f;
$quora: #a82400;
$reddit: #ff4500;
$renren: #205A9B;
$rss: #fa9b39;
$scribd: #1a7bba;
$skype: #00aff0;
$slideshare: #0077b5;
$soundcloud: #ff3300;
$speakerdeck: #3cb579;
$spotify: #1db954;
$stack-exchange: #1e5397;
$stack-overflow: #fe7a15;
$steam: #00adee;
$stumbleupon: #eb4924;
$telegram: #0088cc;
$trello: #0079bf;
$tumblr: #32506d;
$twitter: #1da1f2;
$viber: #59267c;
$vimeo: #1ab7ea;
$vine: #00bf8f;
$vk: #45668e;
$weibo: #D43437;
$whatsapp: #68E181;
$wordpress: #0087be;
$xing: #006567;
$yelp: #af0606;
$youtube: #bb0000;
/* Function for Social Branding */

$fa-social: (amazon, $amazon),
(angellist, $angellist),
(behance, $behance),
(blogger-b, $blogger),
(codepen, $codepen),
(delicious, $delicious),
(deviantart, $deviantart),
(digg, $digg),
(dribbble, $dribbble),
(etsy, $rss),
(facebook, $facebook),
(free-code-camp, $freecodecamp),
(get-pocket, $pocket),
(github-alt, $github),
(gitlab, $gitlab),
(google-plus-g, $google-plus),
(hacker-news, $hacker-news),
(houzz, $houzz),
(instagram, $instagram),
(lastfm, $lastfm),
(line, $line-me),
(linkedin-in, $linkedin),
(medium-m, $medium),
(meetup, $meetup),
(paypal, $paypal),
(pinterest, $pinterest),
(product-hunt, $product-hunt),
(quora, $quora),
(reddit, $reddit),
(renren, $renren),
(rss, $rss),
(scribd, $scribd),
(skype, $skype),
(slideshare, $slideshare),
(soundcloud, $soundcloud),
(spotify, $spotify),
(stack-exchange, $stack-exchange),
(stack-overflow, $stack-overflow),
(steam, $steam),
(stumbleupon, $stumbleupon),
(telegram, $telegram),
(trello, $trello),
(tumblr, $tumblr),
(twitter, $twitter),
(viber, $viber),
(vimeo, $vimeo),
(vine, $vine),
(vk, $vk),
(weibo, $weibo),
(whatsapp, $whatsapp),
(wordpress, $wordpress),
(xing, $xing),
(yelp, $yelp),
(youtube, $youtube);
@each $social-network,
$fa-color in $fa-social {
  a.icon.font-awesome.fa-#{$social-network}:hover {
    color: $fa-color !important;
    border-color: $fa-color !important;
  }
}

.contact-section,
.sharing-section {
  ul.icons {
    margin: 0;
    width: 100%;
    li {
      padding: .1em .1em .1em 0;
    }
  }
}

.large-emoji {
  font-size: 3em;
}
