div#___gcse_1 {
  .gsc-control-cse {
    font-family: inherit;
  }
  .gsc-search-box-tools .gsc-search-box .gsc-input,
  .gsib_a,
  .gsc-above-wrapper-area {
    padding: 0;
  }
  .gsc-tabsArea {
    border-color: _palette(accent1);
  }
  .gsc-input-box {
    height: unset;
    border: 1px solid;
  }
  .gsc-search-box,
  table {
    margin: 0;
  }
  .gcsc-branding,
  .gsc-resultsHeader {
    display: none;
  }
  table,
  .gsc-above-wrapper-area {
    border: none;
  }
  .gsc-refinementsArea,
  .gsst_b,
  .gsib_b {
    display: none;
  }
  .gsc-tabsArea>.gsc-tabHeader {
    height: auto;
  }
  table tbody tr:nth-child(odd),
  table tbody tr:nth-child(odd) {
    background-color: white;
  }
  table tbody tr {
    border: none;
  }
  .gsc-wrapper {
    font-family: inherit;
    font-size: inherit;
  }
  input.gsc-input {
    font-size: inherit;
  }
  div#gsc-iw-id1 {
    border: none;
    background: white;
    height: inherit;
  }
  table.gsc-search-box,
  table tbody tr {
    border: none;
    border-collapse: inherit;
  }
  .gsib_a {
    padding: inherit;
  }
  table tbody tr {
    border: none;
  }
  .cse .gsc-search-button input.gsc-search-button-v2,
  input.gsc-search-button-v2 {
    height: unset;
  }
  .gsc-result .gs-title {
    height: 2em;
    text-decoration: none;
  }
  .gsc-tabHeader.gsc-tabhActive {
    border-color: inherit;
  }
  .gsc-selected-option-container {
    width: 100%;
  }
  .gsc-input-box {
    height: 2em;
  }
  input.gsc-input,
  .gsc-input-box,
  .gsc-input-box-hover,
  .gsc-input-box-focus {
    border-color: #253137;
    height: inherit !important;
  }
  .gsc-tabsArea {
    margin: 0;
    height: inherit;
    border: none;
    font-size: 1em;
  }
  .gsc-result-info,
  form.gsc-search-box {
    padding: 0;
    margin: 0;
  }
  .cse .gsc-resultsHeader,
  .gsc-resultsHeader {
    display: none;
  }
}
