section,
article {
  &.special {
    text-align: center;
  }
}

header {
  p {
    margin-top: 0;
    font-size: 2em;
  }

  @include breakpoint(small) {
    p {
      margin-top: 0;
    }
  }
}

section.section.tiles {
  margin: 0;
  padding-bottom: 2em;
  article {
    margin: 0;
    padding: 1em;
  }
}

.previous {
  float: left;
}

.next {
  float: right;
}

.page {
  padding: 0 1em 1em 1em;
}

.page {
  margin-bottom: 2em;
}

#menu h2 {
  font-size: 2em;
}

blockquote {
  margin: 0;
}

.contact-form {
  padding-top: 2em;
  padding-bottom: 0em;
}

textarea#message {
  min-height: 10em;
}

.page-content {
  a:hover {
    border-bottom: 2px solid rgba(37, 49, 55, 0.5);
    font-weight: 400;
  }
}

.row.pagination {
  margin-top: 3em;
  margin-bottom: 3em;
}

.page-body img {
  display: block;
  width: 100%;
  border-radius: 10px;
  border: 0;
  display: inline-block;
  position: relative;
}

ul li ul {
  margin-bottom: 0;
}
