table {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
  border: solid _size(border-width) _palette(border);
  display: block;
  font-size: 1em;
  margin: 2em 0;
  max-width: 100%;
  overflow-x: auto;
  text-align: center;
  thead {
    border-bottom: solid (_size(border-width) * 2) _palette(border);
    th {
      color: _palette(fg-bold);
      padding: 1em;
      font-weight: _font(weight-bold-xx);
    }
  }
  tbody {
    tr {
      border: solid _size(border-width) _palette(border);
      border-left: 0;
      border-right: 0;
      &:nth-child(odd) {
        background-color: _palette(border-bg);
      }
    }
    td {
      padding: .5em;
    }
  }
  tfoot {
    border-top: solid (_size(border-width) * 2) _palette(border);
  }
}
