table {
  border: solid _size(border-width) _palette(border);
  font-size: 1em;
  margin: 2em 0;
  text-align: center;
  width: 100%;
  overflow-x: auto;
  @include breakpoint(small) {
    display: block;
  }
  thead {
    border-bottom: solid (_size(border-width) * 2) _palette(border);
    th {
      color: _palette(fg-bold);
      padding: 1em;
      font-weight: _font(weight-bold-xx);
    }
  }
  tbody {
    tr {
      border: solid _size(border-width) _palette(border);
      border-left: 0;
      border-right: 0;
      &:nth-child(odd) {
        background-color: _palette(border-bg);
      }
    }
    td {
      padding: 0.5em;
    }
  }
  tfoot {
    border-top: solid (_size(border-width) * 2) _palette(border);
  }
}
