#footer {
  $gutter: _size(gutter);
  padding: 1em;
  background-color: #253137;
  color: white;
  .inner {
    max-width: 100%;
    @include vendor("display", "flex");
    @include vendor("flex-wrap", "wrap");
    @include vendor("flex-direction", "row");
    text-align: center;
    justify-content: center;
    >*> :last-child {
      margin-bottom: 0;
    }
    .fa-copyright,
    .fa-cog {
      margin-right: .5em;
    }
    a {
      color: white !important;
      &:hover {
        color: lighten(_palette(fg), 50%) !important;
        border-bottom: 1px dotted lighten(_palette(fg), 50%);
      }
    }
    .social-icons {
      margin-top: 2em;
      a {
        color: white !important;
        &:hover {
          color: lighten(_palette(fg), 50%) !important;
          border: 1px dotted lighten(_palette(fg), 50%);
        }
      }
    }
    img.emoji {
      display: none;
    }
    .copyright {
      width: 100%;
      padding: 2em;
      list-style: none;
      font-size: 1.5em;
      @include breakpoint(small) {
        .colophon {
          margin-top: 1em;
        }
      }
    }
  }
  @include breakpoint(large) {
    $gutter: _size(gutter) * 0.5;
  }
  @include breakpoint(medium) {
    $gutter: _size(gutter);
  }
  @include breakpoint(small) {
    @include padding(3em, 0);
    >.inner {
      @include vendor("flex-direction", "column");
      section:nth-child(1) {
        width: 100%;
        margin: 2em 0 0 0;
      }
      section:nth-child(2) {
        @include vendor("order", "-1");
        width: 100%;
      }
    }
  }
  @include breakpoint(xsmall) {
    >.inner {
      .copyright {
        li {
          border-left: 0;
          padding-left: 0;
          margin: 0.75em 0 0 0;
          display: block;
          line-height: inherit;
          &:first-child {
            margin-top: 0;
          }
        }
      }
    }
  }
}
