body {
  color: #292929;
  font-family: "Roboto", -apple-system, ".SFNSText-Regular", "San Francisco",
    "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
  font-weight: 300;
  line-height: 1.8;
  letter-spacing: 0.0125em;
  word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0 0.5em;
  font-family: "Roboto", -apple-system, ".SFNSText-Regular", "San Francisco",
    "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 4em;
  font-weight: 500;
}

h2 {
  font-size: 3em;
  font-weight: 400;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.75em;
}

h5 {
  font-size: 1.5em;
}

h6 {
  font-size: 1.25em;
}

p {
  margin-bottom: 1.3em;
}

u,
ins {
  text-decoration: none;
  border-bottom: 1px solid #292929;
}

u a,
ins a {
  color: inherit;
}

del a {
  color: inherit;
}

p,
pre,
blockquote,
ul,
ol,
dl,
figure,
table,
fieldset {
  orphans: 3;
  widows: 3;
}

p#ga-pageviews {
  margin-bottom: 0;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: none;
  cursor: help;
  border-bottom: 1px dotted #292929;
}

blockquote {
  padding-left: 1em;
  border-left: 0.25em solid #adadad;
  color: #adadad;
}

.page-header {
  .svg-inline--fa {
    margin-right: 1em;
  }
}

.home {
  margin-bottom: 2em;
}

.home-article {
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  background-position: center center;
  background-attachment: scroll;
  min-height: 15em;
}

.archive-button {
  padding: 5em;
}

a:hover {
  img {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    &.emoji {
      box-shadow: none;
    }
  }
}

section,
article {
  &.special {
    text-align: center;
  }
}

header {
  p {
    margin-top: 0;
    font-size: 2em;
  }
  @include breakpoint(small) {
    p {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.previous {
  float: left;
}

.next {
  float: right;
}

#menu h2 {
  font-size: 2em;
}

blockquote {
  margin: 0;
}

.contact-form {
  padding-top: 2em;
  padding-bottom: 0em;
  form {
    margin: 0;
    .actions {
      margin: 0;
    }
  }
}

.contact-section,
.sharing-section {
  ul.icons {
    margin: 0;
    li {
      padding-left: 0;
    }
  }
}

textarea#message {
  min-height: 10em;
}

.pagination-section {
  text-align: center;
  &.row {
    margin-top: 3em;
  }
  a.button {
    @include breakpoint(small) {
      width: 100%;
    }
  }
}

.page-body {
  img {
    display: block;
    border-radius: _size(border-radius);
    border: 0;
    display: inline-block;
    position: relative;
    width: 100%;
  }
  img.emoji {
    border-radius: 0;
    width: 1em;
  }
}

ol > li > ul,
ul > li > ul,
ol > li > ol,
ul > li > ol {
  margin-bottom: 0;
}

li label {
  margin: 0;
}

.image.main {
  width: 100%;
}

input {
  color: #585858;
  font-size: 16pt;
  font-weight: 300;
  line-height: 1.75;
}

label {
  font-size: 0.9em;
  font-weight: 900;
  margin: 0 0 1em 0;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

.page-section {
  margin: 1em 0 1em 0;
}

.page-footer {
  margin: 2em 0;
  border-style: solid;
  border-color: _palette(fg);
  border-top-width: 0.3em;
  .page-section {
    margin-top: 3em;
    margin-bottom: 0;
  }
  img.emoji {
    margin-right: 0.25em;
  }
}

.archive-date {
  margin-right: 1em;
}


.subscribe-form {
  margin: 2em 0 4em 0;
}

.highlight {
  margin: 3em 0;
}

.button {
  letter-spacing: 0;
  text-transform: none;
  padding: 0 1.5em;
}

#footer .inner .social-icons .icon {
  font-size: 2em;
}

pre,
code {
  white-space: pre;
  word-wrap: break-word;
}

.highlight {
  code {
    white-space: pre-wrap;
  }
}

.at4-jumboshare .at4-count-container {
  display: inherit;
}

kbd {
  display: inline-block;
  padding: 0.5em;
  font-size: 1em;
  line-height: 0.5em;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 5px;
  box-shadow: inset 0 -1px 0 #959da5;
}

table th {
  text-align: center;
  font-size: 1em;
}

.page-body {
  img.emoji {
    margin: 0 0.1em;
  }
}

.subscribe-form {
  padding: 0;
  form {
    margin: 0;
    padding: 0;
  }
  img.mailchimp-logo {
    width: 2em;
    vertical-align: -0.5em;
    margin-right: 0.5em;
  }
}

.notice {
  margin: 2em 0 !important;
  /* override*/
  padding: 1em;
  text-indent: initial;
  /* override*/
  background-color: mix(white, lightgray, 75%);
  border-radius: _size(border-radius);
  box-shadow: 0 1px 1px rgba(lightgray, 0.25);
  h4 {
    margin-top: 0 !important;
    /* override*/
    margin-bottom: 0.75em;
  }
  p {
    &:last-child {
      margin-bottom: 0 !important;
      /* override*/
    }
  }
  h4 + p {
    /* remove space above paragraphs that appear directly after notice headline*/
    margin-top: 0;
    padding-top: 0;
  }
  a {
    color: lightgray;
    &:hover {
      color: mix(black, lightgray, 40%);
    }
  }
  code {
    background-color: mix(white, lightgray, 95%);
  }
  ul {
    &:last-child {
      margin-bottom: 0;
      /* override*/
    }
  }
}

table tbody tr:nth-child(odd) {
  background-color: #f0f3f3;
}

.plain-tile-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  background-attachment: scroll;
  min-height: 15em;
  display: block;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

blockquote {
  margin: 1em;
}

.page-body {
  a[href^="//"]:not([href*="fvcproductions.com"]):after {
    content: " ↗";
  }
}

.filter-button-group {
  button {
    margin: 0.5em 0.5em 0.5em 0;
  }
}

.section.tiles {
  margin: 0;
  article {
    margin: 0;
    padding: 1em;
  }
  h2 {
    font-size: 1.5em;
  }
}

archive-date {
  margin-right: 1em;
}

.banner-caption {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0.5em;
  color: #fff;
  font-size: 1em;
  background: #000;
  text-align: right;
  z-index: 5;
  opacity: 0.5;
  @include breakpoint(small) {
    position: relative;
    font-style: italic;
    margin-top: 1em;
    background: none;
    z-index: 0;
    opacity: 0.75;
    color: black;
    text-align: center;
    padding: 0;
    float: right;
  }
}

.section.tiles.plain article,
.section.tiles.isotope.blog.plain article {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  margin: 0.5em;
  padding: 2em;
  a {
    color: _palette(fg);
    :hover {
      color: #607d8b;
    }
  }
}

.contact-section.social-icons {
  font-size: 1.25em;
}

.page-header {
  .image.main {
    margin: 1em 0;
  }
}

// .section.tiles.plain {
//   margin: 1em;
//   article {
//     box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
//     margin: 0;
//     padding: 0;
//     a {
//       color: _palette(fg);
//       :hover {
//         color: #607d8b;
//       }
//     }
//     .content {
//       padding: 1em;
//     }
//   }
// }

span.image.main img {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#return-to-top {
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s linear;
  bottom: 1em;
  color: _palette(fg);
  display: none;
  font-size: 1.5em;
  position: fixed;
  right: 1em;
  text-decoration: none;
  transition: all 0.3s ease;
  z-index: 5000;
  &:hover {
    color: #607d8b;
  }
}
