.page {
  margin: 0 auto;
  width: 100%;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li,
  ol,
  ul {
    a {
      border-bottom: dotted 1px transparentize(_palette(fg), 0.5);
      &:hover {
        border-style: solid;
        font-weight: 400;
      }
    }
  }
  .page-section {
    margin: 1em 0 1em 0;
  }
  .page-header {
    .image.main {
      margin: 1em 0;
    }
    .svg-inline--fa {
      margin-right: 1em;
    }
  }
  .page-body {
    a[href^="//"]:not([href*="fvcproductions.com"]):after {
      content: " ↗";
    }
    img {
      display: block;
      border-radius: _size(border-radius);
      border: 0;
      display: inline-block;
      position: relative;
      width: 100%;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      &.emoji {
        border-radius: 0;
        width: 1em;
        margin: 0 0.1em;
        box-shadow: none;
      }
    }
  }
  .page-footer {
    margin: 2em 0 3em;
    border-style: solid;
    border-color: _palette(fg);
    border-top-width: 0.3em;
    .page-section {
      margin-top: 3em;
      margin-bottom: 0;
    }
    img.emoji {
      margin-right: 0.25em;
    }
  }
  @include breakpoint(laptop) {
    width: 75%;
  }
}

.archive-date {
  margin-right: 1em;
}

.contact-section,
.sharing-section {
  ul.icons {
    margin: 0;
    li {
      padding-left: 0;
    }
  }
}

.pagination-section {
  text-align: center;
  &.row {
    margin-top: 3em;
  }
  a.button {
    @include breakpoint(small) {
      width: 100%;
    }
  }
}

.isotope-header {
  text-align: center;
}

.archive-date {
  margin-right: 1em;
}
