@media print {
  body,
  html,
  :link,
  :visited,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  code,
  pre,
  h1 code,
  h2 code,
  h3 code,
  h4 code,
  h5 code,
  h6 code {
    color: #000;
    padding-left: 0;
    padding-right: 0;
  }
  :link,
  :visited {
    text-decoration: underline;
  }
  body {
    padding: 0;
    margin: 0;
    line-height: 1.25em;
  }
  .page-footer,
  footer,
  nav,
  .section.tiles {
    display: none;
  }
  .page-body a[href]::after {
    content: "\0000a0(" attr(href) ")";
    display: inline-block;
    font: 14px/20px Roboto, sans-serif;
    max-width: 100%;
    word-wrap: break-word;
  }
}
