.page-info {
  .fa {
    margin-right: 0.5em;
  }
}

.home {
  margin-bottom: 5em;
}

.home-article {
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  background-position: center center;
  background-attachment: scroll;
  min-height: 15em;
}

.archive-button {
  padding: 5em;
}

a:hover img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

a:hover img.emoji {
  box-shadow: none;
}

section.section.tiles h2 {
  font-size: 1.5em;
}

.notice {
  margin: 2em 0 !important;
  /* override*/
  padding: 1em;
  text-indent: initial;
  /* override*/
  background-color: mix(white, lightgray, 75%);
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(lightgray, 0.25);
  h4 {
    margin-top: 0 !important;
    /* override*/
    margin-bottom: 0.75em;
  }
  p {
    &:last-child {
      margin-bottom: 0 !important;
      /* override*/
    }
  }
  h4 + p {
    /* remove space above paragraphs that appear directly after notice headline*/
    margin-top: 0;
    padding-top: 0;
  }
  a {
    color: lightgray;
    &:hover {
      color: mix(black, lightgray, 40%);
    }
  }
  code {
    background-color: mix(white, lightgray, 95%);
  }
  ul {
    &:last-child {
      margin-bottom: 0;
      /* override*/
    }
  }
}
