{% if post.header.image %}
    {% capture teaser %}
        {{ post.header.image }}
    {% endcapture %}
{% else %}
    {% capture teaser %}
        {{ page.header.image | absolute_url }}
    {% endcapture %}
{% endif %}

{% if page.header.image contains "://" %}
    {% capture img_path %}
        {{ page.header.image }}
    {% endcapture %}
{% else %}
    {% capture img_path %}
        {{ page.header.image | absolute_url }}
    {% endcapture %}
{% endif %}

{% if post.id %}
    {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
    {% assign title = post.title %}
{% endif %}