{% include archive_item/images.html %}

<div class="{{ include.type | default: 'list' }}__item">

    <article class="archive__item {% include archive_item/classes.html %}" itemscope itemtype="http://schema.org/CreativeWork">
        {% include archive_item/titles.html %}
        {% if include.type == "grid" %} {% include archive_item/teasers.html %} {% endif %}
        <div class="archive__item-content">
            <h2 class="archive__item-title" itemprop="headline">
				{% if post.link %}
		  			<a href="{{ post.link }}" target="_blank">{{ title }} <i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
		  		{% else %}
		  			<a href="{{ post.url | absolute_url }}" rel="permalink">{{ title }}</a>
		  		{% endif %}
	  		</h2>

	  		{% if page.permalink == '/portfolio/' or page.permalink == '/speaking/' or page.permalink == '/blog/' or page.permalink == '/feedback/' or page.permalink == '/conferences/' %}
	  			{% if post.date %}
                    <p class="page__meta" itemprop="datePublished">
                        <i class="fa fa-calendar-o" aria-hidden="true"></i>
                        <time datetime="{{ post.date | date_to_xmlschema }}">
                            {{ post.date | date: "%B %d, %Y" }}
                        </time>
                    </p>
		        {% endif %}
		    {% endif %}

		    {% if post.read_time %}
	            <p class="page__meta">
	                <i class="fa fa-clock-o" aria-hidden="true"></i>
	                {% include page/read-time.html %}
	            </p>
            {% endif %}

            <!-- {% if post.excerpt %}
	            <p class="page__meta" itemprop="description">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
	                {{ post.excerpt | markdownify | strip_html | truncate: 140, '...' }}
	            </p>
            {% endif %} -->
        </div>
    </article>
</div>