<!-- Menu -->
<nav id="menu">
  <h2>Menu</h2>
  <ul>
    <!-- TODO: Add Algolia Search -->
    <li>
      <p>
        <b>
          <a href="https://cse.google.com/cse/publicurl?cx=008213476470887739041:ade_gb9mv7g" target="_blank" rel="noopener">Search... 🔍️</a>
        </b>
      </p>
    </li>
    {{ range .Site.Menus.main }}
    <li>
      <a href="{{ .URL }}" rel="noopener">
        {{ with .Identifier }}
        <i class="{{ . }}">&nbsp;</i>{{ end }}{{ .Name }}
      </a>
    </li>
    {{ end }}
  </ul>
</nav>
