<meta charset="utf-8">
<meta http-equiv="cleartype" content="on">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="HandheldFriendly" content="True">
<meta name="mobile-web-app-capable" content="yes">
<meta name="MobileOptimized" content="320">
<meta name="msapplication-tooltip" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end -}}">
<meta name="msapplication-window" content="width=device-width;height=device-height">
<meta name="robots" content="index, follow">
<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="application-name" content="{{ .Title }}">
<!-- Schema -->
<meta name="title" content="{{ .Title }}">
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end -}}">
<meta name="DC.creator" content="Frances Coronel">
<meta name="DC.description" content="{{ .Description }}">
<meta name="DC.language" content="en">
<meta name="DC.publisher" content="Frances Coronel">
<meta name="DC.subject" content="{{ with .Params.tags }}{{ delimit . ", " }}{{ end }}">
<meta name="DC.title" content="{{ .Title }}">
<!-- Internal Template - Schema -->
{{ template "_internal/schema.html" . }}
<!-- Internal Template - Twitter Cards -->
{{ template "_internal/twitter_cards.html" . }}
<!-- Internal Template - Open Graph -->
{{ template "_internal/opengraph.html" . }}
<!-- Internal Template - Google Analytics -->
{{ template "_internal/google_analytics_async.html" . }}
<!-- Internal Template - Google News -->
{{ template "_internal/google_news.html" . }}
<!-- Keywords -->
<meta itemprop="keywords" content="{{ with .Params.tags }}{{ delimit . ", " }}{{ end }}">
<!-- Twitter Labels -->
<!-- Categories -->
{{ if .Params.categories }}
<meta name="twitter:label1" value="📂️ Categories">
<meta name="twitter:data1" value="{{ delimit .Params.categories ", " }}"> {{ end }}
<!-- Tags -->
{{ if .Params.tags }}
<meta name="twitter:label2" value="📌️ Tags">
<meta name="twitter:data2" value="{{ delimit .Params.tags ", " }}"> {{ end }}
<!-- Images -->
<!-- Open Graph -->
<meta property="og:image:width" content="1050">
<meta property="og:image:height" content="600">
<meta property="og:image" content="{{ if .Params.banner }}{{ .Params.banner }}{{ else }}https://fvcproductions.com/assets/img/teaser.png{{ end }}">
<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image:src" content="{{ if .Params.banner }}{{ .Params.banner }}{{ else }}https://fvcproductions.com/assets/img/teaser.png{{ end }}">
<meta name="image" content="{{ if .Params.banner }}{{ .Params.banner }}{{ else }}https://fvcproductions.com/assets/img/teaser.png{{ end }}">
<!-- Schema -->
<meta itemprop="image" content="{{ if .Params.banner }}{{ .Params.banner }}{{ else }}https://fvcproductions.com/assets/img/teaser.png{{ end }}">
<!-- Links -->
<link rel="canonical" href="{{ .Permalink }}">
<link rel="manifest" href="/manifest.json" />
<link rel="preconnect" href="https://fvcproductions.com/">
<link rel="schema.DC" href="http://purl.org/dc/elements/1.1/">
<link rel="schema.DCTERMS" href="http://purl.org/dc/terms/">
<!-- RSS -->
{{ if .RSSLink }}
<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Title }}" /> {{ end }}
<!-- Add prefetch and prerender on section pages. Works especially well for articles or blog posts in a series -->
{{ if .IsPage }} {{if .NextInSection }}
<link rel="prefetch" href="{{.NextInSection.Permalink}}">
<link rel="prerender" href="{{.NextInSection.Permalink}}"> {{ end }} {{if .PrevInSection }}
<link rel="prefetch" href="{{.PrevInSection.Permalink}}">
<link rel="prerender" href="{{.PrevInSection.Permalink}}"> {{ end }} {{ end }}
