.archive__item {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.archive__item-title {
  margin: 0;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}

.archive__subtitle {
  margin: 1.414em 0 0;
  padding-bottom: 0.5em;
  + .list__item .archive__item-title {
    margin-top: 0.5em;
  }
}

.archive__item-teaser {
  width: 100%;
  display: block;
  max-height: 250px;
  img {
    vertical-align: middle;
    border-style: none;
  }
}

.archive__item-content {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  &:last-child {
    margin-bottom: 0;
  }
  .page__meta {
    margin: 0 0 4px;
  }
}

.archive__item-excerpt {
  margin: 0 !important;
  margin-top: 1em !important;
}

.archive__item-date {
  margin: 0 !important;
}
