// Font Family
$family-serif: "Roboto", BlinkMacSystemFont, -apple-system, "Helvetica Neue",
  "Helvetica", "Arial", sans-serif;
$family-mono: "Roboto Mono", monospace;

// Font Sizes
$font-size-1: 5em;
$font-size-2: 4.5em;
$font-size-3: 4em;
$font-size-4: 3.5em;
$font-size-5: 3em;
$font-size-6: 2.5em;
$font-size-7: 2em;
$font-size-8: 1.5em;
$font-size-9: 1.25em;
$font-size-10: 1em;

// Break Points
$mobile: 400px !default;
$small: 600px !default;
$medium: 900px !default;
$large: 1200px !default;
$x-large: 1500px !default;

// Colors
$primary: #253137;
$primary-invert: findColorInvert($primary);
$secondary: #657c89;

// Social Colors
$behance-color: #1769ff;
$dribbble-color: #ea4c89;
$facebook-color: #3b5998;
$flickr-color: #ff0084;
$foursquare-color: #0072b1;
$github-color: #6a737d;
$google-plus-color: #dd4b39;
$instagram-color: #517fa4;
$lastfm-color: #d51007;
$linkedin-color: #007bb6;
$pinterest-color: #cb2027;
$rss-color: #fa9b39;
$soundcloud-color: #ff3300;
$stackoverflow-color: #fe7a15;
$tumblr-color: #32506d;
$twitter-color: #1da1f2;
$vimeo-color: #1ab7ea;
$vine-color: #00bf8f;
$youtube-color: #bb0000;
$xing-color: #006567;
$speakerdeck-color: #3cb579;
$spotify-color: #1db954;
$reddit-color: #ff4500;

// Transitions
$global-transition: all 0.2s ease-in-out !default;
