{{ define "main" }}
<section class="hero is-danger is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        🚫 404
      </h1>
      <h2 class="subtitle">
        Try going back
        <a class="external-link" href="/">home</a> or
        <a class="external-link" href="/contact/">contact us</a> to find what you're looking for.
      </h2>
      <p>
        <img alt="Between - Mochi Laptop" src="/assets/img/404/404.png">
      </p>
      <p>
        <a class="external-link" href="https://between.us/?lang=en" target="_blank" rel="noopener">Between</a> created the cute mochi above.
      </p>
    </div>
  </div>
</section>
{{ end }}
