{{ define "main" }}
<header>
  <h1>{{ .Site.Params.headline }}</h1>
  <p>{{ .Site.Params.description }}</p>
</header>
<hr>
<div class="row latest-activity">
  <div class="12u centered">
    <h2 class="m0">🕒️ Recent Activity</h2>
  </div>
  <div class="4u 12u(small)">
    <h3>
      📝️ Writing
    </h3>
    <ul>
      {{ $posts := ($.Site.Taxonomies.categories.blog).Pages }}{{ range first 5 $posts.ByDate.Reverse }} {{ partial "page/body/plain-link.html" . }} {{ end }}
    </ul>
  </div>
  <div class="4u 12u(small)">
    <h3>
      🔨 Creating
    </h3>
    <ul>
      {{ $projects := ($.Site.Taxonomies.categories.portfolio).Pages }}{{ range first 5 $projects.ByDate.Reverse }} {{ partial "page/body/plain-link.html" . }} {{ end }}
    </ul>
  </div>
  <div class="4u 12u(small)">
    <h3>
      💬 Speaking
    </h3>
    <ul>
      {{ $talks := ($.Site.Taxonomies.categories.speaking).Pages }} {{ range first 5 $talks.ByDate.Reverse }} {{ partial "page/body/plain-link.html" . }} {{ end }}
    </ul>
  </div>
</div>
<hr>
<section class="tiles">
  <!-- Pages -->
  {{ $pages := where .Site.RegularPages "Type" "page" }}
  <!-- Section Pages -->
  {{ $pages := $pages | union (.Site.Sections) }}
  <!-- Looping -->
  {{ range $pages.ByTitle }} {{ partial "page/body/home-tile-plain.html" . }} {{ end }}
</section>
{{ end }}
