{{ define "main" }}
<div class="homepage">
  <!-- Header Intro -->
  <header>
    <h1>{{ .Site.Params.headline }}</h1>
    <p>{{ .Site.Params.description }}</p>
  </header>
  <hr>
  <!-- Recent Activity -->
  <div class="row latest-activity">
    <div class="12u centered">
      <h2 class="m0">🕒️ Recent Activity</h2>
    </div>
    <!-- Writing -->
    {{ $writing := ($.Site.Taxonomies.categories.blog).Pages }}
    <div class="4u 12u(small)">
      <h3>📝️ Writing</h3>
      <ul>
        {{ range first 5 $writing.ByDate.Reverse }}{{ partial "page/body/tiles/tile-link.html" . }}{{ end }}
      </ul>
    </div>
    <!-- Creating -->
    {{ $creating := ($.Site.Taxonomies.categories.portfolio).Pages }}
    <div class="4u 12u(small)">
      <h3>🔨 Creating</h3>
      <ul>
        {{ range first 5 $creating.ByDate.Reverse }}{{ partial "page/body/tiles/tile-link.html" . }}{{ end }}
      </ul>
    </div>
    <!-- Speaking -->
    {{ $speaking := ($.Site.Taxonomies.categories.speaking).Pages }}
    <div class="4u 12u(small)">
      <h3>💬 Speaking</h3>
      <ul>
        {{ range first 5 $speaking.ByDate.Reverse }}{{ partial "page/body/tiles/tile-link.html" . }}{{ end }}
      </ul>
    </div>
  </div>
  <hr>
  <!-- Home Tiles -->
  <section class="tiles">
    <!-- Pages -->
    {{ $pages := where .Site.RegularPages "Type" "page" }}
    <!-- Section Pages -->
    {{ $pages := $pages | union (.Site.Sections) }}
    <!-- Looping -->
    {{ range $pages.ByTitle }}{{ partial "page/body/tiles/tile-home-plain.html" . }}{{ end }}
  </section>
</div>
{{ end }}
