 {{ if not .PublishDate.IsZero }}
<div class="row">
  <div class="12u">
    <p>
      <i title="Publish Date" class="fas fa-calendar-check fa-lg"></i> Published {{ dateFormat "Monday - January 2, 2006" .Date }}
    </p>
  </div>
</div>
<!-- Last Presented -->
{{ if .Params.lastpresented }}
<div class="row">
  <div class="12u">
    <p>
      <i title="Last Presented Date" class="fas fa-calendar-plus fa-lg"></i> Last presented {{ dateFormat "Monday - January 2, 2006" .Params.lastpresented }}
    </p>
  </div>
</div>
{{ end }} {{ end }}
