.gsc-above-wrapper-area,
td.gsc-result-info-container,
.cse .gsc-control-cse,
.gsc-control-cse,
td.gsc-search-button,
.gsc-search-box-tools .gsc-search-box .gsc-input,
.gsc-webResult .gsc-result,
.gsc-refinementsArea,
div#resInfo-0 {
    padding: 0 !important;
    margin: 0 !important;
}

.gsc-input-box {
    height: 50px !important;
}

.gsc-tabsArea>div {
    overflow: hidden !important;
}

.gsc-tabsArea>.gsc-tabHeader,
.gsc-tabsArea>div {
    height: initial !important;
}

input#gsc-i-id1 {
    height: 40px !important;
    box-shadow: none !important;
    margin: 0 !important;
    margin-left: 1em !important;
}

img.gcsc-branding-img-noclear {
    margin-bottom: .5em !important;
}

td.gsc-configLabelCell {
    display: none;
}

.gsc-above-wrapper-area {
    padding: .5em !important;
}

.gsc-tabsArea {
    font-size: 1em;
}

.gsst_a {
    padding-top: .5em !important;
}

.cse input.gsc-search-button,
input.gsc-search-button,
.cse .gsc-search-button input.gsc-search-button-v2,
input.gsc-search-button-v2 input.gsc-search-button.gsc-search-button-v2 {
    padding: 1.25em !important;
    height: 50px !important;
    width: 50px !important;
    margin: 0 !important;
    border: 0 !important;
    margin-left: 10px !important;
}

table.gsc-search-box td {
    vertical-align: top !important;
}

.gsc-selected-option-container {
    max-width: 100% !important;
}

input.gsc-search-button,
input.gsc-search-button:hover,
input.gsc-search-button:focus {
    background-color: #2F5BB7 !important;
}

.gsc-above-wrapper-area-container {
    margin-bottom: 0 !important;
}

form.gsc-search-box {
    margin-bottom: 2em;
}