<div class="card card-equal-height">
  <a class="reset" aria-label="{{ .Title }}" {{ if .Params.link }} href="{{ .Params.link }}" target="_blank" rel="noopener" {{ else }} href="{{ .RelPermalink }}" {{ end }}>
    <!-- Image -->
    {{- partial "body/content/card/image.html" . -}}
    <!-- Info -->
    {{- partial "body/content/card/info.html" . -}}
  </a>
  <!-- More Info -->
  {{- partial "body/content/card/more-info.html" . -}}
  <!-- Tags -->
  {{ if .Params.tags }}
  <div class="media-content">
    {{ partial "body/content/taxonomy/tags/tags.html" . }}
  </div>
  {{ end }}
</div>