<div class="card card-equal-height">
  <a class="reset" aria-label="{{ .Title }}" {{ if .Params.link }} href="{{ .Params.link }}" target="_blank" rel="noopener" {{ else }} href="{{ .RelPermalink }}" {{ end }}>
    {{ if .Params.image }}
    <div class="background-image" style="background-image: url({{ .Params.image }});"></div>
    {{ end }}
    <div class="media-content pb-0">
      {{ partial "body/content/card/info.html" . }}
    </div>
  </a>
  <div class="media-content pt-sm">
    {{ partial "body/content/card/info-speaking.html" . }}
  </div>
  <!-- Categories -->
  {{ if .Params.categories }}
  {{ if not (in .Params.categories "talk") }}
  <div class="media-content">
    {{ partial "body/content/taxonomy/tags/categories.html" . }}
  </div>
  {{ end }}
  {{ end }}
</div>