<div class="content">
  <!-- Title -->
  <h4>{{ if not (.Params.hideUpcomingText) }}{{ if .Date.After now }}UPCOMING: {{ end }}{{ end }}{{ .Title }}{{ if .Params.link }} ↗️{{ end }}</h4>
  <!-- Description -->
  <p class="has-text-grey-dark">{{ if .Description }}{{ .Description | truncate 100 | safeHTML }}{{ else }}{{ .Summary | truncate 100 | safeHTML }}{{ end }}</p>
  <!-- Date -->
  {{- if not .PublishDate.IsZero }}
  {{- if not (in .Params.categories "talk") }}
  <p class="subtitle has-text-weight-light is-size-6 mt-1">
    <time datetime='{{ dateFormat "2006-01-02" .Date }}'>{{ dateFormat "Monday - January 2, 2006" .Date }}</time>
  </p>
  {{- if not .Params.noTimeEstimate }}
  {{ if gt .ReadingTime 1 }}
  {{ if .WordCount }}
  <p class="subtitle has-text-weight-light is-size-6 mt-1">
    {{ .ReadingTime }} min read ∙ {{ .WordCount }} words
  </p>
  {{ end }}
  {{ end }}
  {{- end }}
  {{- end }}{{- end }}
</div>