{{ if or (in .Params.categories "speaking") (in .Params.categories "talk") }}
<div class="media-content pt-sm">
  <div class="content">
    <!-- Talk Names -->
    {{- partial "body/content/card/talk-names.html" . -}}
    <!-- Slides -->
    {{ if .Params.slides }}
    <p class="subtitle has-text-weight-light is-size-6 mt-1">
      📎️ <a href="{{ .Params.slides }}" target="_blank" rel="noopener">Slides</a>
    </p>
    {{ end }}
    <!--- Video -->
    {{ if .Params.video }}
    <p class="subtitle has-text-weight-light is-size-6 mt-1">
      🎥 <a href="{{ .Params.video }}" target="_blank" rel="noopener">Video</a>
    </p>
    {{ end }}
    <!-- Recording -->
    {{ if .Params.recording }}
    <p class="subtitle has-text-weight-light is-size-6 mt-1">
      🎙️ <a href="{{ .Params.recording }}" target="_blank" rel="noopener">Recording</a>
    </p>
    {{ end }}
    <!-- Presented at x events -->
    {{ if in .Params.categories "talk" }}
    {{ $talk := .Params.talk }}
    {{ $events := (index .Site.Taxonomies.tags $talk) }}
    <p class="subtitle has-text-weight-light is-size-6 mt-1">
      Presented at {{ len $events }}{{ if gt (len $events) 1 }} events{{ else }} event{{ end }}
    </p>
    {{ end }}
  </div>
</div>
{{ end }}