<!-- Progressive Web Apps 101 -->
{{ if in .Params.tags "pwas101" }}
<p class="subtitle has-text-weight-light is-size-6 mt-1">
  <b>
    <a href="/2018/05/18/progressive-web-apps-101/">Progressive Web Apps 101</a>
  </b>
</p>
{{ end }}
<!-- Coding Bootcamps -->
{{ if in .Params.tags "bootcamps" }}
<p class="subtitle has-text-weight-light is-size-6 mt-1">
  <b>
    <a href="/2016/01/18/coding-bootcamps/">Coding Bootcamps</a>
  </b>
</p>
{{ end }}
<!-- Hour of Code -->
{{ if in .Params.tags "hour-of-code" }}
<p class="subtitle has-text-weight-light is-size-6 mt-1">
  <b>
    <a href="/2015/12/10/hour-of-code/">Hour of Code</a>
  </b>
</p>
{{ end }}
<!-- TypeScript 101 -->
{{ if in .Params.tags "typescript101" }}
<p class="subtitle has-text-weight-light is-size-6 mt-1">
  <b>
    <a href="/2017/09/29/typescript-101/">TypeScript 101</a>
  </b>
</p>
{{ end }}
<!-- Web Design -->
{{ if in .Params.tags "web-design" }}
<p class="subtitle has-text-weight-light is-size-6 mt-1">
  <b>
    <a href="/2015/04/09/web-design/">Web Design for Developers</a>
  </b>
</p>
{{ end }}
<!-- Wizard -->
{{ if in .Params.tags "wizard" }}
<p class="subtitle has-text-weight-light is-size-6 mt-1">
  <b>
    <a href="/2016/04/09/so-you-want-to-be-a-wizard/">So You Want To Be A Wizard</a>
  </b>
</p>
{{ end }}
