<article class="{{ if .Parent.Params.filtering }}mix{{ end }} {{ with .Params.categories }}{{ delimit . " " }}{{ end }}">
  <!-- Banner -->
  {{ if .Params.banner }}
  <span class="image background-image" style="background-image:url({{ .Params.banner }});"></span>
  {{ else }}
  <span class="image background-image" style="background-image:url(https://www.fvcproductions.com/assets/img/teaser.png);"></span>
  {{ end }}
  <!-- Link -->
  {{ if .Params.link }}
  <a href="{{ .Params.link }}" target="_blank" rel="noopener">
    {{ else }}
    <a href="{{ .RelPermalink }}">
      {{ end }}
      <!-- Title -->
      {{ if not .PublishDate.IsZero }}
      <p>
        {{ dateFormat "January 2006" .Date }}
      </p>
      {{ end }}
      <h2>
        {{ .Title }} {{ if .Params.link }}↗️{{ end }}
      </h2>
      <!-- Description -->
      <!-- {{ if .Description }}
      <div class="content">
        <p>
          {{ .Description | truncate 25 | safeHTML }}
        </p>
      </div>
      {{ else }}
      <div class="content">
        <p>
          {{ .Summary | truncate 25 | safeHTML }}
        </p>
      </div>
      {{ end }} -->
    </a>
</article>
