<article class="plain-tile full-width {{ if .Parent.Params.filtering }}mix{{ end }} {{ with .Params.categories }}{{ delimit . " " }}{{ end }}">
  <div class="content">
    <a {{ if .Params.link }}href="{{ .Params.link }}" target="_blank" rel="noopener" {{ else }}href="{{ .RelPermalink }}" {{ end }}>
      <!-- Date -->
      {{ if not .PublishDate.IsZero }}
      <p class="small">
        {{ dateFormat "Monday - January 2, 2006" .Date }}
      </p>
      {{ end }}
      <!-- Title -->
      <h2>
        {{ .Title }} {{ if .Params.link }}↗️{{ end }}
      </h2>
      <!-- Description -->
      {{ if .Description }}
      <p>
        {{ .Description | truncate 100 | safeHTML }}
      </p>
      {{ else }}
      <p>
        {{ .Summary | truncate 100 | safeHTML }}
      </p>
      {{ end }}
    </a>
  </div>
</article>
