<!-- Archive -->
{{ if .Params.archivePage }}
  {{ partial "body/content/pages/archive.html" . }}
{{ end }}
<!-- Awards -->
{{ if .Params.awardsPage }}
  {{ partial "body/content/pages/awards.html" . }}
{{ end }}
<!-- Blog -->
{{ if .Params.blogPage }}
  {{ partial "body/content/pages/blog.html" . }}
{{ end }}
<!-- Feedback -->
{{ if .Params.feedbackPage }}
  {{ partial "body/content/pages/feedback.html" . }}
{{ end }}
<!-- Press -->
{{ if .Params.pressPage }}
  {{ partial "body/content/pages/press.html" . }}
{{ end }}
<!-- Portfolio -->
{{ if .Params.portfolioPage }}
  {{ partial "body/content/pages/portfolio.html" . }}
{{ end }}
<!-- Speaking -->
{{ if .Params.speakingPage }}
  {{ partial "body/content/pages/speaking.html" . }}
{{ end }}
<!-- Talk -->
{{ if .Params.talk }}
  {{ partial "body/content/pages/talk.html" . }}
{{ end }}
