<div class="columns is-multiline">
  {{ range $.Site.Taxonomies.categories.Alphabetical }}
  <div class="column is-one-quarter">
    <a class="reset" aria-label="{{ .Name | urlize | lower }}" href="
      {{ if eq .Name "award" }}/awards/
      {{ else if eq .Name "blog" }}/blog/
      {{ else if eq .Name "conference" }}/conferences/
      {{ else if eq .Name "education" }}/education/
      {{ else if eq .Name "experience" }}/experience/
      {{ else if eq .Name "freelancing" }}/freelancing/
      {{ else if eq .Name "hackathon" }}/hackathons/
      {{ else if eq .Name "mentoring" }}/mentoring/
      {{ else if eq .Name "podcast" }}/podcast/
      {{ else if eq .Name "portfolio" }}/portfolio/
      {{ else if eq .Name "press" }}/press/
      {{ else if eq .Name "program" }}/programs/
      {{ else if eq .Name "review" }}/reviews/
      {{ else if eq .Name "speaking" }}/speaking/
      {{ else if eq .Name "talk" }}/talks/
      {{ else if eq .Name "volunteering" }}/volunteering/
      {{ else }}/categories/{{ .Name | urlize | lower }}
      {{ end }}">
      <div class="card card-equal-height">
        <div class="media-content">
          <h3 class="is-size-4">
            {{ if eq .Name "freelancing" }}4
            {{ else if eq .Name "mentoring" }}77
            {{ else }}{{ .Count }}
            {{ end }}
          </h3>
          <p class="has-text-weight-light is-capitalized">
            {{ if eq .Name "award" }}Awards 🏆
            {{ else if eq .Name "blog" }}Blog Posts 📝
            {{ else if eq .Name "conference" }}Conferences 👥
            {{ else if eq .Name "education" }}Schools 🎓
            {{ else if eq .Name "experience" }}Positions 💼️
            {{ else if eq .Name "freelancing" }}Freelance Clients 💎
            {{ else if eq .Name "hackathon" }}Hackathons 💻️
            {{ else if eq .Name "mentoring" }}Mentor Sessions 📚
            {{ else if eq .Name "podcast" }}Podcast (TBA) 🎙️
            {{ else if eq .Name "portfolio" }}Projects 🛠️
            {{ else if eq .Name "press" }}Press Mentions ️📰️
            {{ else if eq .Name "program" }}Programs ️🌱
            {{ else if eq .Name "review" }}Reviews ✅
            {{ else if eq .Name "speaking" }}Speaking Events 💬️
            {{ else if eq .Name "talk" }}Talks 📢
            {{ else if eq .Name "volunteering" }}Volunteer Efforts 💛
            {{ else }}{{ .Name }}
            {{ end }}
          </p>
        </div>
      </div>
    </a>
  </div>
  {{ end }}
</div>