---
layout: compress
---

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}">

<head>
    {% include header/head.html %}
</head>

<body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}">
    <a href="javascript:void(0);" id="scroll" title="Scroll to Top" style="display: none;">Top<span></span></a>
    {% include base/browser-upgrade.html %}
    {% include header/masthead.html %}
    {{ content }}
    <div class="page__footer">
        <footer>
            {% include footer/footer.html %}
        </footer>
    </div>
    {% include base/scripts.html %}
</body>
</html>