{{ if and (.Params.slideshare) (.Params.slides) }}
<h2>📎 Slides</h2>
<iframe src="https://www.slideshare.net/slideshow/embed_code/key/{{ .Params.slideshare }}" width="100%" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
<div> <strong> <a href="{{ .Params.slides }}" title="JSConf EU 2019 - Being a Unicorn Working for Another Unicorn" target="_blank">{{ .Title }}</a> </strong> from <strong><a href="https://www.slideshare.net/FVCproductions" target="_blank">Frances Coronel</a></strong> </div>
{{ end }}