<div class="social-icons">
  <!-- Twitter -->
  <a title="FVCproductions on Twitter" aria-label="FVCproductions on Twitter" class="fa-twitter" href="https://twitter.com/fvcproductions" rel="noopener" target="_blank">
    {{ partialCached "icons/twitter.html" . }}
  </a>
  <!-- LinkedIn -->
  <a title="FVCproductions on LinkedIn" aria-label="FVCproductions on LinkedIn" class="fa-linkedin" href="https://www.linkedin.com/in/fvcproductions" rel="noopener" target="_blank">
    {{ partialCached "icons/linkedin.html" . }}
  </a>
  <!-- GitHub -->
  <a title="FVCproductions on GitHub" aria-label="FVCproductions on GitHub" class="fa-github" href="https://github.com/fvcproductions" rel="noopener" target="_blank">
    {{ partialCached "icons/github.html" . }}
  </a>
  <!-- Instagram -->
  <a title="FVCproductions on Instagram" aria-label="FVCproductions on Instagram" class="fa-instagram" href="https://www.instagram.com/fvcproductions" rel="noopener" target="_blank">
    {{ partialCached "icons/instagram.html" . }}
  </a>
  <!-- Facebook -->
  <!-- <a title="FVCproductions on Facebook" aria-label="FVCproductions on Facebook" class="fa-facebook" href="https://www.facebook.com/fvcproductions" rel="noopener" target="_blank">
    {{ partialCached "icons/facebook.html" . }}
  </a> -->
  <!-- SlideShare -->
  <a title="FVCproductions on SlideShare" aria-label="FVCproductions on SlideShare" class="fa-slideshare" href="https://slideshare.net/fvcproductions" rel="noopener" target="_blank">
    {{ partialCached "icons/slideshare.html" . }}
  </a>
  <!-- YouTube -->
  <a title="FVCproductions on YouTube" aria-label="FVCproductions on YouTube" class="fa-youtube" href="https://www.youtube.com/+fvcproductions2013" rel="noopener" target="_blank">
    {{ partialCached "icons/youtube.html" . }}
  </a>
  <!-- Patreon -->
  <a title="FVCproductions on Patreon" aria-label="FVCproductions on Patreon" class="fa-patreon" href="https://www.patreon.com/fvcproductions" rel="noopener" target="_blank">
    {{ partialCached "icons/patreon.html" . }}
  </a>
  <!-- Product Hunt -->
  <a title="FVCproductions on Product Hunt" aria-label="FVCproductions on Product Hunt" class="fa-product-hunt" href="https://www.producthunt.com/@fvc" rel="noopener" target="_blank">
    {{ partialCached "icons/product-hunt.html" . }}
  </a>
  <!-- RSS -->
  <a title="FVCproductions on RSS" aria-label="FVCproductions on RSS" class="fa-rss" href="/feed.xml" rel="noopener" target="_blank">
    {{ partialCached "icons/rss.html" . }}
  </a>
</div>