<div class="tile is-ancestor">
  <div class="tile is-vertical is-12">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <span class="tile is-child has-text-centered">
          <img data-src="/assets/img/about/gifs/alcatraz.gif" class="lozad bg" loading="lazy"
            src="/assets/img/about/gifs/alcatraz.gif" alt="Me, myself and I">
        </span>
        <span class="tile is-child has-text-centered">
          <img data-src="/assets/img/about/gifs/dad.gif" class="lozad bg" loading="lazy"
            src="/assets/img/about/gifs/dad.gif" alt="Papa">
        </span>
        <span class="tile is-child has-text-centered">
          <img data-src="/assets/img/about/gifs/deb.gif" class="lozad bg" loading="lazy"
            src="/assets/img/about/gifs/deb.gif" alt="My boo's parents">
        </span>
      </div>
      <div class="tile is-parent is-vertical">
        <span class="tile is-child has-text-centered">
          <img data-src="/assets/img/about/gifs/nefs-2.gif" class="lozad bg" loading="lazy"
            src="/assets/img/about/gifs/nefs-2.gif" alt="Nefy being cute">
        </span>
        <span class="tile is-child has-text-centered">
          <img data-src="/assets/img/about/gifs/mama-coffee.gif" class="lozad bg" loading="lazy"
            src="/assets/img/about/gifs/mama-coffee.gif" alt="Mama and her coffee">
        </span>
      </div>
    </div>
  </div>
</div>
<div class="tile is-ancestor">
  <div class="tile is-vertical is-12">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <span class="tile is-child has-text-centered">
          <img data-src="/assets/img/about/gifs/nolan-oakland-bay-bridge.gif" class="lozad bg" loading="lazy"
            src="/assets/img/about/gifs/nolan-oakland-bay-bridge.gif" alt="Nolan by Oakland Bay Bridge">
        </span>
        <span class="tile is-child has-text-centered">
          <img data-src="/assets/img/about/gifs/nolty-and-franny-hawaii.gif" class="lozad bg" loading="lazy"
            src="/assets/img/about/gifs/nolty-and-franny-hawaii.gif" alt="Nolty & Franny">
        </span>
      </div>
      <div class="tile is-parent is-vertical">
        <span class="tile is-child has-text-centered">
          <img data-src="/assets/img/about/gifs/mama-and-nefs.gif" class="lozad bg" loading="lazy"
            src="/assets/img/about/gifs/mama-and-nefs.gif" alt="Mama & Nefy">
        </span>
      </div>
    </div>
  </div>
</div>