<div class="tile is-ancestor">
  <div class="tile is-vertical is-12">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <span class="tile is-child has-text-centered">
          <img data-src="/assets/img/about/alcatraz.gif" class="lozad bg" loading="lazy" src="/assets/img/about/alcatraz.gif" alt="Me, myself and I">
        </span>
        <span class="tile is-child has-text-centered">
          <img data-src="/assets/img/about/dad.gif" class="lozad bg" loading="lazy" src="/assets/img/about/dad.gif" alt="Papa">
        </span>
        <span class="tile is-child has-text-centered">
          <img data-src="/assets/img/about/deb.gif" class="lozad bg" loading="lazy" src="/assets/img/about/deb.gif" alt="My boo's parents">
        </span>
      </div>
      <div class="tile is-parent is-vertical">

        <span class="tile is-child has-text-centered">
          <img data-src="/assets/img/about/nefs-2.gif" class="lozad bg" loading="lazy" src="/assets/img/about/nefs-2.gif" alt="Nefy being cute">
        </span>
        <span class="tile is-child has-text-centered">
          <img data-src="/assets/img/about/mama-coffee.gif" class="lozad bg" loading="lazy" src="/assets/img/about/mama-coffee.gif" alt="Mama and her coffee">
        </span>
      </div>
    </div>
  </div>
</div>

<div class="tile is-ancestor">
  <div class="tile is-vertical is-12">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <span class="tile is-child has-text-centered">
          <img data-src="/assets/img/about/nolan-oakland-bay-bridge.gif" class="lozad bg" loading="lazy" src="/assets/img/about/nolan-oakland-bay-bridge.gif" alt="Nolan by Oakland Bay Bridge">
        </span>
        <span class="tile is-child has-text-centered">
          <img data-src="/assets/img/about/mama-and-nefs.gif" class="lozad bg" loading="lazy" src="/assets/img/about/mama-and-nefs.gif" alt="Mama & Nefy">
        </span>
      </div>
      <div class="tile is-parent is-vertical">
        <span class="tile is-child has-text-centered">
          <img data-src="/assets/img/about/ohio-fam.gif" class="lozad bg" loading="lazy" src="/assets/img/about/ohio-fam.gif" alt="My boo's family">
        </span>
        <span class="tile is-child has-text-centered">
          <img data-src="/assets/img/about/nolty-and-franny.gif" class="lozad bg" loading="lazy" src="/assets/img/about/nolty-and-franny.gif" alt="Nolty & Franny">
        </span>
        <span class="tile is-child has-text-centered">
          <img data-src="/assets/img/about/mama-and-rosi.gif" class="lozad bg" loading="lazy" src="/assets/img/about/mama-and-rosi.gif" alt="Mama & Rosi">
        </span>
      </div>
    </div>
  </div>
</div>