<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ .Site.BaseURL }}">
      <img class="navbar-logo" src="/assets/img/logo-circle.svg" alt="FVCproductions">
    </a>
    <div class="navbar-burger burger" data-target="navmenu-transparent">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div id="navmenu-transparent" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/about">About 👀</a>
      <a class="navbar-item" href="/blog">Blog 📝️</a>
      <a class="navbar-item" href="/blog">Portfolio ️🔧️</a>
      <a class="navbar-item" href="/speaking">Speaking 💬️</a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="/adventures">Archive 🕒️</a>
          <a class="navbar-item" href="/awards">Awards 🏆️</a>
          <a class="navbar-item" href="/contact">Contact 📨️</a>
          <a class="navbar-item" href="/search">Search 🔍️</a>
          <hr class="navbar-divider">
          <div class="navbar-item">
            Version 1.0.0
          </div>
        </div>
      </div>
    </div>
</nav>
