<script id="algolia__template" type="text/template">
{% raw %}
    <div class="algolia__result">
        <a class="algolia__result-link" href="{{ full_url }}#algolia:{{ css_selector }}">{{{ _highlightResult.title.value }}}</a> {{#posted_at}}
        <div class="algolia__result-date">{{ posted_at_readable }}</div>
        {{/posted_at}}
        <div class="algolia__result-text">{{{ _highlightResult.text.value }}}</div>
    </div>
{% endraw %}
</script>
<script id="algolia__template--no-results" type="text/template">
    No results found.
</script>