<div class="page-section">
  <div class="12u$">
    <div class="filter-button-group">
      <!-- Adventures -->
      {{ if .Params.adventures }} {{ partial "filter/buttons/options/adventures.html" . }}
      <!-- Blogging -->
      {{ else if .Params.blog }} {{ partial "filter/buttons/options/blog.html" . }}
      <!-- Portfolio -->
      {{ else if .Params.portfolio }} {{ partial "filter/buttons/options/portfolio.html" . }}
      <!-- Reviews -->
      {{ else if .Params.reviews }} {{ partial "filter/buttons/options/reviews.html" . }}
      <!-- Speaking -->
      {{ else if .Params.speaking }} {{ partial "filter/buttons/options/speaking.html" . }} {{ end }}
    </div>
  </div>
</div>
